<% content_for :javascripts do %>
  <%= javascript_pack_tag 'd3' %>
  <%= javascript_pack_tag 'mpa' %>
<% end %>

<div class='row'>
  <div class='col-xs-6'>
    <div class='card'>
      <div class='card-title card-title-colored' id='expand_add_dataset_button'>
      <h2 class='card-title-text'>
        Metaproteomics Analysis
      </h2>
    </div>
      <div id="progress-analysis" class="unipept-progress unipept-progress-indeterminate">
        <div class="progressbar bar bar1" style="width: 0;"></div>
        <div class="bufferbar bar bar2" style="width: 100%;"></div>
        <div class="auxbar bar bar3" style="width: 0;"></div>
      </div>
      <div class='card-supporting-text' >
        <div class='list' id='dataset_list'>
        </div>
      </div>
    </div>
  </div>
  <div class='col-xs-6'>
    <div class='card' id='add_dataset_form'>
      <div class='card-title card-title-colored' id='expand_add_dataset_button'>
        <h2 class='card-title-text'>
          Dataset
        </h2>
      </div>
      <div class='card-supporting-text'>
        <%= render('shared/sequence_multi_search_form') %>
        <div id="search_button" class='search-buttons-centered'>
          <%= button_tag(raw("<span class='glyphicon glyphicon-plus grow'></span> Add"), :class => "btn btn-primary btn-animate input-item", :id =>"mpa-add-dataset") %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class='card card-nav'>
  <div class='card-title card-title-colored'>
    <ul class="nav nav-tabs visualisations" id="viz-tabs">
      <li class="active"><a href="#sunburstWrapper" data-toggle="tab">Sunburst</a></li>
      <li><a href="#treemapWrapper" data-toggle="tab">Treemap</a></li>
      <li><a href="#treeviewWrapper" data-toggle="tab">Treeview</a></li>
      <li><a href="#outline" data-toggle="tab">Hierarchical outline</a></li>
    </ul>
  </div>
  <div class='card-supporting-text multi-results'>
    <div class="full-screen-container tab-content multi-search not-full-screen">
      <div id="buttons" class='buttons-single'></div>
      <div class="full-screen-bar">
        <div class="logo"><img src="<%= asset_path('trans_logo.png') %>" alt="logo" width="40" height="40"></div>
        <nav class="fullScreenNav">
          <ul class="visualisations">
            <li class="active"><a href="#sunburstWrapper" data-toggle="tab">Sunburst</a></li>
            <li><a href="#treemapWrapper" data-toggle="tab">Treemap</a></li>
            <li><a href="#treeviewWrapper" data-toggle="tab">Treeview</a></li>
          </ul>
        </nav>
        <div class="fullScreenActions">
          <a title="Reset the visualisation" class="btn-animate reset"><span class="glyphicon glyphicon-repeat spin"></span></a>
          <a title="Download the current view as an svg or png image" class="btn-animate download"><span class="glyphicon glyphicon-download down"></span></a>
          <a title="Exit full screen mode" class="btn-animate exit"><span class="glyphicon glyphicon-resize-small shrink"></span></a>
        </div>
      </div>
      <div class="tab-pane active" id="sunburstWrapper">
        <h2 class="ghead">
          <span class="dir">
            <a class="btn btn-xs btn-default btn-animate" id="sunburst-reset" title="reset visualisation"><span class="glyphicon glyphicon-repeat spin"></span></a>
          </span>
          <span class="dir">
            <div class="btn-group" id="colorswap">
              <a class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown" id="colorswap-button"><span class="glyphicon glyphicon-cog"></span></a>
              <ul class="dropdown-menu dropdown-menu-right dropdown-menu-form">
                <li title="Enabling this will assign fixed colors to taxa making it easier to compare samples.">
                  <div class="checkbox"><label class="checkbox"><input type="checkbox" id="colorswap-checkbox">Use fixed colors</label></div>
                </li>
              </ul>
            </div>
          </span>
          <span class="dir text">Click a slice to zoom in and the center node to zoom out</span>
        </h2>
        <div id="mpa-sunburst">
          <output id="sunburstPanel">
              <div class="mpa-waiting">
                  <%= image_tag("mpa/placeholder_sunburst.svg", alt:"Please wait while we are preparing your data...", class:"mpa-placeholder") %>
              </div>
          </output>
        </div>
      </div>
      <div class="tab-pane" id="treemapWrapper">
        <h2 class="ghead">
          <span class="dir">
            <a class="btn btn-xs btn-default btn-animate" id="treemap-reset" title="reset visualisation"><span class="glyphicon glyphicon-repeat spin"></span></a>
          </span>
          <span class="dir text">Click a square to zoom in and right click to zoom out</span>
        </h2>
        <output id="mpa-treemap"><div class="mpa-waiting">
            <%= image_tag("mpa/placeholder_treemap.svg", alt:"Please wait while we are preparing your data...", class:"mpa-placeholder") %>
        </div></output>
      </div>
      <div class="tab-pane" id="treeviewWrapper">
        <h2 class="ghead">
          <span class="dir">
            <a class="btn btn-xs btn-default btn-animate" id="treeview-reset" title="reset visualisation"><span class="glyphicon glyphicon-repeat spin"></span></a>
          </span>
          <span class="dir text">Scroll to zoom, drag to pan, click a node to expand, right click a node to set as root</span>
        </h2>
        <output id="mpa-treeview">
          <div class="mpa-waiting">
              <%= image_tag("mpa/placeholder_treeview.svg", alt:"Please wait while we are preparing your data...", class:"mpa-placeholder") %>
          </div>
        </output>
      </div>
      <div class="tab-pane card-supporting-text" id="outline">
        <div class="input-group" id="tree_search_group">
          <%= search_field_tag(:tree_search, "", :placeholder => "search for an organism...", :class => "form-control") %>
          <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
        </div>
        <div class="visualClear"></div>
        <div id="searchtree" class="treeView multi"></div>
        <div id="tree_data">
          <p>
            Click on a node in the tree to see the peptides associated with that organism.
            Double-click to focus on it.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class='card card-nav'>
  <div class='card-title card-title-colored'>
    <ul class="nav nav-tabs" id="fa-tabs">
      <li class="active"><a href="#goWrapper" data-toggle="tab">GO terms</a></li>
      <li><a href="#ecWrapper" data-toggle="tab">EC numbers</a></li>
    </ul>
    <div class="nav-right">
      <div class="dropdown pull-right">
        <button class="btn btn-default dropdown-toggle" type="button" id="mpa-select-fa-sort" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <span class='glyphicon glyphicon-sort-by-attributes-alt pull-left'></span> <span id="mpa-select-fa-sort-name">Peptides %</span>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right" id="mpa-select-fa-sort-items" aria-labelledby="mpa-selet-fa-sort">
          <li class="dropdown-header">Sort by number of peptides in related proteins
            <span class="small glyphicon glyphicon-question-sign help btn-icon" data-help-id="mpa-help-sorting"></span>
          </li>
          <li>
            <a href="#" data-shade-field="fractionOfPepts" data-field="fractionOfPepts" data-as="percent">Peptides %</a>
          </li>
          <li>
            <a href="#" id="mpa-select-fa-sort-default" data-shade-field="fractionOfPepts" data-field="numberOfPepts" data-as="int">Peptides</a>
          </li>
        </ul>
      </div>
      </div>
      </div>
      <div id="fa-filter-warning" class='card-supporting-text' style="display:none;">
        <strong>Filtered results: </strong>
        These results are limited to the <span class="mpa-fa-numpepts">peptides</span> specific to <strong class="mpa-fa-scope">Organism</strong>.


        <button class="btn btn-default" id="fa-undo-filter">Undo</button>
      </div>
      <div id="progress-fa-analysis" class="unipept-progress unipept-progress-indeterminate">
        <div class="progressbar bar bar1" style="width: 0%;"></div>
        <div class="bufferbar bar bar2" style="width: 100%;"></div>
        <div class="auxbar bar bar3" style="width: 0%;"></div>
      </div>
      <div class="tab-content mpa-fa">
        <div>
          <div class="btn-group" id="mpa-fa-advanced">
            <a class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown" id="mpa-fa-advanced-button">
              <span class="glyphicon glyphicon-cog"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right card-supporting-text" id="mpa-fa-advanced-options">
              <div class="form-group">
                <label for="mpa-fa-filter-precent">Filtering</label>
                <span data-help-id="mpa-help-filtering" class="small glyphicon glyphicon-question-sign help btn-icon"></span>
                <div class="input-group" id="mpa-fa-filter-precent-group">
                  <span class="input-group-addon">≥</span>
                  <input disabled=disabled type="number" class="form-control" min="0" max="100" autocomplete="off" step="5" value="5" id="mpa-fa-filter-precent"
                  />
                  <span class="input-group-addon">% of annotated proteins</span>
                </div>
              </div>
            </div>
          </div>
        </div>
    <div class="tab-pane active" id="goWrapper">
      <div class='card-supporting-text'>
        This panel shows the Gene Ontology annotations that were matched to
        your peptides. <span id="go-summary"></span>
        Click on a row in a table to see a taxonomy tree that highlights occurrences.
      </div>
      <output id="goPanel">
                <div class="mpa-waiting">
                    <h3>Biological Process</h3>
                    <%= image_tag("mpa/placeholder_GO.svg", alt:"Please wait while we are preparing your data...", class:"mpa-placeholder") %>
                    <h3>Cellular Component</h3>
                    <%= image_tag("mpa/placeholder_GO.svg", alt:"Please wait while we are preparing your data...", class:"mpa-placeholder") %>
                    <h3>Molecular Function</h3>
                    <%= image_tag("mpa/placeholder_GO.svg", alt:"Please wait while we are preparing your data...", class:"mpa-placeholder") %>
              </div>
      </output>
    </div>
    <div class="tab-pane" id="ecWrapper">
      <div class='card-supporting-text'>
        This panel shows the Enzyme Commission numbers that were matched to
        your peptides. <span id="ec-summary"></span>
        Click on a row in a table to see a taxonomy tree that highlights occurrences.
      </div>
      <div id="ecTable">Please wait while we are building a summary</div>
      <div id="ecTreeView">
        <div id="ec-btns">
          <button id='save-btn-ec' disabled=disabled class='btn btn-default btn-xs btn-animate'>
            <span class='glyphicon glyphicon-download down'></span> Save tree as image
          </button>
          <button id='reset-btn-ec' disabled=disabled class='btn btn-default btn-xs btn-animate' title="Reset view">
            <span class="glyphicon glyphicon-repeat spin"></span>
          </button>
        </div>
        <output>          <div class="mpa-waiting">
              <%= image_tag("mpa/placeholder_treeview.svg", alt:"Please wait while we are preparing your data...", class:"mpa-placeholder") %>
          </div> </output>
      </div></div>
  </div>
</div>


<div id="tooltip" class="tip"></div>

<script type="text/javascript">
  var selectedDatasets = <%= raw(@selected_datasets) %>;

  $(function () {
      new MPA(selectedDatasets);
  });
</script>


<script id="mpa-help-sorting" type="text/html" data-title="Sorting functional annotations">
<p>The functional annotations can be sorted on two metrics:</p>
<ul>
<li><strong>Peptides</strong>: The absolute number of peptides that are associated with a given functional annotation.</li>
<li><strong>Peptides%</strong>: Like peptides, but the reported value is represented as a percentage indicating the fraction of the total number of peptides.</li>
</ul>
<p>
Your "Filter duplicate peptides" setting is taken into account. If it is enabled, peptides that occur multiple times
in your input list are counted that many times.
</p>
</script>
<script id="mpa-help-filtering" type="text/html" data-title="Functional Annotation filtering">

<h4 id="quick-explanation">Quick explanation</h4>
<p>By default Unipept does not report all found annotations. It uses a clever filtering technique that removes untrustworthy annotations. The strength of This filter is expressed as a percentage.</p>
<ul>
<li><strong>0%</strong> means no filtering occurs. <br>
  We assign the annotation <var>A</var>. to a peptide sequence <var>P</var> if there is at least one protein that contains an exact match for <var>P</var> and has been assigned the annotation <var>A</var>.
</li>
<li><strong>100%</strong> is the strongest level of filtering. <br> In this case we require that every protein that contains a certain peptide sequence <var>P</var> has the annotation <var>A</var>. before we assign the annotation <var>A</var>. to the peptide.</li>
</ul>
<p>
  The default value is 5%. This means that a peptide sequence <var>P</var> is assumed to be annotated with an annotation <var>A<var> if at least 5% of the UniProt entries<a href="#fn1" class="footnote-ref" id="fnref1"><sup>1</sup></a> in which <var>P</var> occurs has been annotated with <var>A<var>.
</p>
<h4 id="in-more-depth">In more depth</h4>
<p>
  When you supply a list of peptides to Unipept, it needs to find out what functional annotations correspond to each of those peptides. To do this we look at the UniProt proteins that in which each of your peptides occurs.
</p>
<section class="card">
  <div class="row">
  <div class="col-xs-5">
      <p class="card-supporting-text">
          <strong>1. Fetch protein information</strong><br>
          UniProt proteins are annotated with GO Terms and EC numbers. We want to project these on tryptic peptides.
      </p>
  </div>
  <div class="col-xs-7">
      <%= image_tag("mpa/proteoms.svg" , class:"img-responsive") %>
  </div>
</div>
</section>

<section class="card">
  <div class="row">
    <div class="col-xs-5">
        <p class="card-supporting-text">
          <strong>2. Digest and copy annotations</strong><br>
          We perform an in-scilo trypsin digest of the proteins. The annotations of the proteins are copied to the products of the digests.
        </p>
    </div>
    <div class="col-xs-7">
        <%= image_tag("mpa/matches.svg" , class:"img-responsive") %>
    </div>
  </div>
</section>

<section class="card">
  <div class="row">
    <div class="col-xs-5">
      <p class="card-supporting-text">
          <strong>3. Summarise annotations per tryptic</strong><br>
            We can now see the annotations that various proteins assigned to a supplied tryptic peptide.
            In the next step we will count these.
        </p>
    </div>
    <div class="col-xs-7">
        <%= image_tag("mpa/annotations.svg" , class:"img-responsive") %>
    </div>
  </div>
</section>

<section class="card">
  <p class="card-supporting-text">
      <strong>4. Summarise annotations per tryptic and store in database</strong><br>
      In unipept we do the above experiment for each tryptic peptide in the UniProtKB during a precomputaion step. The number of occurrences of each annotation is stored in a database. When one of the sequences is used in an analysis we look up the results and only take annotations that occur in more than 5% of the matched Uniprot entries into account.
  </p>
  <%= image_tag("mpa/summary.svg" , class:"img-responsive") %>
</section>
<hr />
<ol>
<li id="fn1"><p>Only UniProt entries with at least one annotation are taken into account.<a href="#fnref1" class="footnote-back">↩</a></p></li>
</ol>



</script>
