<% content_for :javascripts do %>
  <%= javascript_pack_tag 'd3' %>
  <%= javascript_pack_tag 'mpa' %>
<% end %>

<div class='card'>
  <div class='card-title card-title-colored'>
    <h2 class='card-title-text'>Metaproteomics Analysis</h2>
  </div>
  <div class='card-supporting-text'>
    <div class='col-md-6'>
        Please wait while we are preparing your data...
    </div>
    <div class='col-md-6'>
      <div id="search_elements" class='form-group'>
        <%= text_area_tag(:qs, nil, rows: 5, spellcheck: false, class: "form-control", disabled: true) %>
      </div>
      <div class="checkbox">
        <%= label_tag(:il, check_box_tag(:il, 1, false) + " Equate I and L", title: "Equate isoleucine (I) and leucine (L) when matching peptides to UniProt entries.", class: 'js-has-hover-tooltip') %>
      </div>
      <div class="checkbox">
        <%= label_tag(:dupes, check_box_tag(:dupes, 1, false) + " Filter duplicate peptides", title: "Remove duplicate peptides from the input before searching.", class:'js-has-hover-tooltip') %>
      </div>
      <div class="checkbox">
        <%= label_tag(:missed, check_box_tag(:missed, 1, false) + " Advanced missed cleavage handling", title: "Recombine subpeptides of miscleavages. Enabling this has a serious performance impact!", class: 'js-has-hover-tooltip') %>
      </div>
      <div id="search_button" class='search-buttons-centered'>
        <%= button_tag(raw("<span class='glyphicon glyphicon-refresh spin'></span> Update"), :class => "btn btn-primary btn-animate", :id =>"mpa-update-settings", :"data-loading-text" => "Loading...") %>
      </div>
    </div>
  </div>
</div>


<div id="treeview"></div>

<script type="text/javascript">
  var peptides = <%= raw(@peptides) %>;

  $(function () {
      new MPA(peptides);
  });
</script>
