<% content_for :javascripts do %>
  <%= javascript_pack_tag 'd3' %>
  <%= javascript_pack_tag 'mpa' %>
<% end %>

<div class='card'>
  <div class='card-title card-title-colored'>
    <h2 class='card-title-text'>Metaproteomics Analysis<%= " — #{@name}" if @name.present? %></h2>
  </div>
  <div id="progress-analysis" class="unipept-progress unipept-progress-indeterminate">
    <div class="progressbar bar bar1" style="width: 0%;"></div>
    <div class="bufferbar bar bar2" style="width: 100%;"></div>
    <div class="auxbar bar bar3" style="width: 0%;"></div>
  </div>
  <div class='card-supporting-text'>
    <div class='col-md-6'>
        <span id="search-intro">Please wait while we are preparing your data...</span>
        <hr>
        <div class="checkbox">
          <%= label_tag(:il, check_box_tag(:il, 1, false) + " Equate I and L", title: "Equate isoleucine (I) and leucine (L) when matching peptides to UniProt entries.", class: 'js-has-hover-tooltip') %>
        </div>
        <div class="checkbox">
          <%= label_tag(:dupes, check_box_tag(:dupes, 1, false) + " Filter duplicate peptides", title: "Remove duplicate peptides from the input before searching.", class:'js-has-hover-tooltip') %>
        </div>
        <div class="checkbox">
          <%= label_tag(:missed, check_box_tag(:missed, 1, false) + " Advanced missed cleavage handling", title: "Recombine subpeptides of miscleavages. Enabling this has a serious performance impact!", class: 'js-has-hover-tooltip') %>
        </div>
        <div id="search_button" class='search-buttons-centered'>
          <%= button_tag(raw("<span class='glyphicon glyphicon-refresh spin'></span> Update"), :class => "btn btn-primary btn-animate", :id =>"mpa-update-settings", :"data-loading-text" => "Loading...") %>
          <%= button_tag(raw("<span class='glyphicon glyphicon-download down'></span> Download results"), :class => "btn btn-animate", :id =>"mpa-download-results", :"data-loading-text" => "Loading...") %>
        </div>
    </div>
    <div class='col-md-6'>
      <div id="search_elements" class='form-group'>
        <%= text_area_tag(:qs, nil, rows: 7, spellcheck: false, class: "form-control", disabled: true) %>
      </div>
    </div>
  </div>
</div>


<div class='card card-nav'>
  <div class='card-title card-title-colored'>
    <ul class="nav nav-tabs visualisations" id="viz-tabs">
      <li class="active"><a href="#sunburstWrapper" data-toggle="tab">Sunburst</a></li>
      <li><a href="#treemapWrapper" data-toggle="tab">Treemap</a></li>
      <li><a href="#treeviewWrapper" data-toggle="tab">Treeview</a></li>
    </ul>
  </div>
  <div class='card-supporting-text multi-results'>
    <div class="full-screen-container tab-content multi-search not-full-screen">
      <div id="buttons" class='buttons-single'></div>
      <div class="full-screen-bar">
        <div class="logo"><img src="<%= asset_path('trans_logo.png') %>" alt="logo" width="40" height="40"></div>
        <nav class="fullScreenNav">
          <ul class="visualisations">
            <li class="active"><a href="#sunburstWrapper" data-toggle="tab">Sunburst</a></li>
            <li><a href="#treemapWrapper" data-toggle="tab">Treemap</a></li>
            <li><a href="#treeviewWrapper" data-toggle="tab">Treeview</a></li>
          </ul>
        </nav>
        <div class="fullScreenActions">
          <a title="Reset the visualisation" class="btn-animate reset"><span class="glyphicon glyphicon-repeat spin"></span></a>
          <a title="Download the current view as an svg or png image" class="btn-animate download"><span class="glyphicon glyphicon-download down"></span></a>
          <a title="Exit full screen mode" class="btn-animate exit"><span class="glyphicon glyphicon-resize-small shrink"></span></a>
        </div>
      </div>
      <div class="tab-pane active" id="sunburstWrapper">
        <h2 class="ghead">
          <span class="dir">
            <a class="btn btn-xs btn-default btn-animate" id="sunburst-reset" title="reset visualisation"><span class="glyphicon glyphicon-repeat spin"></span></a>
          </span>
          <span class="dir">
            <div class="btn-group" id="colorswap">
              <a class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown" id="colorswap-button"><span class="glyphicon glyphicon-cog"></span></a>
              <ul class="dropdown-menu dropdown-menu-right dropdown-menu-form">
                <li title="Enabling this will assign fixed colors to taxa making it easier to compare samples.">
                  <div class="checkbox"><label class="checkbox"><input type="checkbox" id="colorswap-checkbox">Use fixed colors</label></div>
                </li>
              </ul>
            </div>
          </span>
          <span class="dir text">Click a slice to zoom in and the center node to zoom out</span>
        </h2>
        <div id="mpa-sunburst">
          <div id="sunburstPanel">
              <div class="mpa-waiting" style="margin: 18px 0 0 0;">
                  <span style="margin: 16px;position: absolute;left: 7%;font-size: 2em;text-shadow: 0 0 5px white;top: 49%;">Please wait while we are preparing your data...</span>
                  <svg height="740" version="1.1" viewBox="0 0 452.38 369.33" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="915" style="margin;margin: -16px;"><defs><clipPath id="s"><path d="m409 516h11v-11h-11z"></path></clipPath><clipPath id="r"><path d="m409 516h11v-11h-11z"></path></clipPath><clipPath id="q"><path d="m409 486h11v-12h-11z"></path></clipPath><clipPath id="p"><path d="m409 486h11v-12h-11z"></path></clipPath><clipPath id="o"><path d="m126 520h277v-277h-277z"></path></clipPath><clipPath id="n"><path d="m126 520h277v-277h-277z"></path></clipPath><clipPath id="m"><path d="m126 520h277v-277h-277z"></path></clipPath><clipPath id="l"><path d="m126 520h277v-277h-277z"></path></clipPath><clipPath id="k"><path d="m126 520h277v-277h-277z"></path></clipPath><clipPath id="j"><path d="m126 520h277v-277h-277z"></path></clipPath><clipPath id="i"><path d="m126 520h277v-277h-277z"></path></clipPath><clipPath id="h"><path d="m126 520h277v-277h-277z"></path></clipPath><clipPath id="g"><path d="m126 520h277v-277h-277z"></path></clipPath><clipPath id="f"><path d="m126 520h277v-277h-277z"></path></clipPath><clipPath id="e"><path d="m126 520h277v-277h-277z"></path></clipPath><clipPath id="d"><path d="m126 520h277v-277h-277z"></path></clipPath><clipPath id="c"><path d="m126 520h277v-277h-277z"></path></clipPath><clipPath id="b"><path d="m126 520h277v-277h-277z"></path></clipPath><clipPath id="a"><path d="m126 520h277v-277h-277z"></path></clipPath></defs><g transform="matrix(1.3333 0 0 -1.3333 -168 693.33)"><g fill="#818181"><rect transform="scale(1,-1)" x="422.84" y="-515.16" width="19.562" height="4.0944"></rect><rect transform="scale(1,-1)" x="422.58" y="-508.13" width="32.09" height="4.0944"></rect><rect transform="scale(1,-1)" x="422.7" y="-499.84" width="25.297" height="4.0944"></rect><rect transform="scale(1,-1)" x="422.44" y="-492.81" width="28.916" height="4.0944"></rect></g><g clip-path="url(#s)"><path d="m414.12 516.33h6v-11h-6z" fill="#fff"></path></g><g clip-path="url(#r)"><path d="m414.12 516.33c2.711 0 5.035-1.934 5.531-4.598 0.492-2.668-0.98-5.304-3.511-6.277l-2.02 5.25z" fill="#acacac"></path></g><path d="m414.12 500.96h2v-6h-2z" fill="#fff"></path><path d="m414.12 500.96c0.629 0 1.254-0.105 1.848-0.312l-1.848-5.313z" fill="#d2d2d2"></path><g clip-path="url(#q)"><path d="m414.12 485.58h6v-12h-6z" fill="#fff"></path></g><g clip-path="url(#p)"><path d="m414.12 485.58c2.879 0 5.293-2.176 5.594-5.039s-1.61-5.492-4.426-6.09l-1.168 5.504z" fill="#ddd"></path></g><g clip-path="url(#o)"><path d="m125.5 520.33h278v-278h-278z" fill="#fff"></path></g><path d="m264.5 380.96c-0.207 0-0.375 0.168-0.375 0.375s0.168 0.375 0.375 0.375 0.375-0.168 0.375-0.375-0.168-0.375-0.375-0.375z" fill="#c5c5c5" fill-rule="evenodd"></path><path d="m264.5 380.96c-0.207 0-0.375 0.168-0.375 0.375s0.168 0.375 0.375 0.375 0.375-0.168 0.375-0.375-0.168-0.375-0.375-0.375z" fill="#acacac" fill-rule="evenodd"></path><path d="m264.5 373.46c-4.348 0-7.875 3.523-7.875 7.875 0 4.348 3.527 7.875 7.875 7.875s7.875-3.527 7.875-7.875c0-4.352-3.527-7.875-7.875-7.875z" fill="#d2d2d2" fill-rule="evenodd"></path><path d="m264.5 340.64c-22.473 0-40.688 18.214-40.688 40.687 0 22.469 18.215 40.688 40.688 40.688s40.688-18.219 40.688-40.688c0-22.473-18.215-40.687-40.688-40.687m0 33.187c4.141 0 7.5 3.356 7.5 7.5 0 4.141-3.359 7.5-7.5 7.5s-7.5-3.359-7.5-7.5c0-4.144 3.359-7.5 7.5-7.5z" fill="#ddd" fill-rule="evenodd"></path><path d="m264.5 454.83c11.043 0 21.941-2.488 31.891-7.281l-14.399-29.899c-5.457 2.625-11.437 3.993-17.492 3.993z" fill="#e5e5e5" fill-rule="evenodd"></path><path d="m264.5 487.64c15.973 0 31.738-3.598 46.129-10.528l-14.402-29.902c-9.899 4.765-20.743 7.242-31.727 7.242z" fill="#e7e7e7" fill-rule="evenodd"></path><g clip-path="url(#n)"><path d="m264.5 520.46c20.902 0 41.531-4.711 60.363-13.777l-14.398-29.903c-14.34 6.907-30.051 10.493-45.965 10.493z" fill="#e9e9e9" fill-rule="evenodd"></path></g><g clip-path="url(#m)"><path d="m264.5 553.27c25.832 0 51.328-5.821 74.602-17.028l-14.399-29.902c-18.781 9.043-39.359 13.742-60.203 13.742z" fill="#ebebeb" fill-opacity=".2" fill-rule="evenodd"></path></g><path d="m296.39 447.55c30.894-14.875 47.398-49.145 39.765-82.574-7.629-33.434-37.363-57.145-71.656-57.145s-64.027 23.711-71.656 57.145l32.355 7.382c4.184-18.336 20.492-31.339 39.301-31.339s35.117 13.003 39.301 31.339c4.187 18.336-4.863 37.133-21.809 45.293z" fill="#d5d5d5" fill-rule="evenodd"></path><path d="m310.63 477.12c44.687-21.523 68.555-71.086 57.519-119.44-11.039-48.36-54.046-82.656-103.65-82.656v33.187c34.117 0 63.699 23.59 71.293 56.852 7.59 33.261-8.828 67.351-39.566 82.156z" fill="#ddd" fill-rule="evenodd"></path><path d="m324.86 506.68c18.832-9.071 35.379-22.266 48.41-38.606l-25.949-20.691c-9.922 12.441-22.519 22.488-36.859 29.394z" fill="#ddd" fill-rule="evenodd"></path><g clip-path="url(#l)"><path d="m373.27 468.07c40.469-50.75 40.469-122.74 0-173.48l-25.949 20.691c30.817 38.641 30.817 93.457 0 132.1z" fill="#ddd" fill-rule="evenodd"></path></g><g clip-path="url(#k)"><path d="m398.93 488.53c50.015-62.715 50.015-151.68 0-214.4l-25.946 20.691c40.36 50.614 40.36 122.41 0 173.02z" fill="#dfdfdf" fill-opacity=".2" fill-rule="evenodd"></path></g><path d="m373.27 294.59c-13.031-16.344-29.578-29.539-48.41-38.606l-14.398 29.903c14.34 6.902 26.937 16.949 36.859 29.394z" fill="#d8d8d8" fill-rule="evenodd"></path><g clip-path="url(#j)"><path d="m398.93 274.13c-16.106-20.195-36.551-36.5-59.824-47.707l-14.399 29.898c18.777 9.047 35.281 22.203 48.277 38.5z" fill="#dbdbdb" fill-opacity=".2" fill-rule="evenodd"></path></g><g clip-path="url(#i)"><path d="m324.86 255.98c-18.832-9.07-39.461-13.777-60.363-13.777v33.188c15.914 0 31.625 3.585 45.965 10.492z" fill="#fff" fill-rule="evenodd"></path></g><path d="m264.5 275.02c-49.602 0-92.609 34.296-103.65 82.656l32.355 7.383c7.594-33.262 37.176-56.852 71.293-56.852z" fill="#cdcdcd" fill-rule="evenodd"></path><g clip-path="url(#h)"><path d="m264.5 242.21c-64.91 0-121.19 44.883-135.64 108.16l32.356 7.387c10.996-48.188 53.855-82.363 103.28-82.363z" fill="#cfcfcf" fill-rule="evenodd"></path></g><g clip-path="url(#g)"><path d="m264.5 209.4c-80.219 0-149.78 55.468-167.62 133.68l32.355 7.387c14.403-63.113 70.536-107.88 135.27-107.88z" fill="#d1d1d1" fill-opacity=".2" fill-rule="evenodd"></path></g><g clip-path="url(#f)"><path d="m264.5 176.58c-95.527 0-178.36 66.055-199.62 159.19l32.355 7.386c17.813-78.039 87.219-133.39 167.26-133.39z" fill="#d3d3d3" fill-opacity=".2" fill-rule="evenodd"></path></g><path d="m192.84 364.98c-4.977 21.804 0.246 44.691 14.191 62.179l25.945-20.691c-7.648-9.59-10.511-22.145-7.781-34.106z" fill="#c4c4c4" fill-rule="evenodd"></path><path d="m160.85 357.68c-7.2 31.543 0.359 64.644 20.531 89.941l25.945-20.691c-13.875-17.403-19.07-40.172-14.121-61.867z" fill="#c6c6c6" fill-rule="evenodd"></path><g clip-path="url(#e)"><path d="m128.86 350.37c-9.422 41.281 0.465 84.602 26.864 117.7l25.949-20.691c-20.102-25.207-27.633-58.195-20.457-89.625z" fill="#c9c9c9" fill-rule="evenodd"></path></g><g clip-path="url(#d)"><path d="m96.875 343.07c-11.645 51.016 0.574 104.56 33.199 145.46l25.946-20.691c-26.325-33.012-36.188-76.219-26.79-117.38z" fill="#cbcbcb" fill-opacity=".2" fill-rule="evenodd"></path></g><g clip-path="url(#c)"><path d="m64.883 335.77c-13.863 60.75 0.687 124.5 39.539 173.22l25.945-20.695c-32.555-40.817-44.746-94.238-33.129-145.14z" fill="#cecece" fill-opacity=".2" fill-rule="evenodd"></path></g><path d="m207.04 427.16c13.945 17.489 35.098 27.676 57.465 27.676v-33.187c-12.27 0-23.867-5.586-31.52-15.18z" fill="#c1c1c1" fill-rule="evenodd"></path><path d="m181.38 447.62c20.172 25.293 50.765 40.028 83.117 40.028v-33.188c-22.254 0-43.297-10.133-57.172-27.531z" fill="#c4c4c4" fill-rule="evenodd"></path><path d="m155.73 468.07c13.031 16.34 29.578 29.535 48.41 38.606l14.398-29.903c-14.34-6.906-26.937-16.953-36.859-29.394z" fill="#c8c8c8" fill-rule="evenodd"></path><g clip-path="url(#b)"><path d="m130.07 488.53c16.106 20.196 36.551 36.504 59.824 47.711l14.399-29.902c-18.777-9.043-35.281-22.203-48.277-38.5z" fill="#cbcbcb" fill-opacity=".2" fill-rule="evenodd"></path></g><g clip-path="url(#a)"><path d="m204.14 506.68c18.832 9.066 39.461 13.777 60.363 13.777v-33.187c-15.914 0-31.625-3.586-45.965-10.493z" fill="#fff" fill-rule="evenodd"></path></g><rect transform="scale(1,-1)" x="422.57" y="-483.13" width="25.297" height="4.0944" fill="#818181"></rect><rect transform="scale(1,-1)" x="422.3" y="-476.11" width="28.916" height="4.0944" fill="#818181"></rect></g></svg>
                </div>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="treemapWrapper">
        <h2 class="ghead">
          <span class="dir">
            <a class="btn btn-xs btn-default btn-animate" id="treemap-reset" title="reset visualisation"><span class="glyphicon glyphicon-repeat spin"></span></a>
          </span>
          <span class="dir text">Click a square to zoom in and right click to zoom out</span>
        </h2>
        <div id="mpa-treemap"><div class="mpa-waiting">Please wait while we are preparing your data...</div></div>
      </div>
      <div class="tab-pane" id="treeviewWrapper">
        <h2 class="ghead">
          <span class="dir">
            <a class="btn btn-xs btn-default btn-animate" id="treeview-reset" title="reset visualisation"><span class="glyphicon glyphicon-repeat spin"></span></a>
          </span>
          <span class="dir text">Scroll to zoom, drag to pan, click a node to expand, right click a node to set as root</span>
        </h2>
        <div id="mpa-treeview">
          <div class="mpa-waiting" style="margin: 18px 0 0 0;">
              <span style="margin: 16px;position: absolute;left: 7%;font-size: 2em;text-shadow: 0 0 5px white;top: 49%;">Please wait while we are preparing your data...</span>
              <svg height="500" width="915" style="margin: -16px;" version="1.1" viewBox="0 0 263.31 116.53" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><clipPath id="a"><path d="m126 513h343v-225h-343z"/></clipPath></defs><g transform="matrix(1.3333 0 0 -1.3333 -288.3 597.52)"><g transform="translate(39.808 -.2671)"><g clip-path="url(#a)"><g transform="matrix(1,0,0,-1,0,841)"><path d="m280.06 468.43c33.75 0 33.75-3.817 67.5-3.817" fill="none" stroke="#575757" stroke-linecap="round" stroke-opacity=".5" stroke-width=".78125"/></g><g transform="matrix(1,0,0,-1,0,841)"><path d="m280.06 468.43c33.75 0 33.75-0.035 67.5-0.035" fill="none" stroke="#575757" stroke-linecap="round" stroke-opacity=".5" stroke-width=".78125"/></g><g transform="matrix(1,0,0,-1,0,841)"><path d="m280.06 468.43c33.75 0 33.75 3.816 67.5 3.816" fill="none" stroke="#575757" stroke-linecap="round" stroke-opacity=".5" stroke-width=".925"/></g><g transform="matrix(1,0,0,-1,0,841)"><path d="m280.06 450.12c33.75 0 33.75-7.328 67.5-7.328" fill="none" stroke="#5d5d5d" stroke-linecap="round" stroke-opacity=".5" stroke-width="2.9188"/></g><g transform="matrix(1,0,0,-1,0,841)"><path d="m280.06 450.12c33.75 0 33.75 0.344 67.5 0.344" fill="none" stroke="#5d5d5d" stroke-linecap="round" stroke-opacity=".5" stroke-width="6.4313"/></g><g transform="matrix(1,0,0,-1,0,841)"><path d="m280.06 450.12c33.75 0 33.75 7.332 67.5 7.332" fill="none" stroke="#5d5d5d" stroke-linecap="round" stroke-opacity=".5" stroke-width="1.5438"/></g><g transform="matrix(1,0,0,-1,0,841)"><path d="m280.06 412.95c33.75 0 33.75-12.508 67.5-12.508" fill="none" stroke="#575757" stroke-linecap="round" stroke-opacity=".5" stroke-width="1.1313"/></g><g transform="matrix(1,0,0,-1,0,841)"><path d="m280.06 412.95c33.75 0 33.75-8.453 67.5-8.453" fill="none" stroke="#575757" stroke-linecap="round" stroke-opacity=".5" stroke-width=".98125"/></g><g transform="matrix(1,0,0,-1,0,841)"><path d="m280.06 412.95c33.75 0 33.75-4.57 67.5-4.57" fill="none" stroke="#575757" stroke-linecap="round" stroke-opacity=".5" stroke-width=".78125"/></g><g transform="matrix(1,0,0,-1,0,841)"><path d="m280.06 412.95c33.75 0 33.75-0.777 67.5-0.777" fill="none" stroke="#575757" stroke-linecap="round" stroke-opacity=".5" stroke-width=".80625"/></g><g transform="matrix(1,0,0,-1,0,841)"><path d="m280.06 412.95c33.75 0 33.75 12.508 67.5 12.508" fill="none" stroke="#575757" stroke-linecap="round" stroke-opacity=".5" stroke-width="19.756"/></g><g transform="matrix(1,0,0,-1,0,841)"><path d="m212.56 440.69c33.75 0 33.75-27.739 67.5-27.739" fill="none" stroke="#575757" stroke-linecap="round" stroke-opacity=".5" stroke-width="23.506"/></g><g transform="matrix(1,0,0,-1,0,841)"><path d="m212.56 440.69c33.75 0 33.75 9.433 67.5 9.433" fill="none" stroke="#5d5d5d" stroke-linecap="round" stroke-opacity=".5" stroke-width="12.169"/></g><g transform="matrix(1,0,0,-1,0,841)"><path d="m212.56 440.69c33.75 0 33.75 27.738 67.5 27.738" fill="none" stroke="#575757" stroke-linecap="round" stroke-opacity=".5" stroke-width=".98125"/></g><g transform="matrix(1,0,0,-1,0,841)"><path d="m348.02 472.24c0 0.258-0.207 0.465-0.461 0.465-0.253 0-0.46-0.207-0.46-0.465 0-0.254 0.207-0.461 0.46-0.461 0.254 0 0.461 0.207 0.461 0.461" fill="#575757" stroke="#575757" stroke-width=".5625"/></g><g transform="matrix(1,0,0,-1,0,841)"><path d="m347.95 468.39c0 0.214-0.176 0.39-0.391 0.39-0.214 0-0.39-0.176-0.39-0.39 0-0.215 0.176-0.391 0.39-0.391 0.215 0 0.391 0.176 0.391 0.391" fill="#575757" stroke="#575757" stroke-width=".5625"/></g><g transform="matrix(1,0,0,-1,0,841)"><path d="m347.95 464.61c0 0.219-0.176 0.391-0.391 0.391-0.214 0-0.39-0.172-0.39-0.391 0-0.214 0.176-0.386 0.39-0.386 0.215 0 0.391 0.172 0.391 0.386" fill="#575757" stroke="#575757" stroke-width=".5625"/></g><g transform="matrix(1,0,0,-1,0,841)"><path d="m280.56 468.43c0 0.273-0.219 0.492-0.493 0.492-0.273 0-0.492-0.219-0.492-0.492 0-0.27 0.219-0.492 0.492-0.492 0.274 0 0.493 0.222 0.493 0.492" fill="none" stroke="#575757" stroke-width=".5625"/></g><g transform="matrix(1,0,0,-1,0,841)"><path d="m348.33 457.45c0 0.422-0.344 0.77-0.77 0.77-0.425 0-0.769-0.348-0.769-0.77 0-0.426 0.344-0.773 0.769-0.773 0.426 0 0.77 0.347 0.77 0.773" fill="#5d5d5d" stroke="#5d5d5d" stroke-width=".5625"/></g><path d="m347.56 384.32c0.18 0 0.356-0.066 0.497-0.179l-0.497-0.594z" fill="#5d5d5d" fill-opacity=".8"/><g transform="matrix(1,0,0,-1,0,841)"><path d="m350.78 450.46c0 1.777-1.437 3.215-3.215 3.215-1.777 0-3.214-1.438-3.214-3.215 0-1.774 1.437-3.215 3.214-3.215 1.778 0 3.215 1.441 3.215 3.215" fill="#5d5d5d" stroke="#5d5d5d" stroke-width=".5625"/></g><path d="m347.56 393.75c0.313 0 0.626-0.047 0.926-0.137l-0.926-3.078z" fill="#5d5d5d" fill-opacity=".8"/><g transform="matrix(1,0,0,-1,0,841)"><path d="m349.02 442.79c0 0.805-0.653 1.457-1.458 1.457-0.804 0-1.457-0.652-1.457-1.457 0-0.809 0.653-1.461 1.457-1.461 0.805 0 1.458 0.652 1.458 1.461" fill="#5d5d5d" stroke="#5d5d5d" stroke-width=".5625"/></g><path d="m347.56 399.67c0.043 0 0.083-4e-3 0.126-8e-3l-0.126-1.453z" fill="#5d5d5d" fill-opacity=".8"/><g transform="matrix(1,0,0,-1,0,841)"><path d="m286.15 450.12c0 3.359-2.726 6.086-6.086 6.086-3.359 0-6.085-2.727-6.085-6.086s2.726-6.086 6.085-6.086c3.36 0 6.086 2.727 6.086 6.086" fill="none" stroke="#5d5d5d" stroke-width=".5625"/></g><path d="m280.06 396.96c3.266 0 5.95-2.578 6.083-5.84l-6.083-0.246z" fill="#5d5d5d" fill-opacity=".8"/><g transform="matrix(1,0,0,-1,0,841)"><path d="m357.44 425.46c0 5.453-4.421 9.875-9.879 9.875-5.457 0-9.878-4.422-9.878-9.875 0-5.457 4.421-9.879 9.878-9.879 5.458 0 9.879 4.422 9.879 9.879" fill="#575757" stroke="#575757" stroke-width=".5625"/></g><path d="m347.56 425.42c1.926 0 3.809-0.563 5.422-1.621l-5.422-8.258z" fill="#575757" fill-opacity=".8"/><g transform="matrix(1,0,0,-1,0,841)"><path d="m347.96 412.17c0 0.226-0.18 0.406-0.403 0.406-0.222 0-0.402-0.18-0.402-0.406 0-0.223 0.18-0.402 0.402-0.402 0.223 0 0.403 0.179 0.403 0.402" fill="#575757" stroke="#575757" stroke-width=".5625"/></g><g transform="matrix(1,0,0,-1,0,841)"><path d="m347.95 408.38c0 0.215-0.176 0.391-0.391 0.391-0.214 0-0.39-0.176-0.39-0.391s0.176-0.391 0.39-0.391c0.215 0 0.391 0.176 0.391 0.391" fill="#575757" stroke="#575757" stroke-width=".5625"/></g><g transform="matrix(1,0,0,-1,0,841)"><path d="m348.06 404.5c0 0.274-0.219 0.492-0.493 0.492-0.273 0-0.492-0.218-0.492-0.492 0-0.269 0.219-0.492 0.492-0.492 0.274 0 0.493 0.223 0.493 0.492" fill="#575757" stroke="#575757" stroke-width=".5625"/></g><path d="m347.56 437c0.129 0 0.254-0.055 0.348-0.144l-0.348-0.348z" fill="#575757" fill-opacity=".8"/><g transform="matrix(1,0,0,-1,0,841)"><path d="m348.13 400.44c0 0.313-0.254 0.563-0.567 0.563-0.312 0-0.566-0.25-0.566-0.563 0-0.312 0.254-0.566 0.566-0.566 0.313 0 0.567 0.254 0.567 0.566" fill="#575757" stroke="#575757" stroke-width=".5625"/></g><g transform="matrix(1,0,0,-1,0,841)"><path d="m291.81 412.95c0 6.489-5.257 11.75-11.75 11.75-6.492 0-11.75-5.261-11.75-11.75 0-6.492 5.258-11.754 11.75-11.754 6.493 0 11.75 5.262 11.75 11.754" fill="none" stroke="#575757" stroke-width=".5625"/></g><path d="m280.06 439.8c3.344 0 6.528-1.426 8.758-3.918l-8.758-7.836z" fill="#575757" fill-opacity=".8"/><g transform="matrix(1,0,0,-1,0,841)"><path d="m232.25 440.69c0 10.874-8.812 19.687-19.688 19.687-10.874 0-19.687-8.813-19.687-19.687 0-10.876 8.813-19.688 19.687-19.688 10.876 0 19.688 8.812 19.688 19.688" fill="none" stroke="#aaa" stroke-width=".5625"/></g><path d="m212.56 420c4.547 0 8.954-1.574 12.469-4.453l-12.469-15.235z" fill="#aaa" fill-opacity=".8"/></g></g></g></svg>
            </div>           
        </div>
      </div>
    </div>
  </div>
</div>

<div class='card card-nav'>
  <div class='card-title card-title-colored'>
    <ul class="nav nav-tabs">
      <li class="active"><a href="#outline" data-toggle="tab">Hierarchical outline</a></li>
      <li><a href="#mismatches-pane" data-toggle="tab">Mismatches</a></li>
    </ul>
  </div>
  <div class='card-supporting-text'>
    <div class="tab-content multi-search">
      <div class="tab-pane active" id="outline">
        <div class="input-group" id="tree_search_group">
          <%= search_field_tag(:tree_search, "", :placeholder => "search for an organism...", :class => "form-control") %>
          <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
        </div>
        <div class="visualClear"></div>
        <div id="searchtree" class="treeView multi"></div>
        <div id="tree_data">
          <p>Click on a node in the tree to see the peptides associated with that organism.</p>
        </div>
      </div>
      <div class="tab-pane" id="mismatches-pane">
          <div class="row">
            <div class="col-md-6">
              <ul class="mismatches">
              </ul>
            </div>
            <div class="col-md-6">
              <div id="copy-missed" class="clipboard-btn-wrapper"><span class="btn-clipboard">Copy</span></div>
              <div class="well">
                <h3>Sorry,</h3>
                <p>We didn't manage to find some of your peptides. You can <strong><span class="initialism">BLAST</span></strong> them by clicking the links on the left or <strong>copy</strong> them to your clipboard with the top right link.</p>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

<div class='card card-nav'>
  <div class='card-title card-title-colored'>
    <ul class="nav nav-tabs visualisations" id="fa-tabs">
      <li class="active"><a href="#goWrapper" data-toggle="tab">GO Terms</a></li>
      <li><a href="#ecWrapper" data-toggle="tab">EC Numbers</a></li>
      <li style="margin:5px;">
        <span class='glyphicon glyphicon-filter' style="margin: 0 -20px 0 20px;">
        </span><input type="number" min="0" max="100" step="5" value="5" class="js-has-hover-tooltip" title="Filer out annotations that occur in less than ...% of the Uniprot entries that correspond with a sequence"
          id="goFilterPerc" style="width: 5em;height: 2em;border: 1px solid #EEE;text-align: center;padding-left: 15px;background: white;"
        />

        <span class='glyphicon glyphicon-sort-by-attributes-alt' style="margin: 0 -20px 0 20px;">
          </span><select id="goField" style="background: white;width: 10em;height: 2em;border: 1px solid #EEE;text-align: center;padding-left:20px;">
          <optgroup label="Sort by weighted number of occurences in related proteins">
            <option selected value="value" data-as="percent">Weight (%)</option>
            <option value="weightedValue" data-as="2pos">Weight</option>
          </optgroup>
          <optgroup label="Sort by total number of occurences in related proteins">
            <option value="absoluteCountFiltered" data-as="int">#occur</option>
            <option value="absoluteCount" data-as="int">#occur+dup</option>
          </optgroup>
          <optgroup label="Sort by number of peptides in related proteins">
            <option value="numberOfPepts" data-as="int">#peptides</option>
          </optgroup>
        </select>
      </li>
    </ul>
  </div>
  <div id="progress-fa-analysis" class="unipept-progress unipept-progress-indeterminate">
    <div class="progressbar bar bar1" style="width: 0%;"></div>
    <div class="bufferbar bar bar2" style="width: 100%;"></div>
  <div class="auxbar bar bar3" style="width: 0%;"></div>
  </div>
  <div class="tab-content multi-search">
    <div class="tab-pane active" id="goWrapper">
      <div class='card-supporting-text'>
        The weight indicates the number of the sequences that contain a GO term multiplied by the
        probability that a sequence indicates that GO-term. The shown results are limited to peptides
        whose lowest common ancestor is lower or equal to <strong class="mpa-scope">Organism</strong>.
      </div>
      <div id="goPanel">Please wait while we are preparing your data...&nbsp;</div>
    </div>
    <div class="tab-pane" id="ecWrapper">
      <div class="buttons-single">
        <button id='save-btn-ec' class='btn btn-default btn-xs btn-animate'><span class='glyphicon glyphicon-download down'></span> Save tree as image</button>
      </div>
      <div class='card-supporting-text'>
        The weight indicates the number of the sequences that contain a EC code specifically
        multiplied by the probability that a sequence indicates that EC-code. The shown results are limited to peptides
        whose lowest common ancestor is lower or equal to <strong class="mpa-scope">Organism</strong>.
      </div>
      <div id="ecTable">Please wait while we are building a summary</div>
      <div id="ecTreeView">Please wait while we are building a summary</div></div>
  </div>
  <div>
      <button id="btn-clearFAfavorites" class="btn btn-default btn-xs" style="float:right"><span class="glyphicon glyphicon-star-empty"></span>Clear all stars</button>
      <button id="btn-onlyShowFAfavorites" class="btn btn-default btn-xs" style="float:right"><span class="glyphicon glyphicon-star"></span>Only show starred</button>
  </div>
</div>


<div id="tooltip" class="tip"></div>

<script type="text/javascript">
  var peptides = <%= raw(@peptides) %>;
  var il = <%= @il %>;
  var dupes = <%= @dupes %>;
  var missed = <%= @missed %>;

  $(function () {
      new MPA(peptides, il, dupes, missed);
  });
</script>
