<% content_for :javascripts do %>
  <%= javascript_pack_tag 'd3' %>
  <%= javascript_pack_tag 'mpa' %>
<% end %>

<div class='card'>
  <div class='card-title card-title-colored'>
    <h2 class='card-title-text'>Metaproteomics Analysis<%= " — #{@name}" if @name.present? %></h2>
  </div>
  <div id="progress-analysis" class="unipept-progress unipept-progress-indeterminate">
    <div class="progressbar bar bar1" style="width: 0%;"></div>
    <div class="bufferbar bar bar2" style="width: 100%;"></div>
    <div class="auxbar bar bar3" style="width: 0%;"></div>
  </div>
  <div class='card-supporting-text'>
    <div class='col-md-6'>
        <span id="search-intro">Please wait while we are preparing your data...</span>
        <hr>
        <div class="checkbox">
          <%= label_tag(:il, check_box_tag(:il, 1, false) + " Equate I and L", title: "Equate isoleucine (I) and leucine (L) when matching peptides to UniProt entries.", class: 'js-has-hover-tooltip') %>
        </div>
        <div class="checkbox">
          <%= label_tag(:dupes, check_box_tag(:dupes, 1, false) + " Filter duplicate peptides", title: "Remove duplicate peptides from the input before searching.", class:'js-has-hover-tooltip') %>
        </div>
        <div class="checkbox">
          <%= label_tag(:missed, check_box_tag(:missed, 1, false) + " Advanced missed cleavage handling", title: "Recombine subpeptides of miscleavages. Enabling this has a serious performance impact!", class: 'js-has-hover-tooltip') %>
        </div>
        <div id="search_button" class='search-buttons-centered'>
          <%= button_tag(raw("<span class='glyphicon glyphicon-refresh spin'></span> Update"), :class => "btn btn-primary btn-animate", :id =>"mpa-update-settings", :"data-loading-text" => "Loading...") %>
          <%= button_tag(raw("<span class='glyphicon glyphicon-download down'></span> Download results"), :class => "btn btn-animate", :id =>"mpa-download-results", :"data-loading-text" => "Loading...") %>
        </div>
    </div>
    <div class='col-md-6'>
      <div id="search_elements" class='form-group'>
        <%= text_area_tag(:qs, nil, rows: 7, spellcheck: false, class: "form-control", disabled: true) %>
      </div>
    </div>
  </div>
</div>


<div class='card card-nav'>
  <div class='card-title card-title-colored'>
    <ul class="nav nav-tabs visualisations" id="viz-tabs">
      <li class="active"><a href="#sunburstWrapper" data-toggle="tab">Sunburst</a></li>
      <li><a href="#treemapWrapper" data-toggle="tab">Treemap</a></li>
      <li><a href="#treeviewWrapper" data-toggle="tab">Treeview</a></li>
      <li><a href="#outline" data-toggle="tab">Hierarchical outline</a></li>
    </ul>
  </div>
  <div class='card-supporting-text multi-results'>
    <div class="full-screen-container tab-content multi-search not-full-screen">
      <div id="buttons" class='buttons-single'></div>
      <div class="full-screen-bar">
        <div class="logo"><img src="<%= asset_path('trans_logo.png') %>" alt="logo" width="40" height="40"></div>
        <nav class="fullScreenNav">
          <ul class="visualisations">
            <li class="active"><a href="#sunburstWrapper" data-toggle="tab">Sunburst</a></li>
            <li><a href="#treemapWrapper" data-toggle="tab">Treemap</a></li>
            <li><a href="#treeviewWrapper" data-toggle="tab">Treeview</a></li>
          </ul>
        </nav>
        <div class="fullScreenActions">
          <a title="Reset the visualisation" class="btn-animate reset"><span class="glyphicon glyphicon-repeat spin"></span></a>
          <a title="Download the current view as an svg or png image" class="btn-animate download"><span class="glyphicon glyphicon-download down"></span></a>
          <a title="Exit full screen mode" class="btn-animate exit"><span class="glyphicon glyphicon-resize-small shrink"></span></a>
        </div>
      </div>
      <div class="tab-pane active" id="sunburstWrapper">
        <h2 class="ghead">
          <span class="dir">
            <a class="btn btn-xs btn-default btn-animate" id="sunburst-reset" title="reset visualisation"><span class="glyphicon glyphicon-repeat spin"></span></a>
          </span>
          <span class="dir">
            <div class="btn-group" id="colorswap">
              <a class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown" id="colorswap-button"><span class="glyphicon glyphicon-cog"></span></a>
              <ul class="dropdown-menu dropdown-menu-right dropdown-menu-form">
                <li title="Enabling this will assign fixed colors to taxa making it easier to compare samples.">
                  <div class="checkbox"><label class="checkbox"><input type="checkbox" id="colorswap-checkbox">Use fixed colors</label></div>
                </li>
              </ul>
            </div>
          </span>
          <span class="dir text">Click a slice to zoom in and the center node to zoom out</span>
        </h2>
        <div id="mpa-sunburst">
          <div id="sunburstPanel"><div class="mpa-waiting">Please wait while we are preparing your data...</div></div>
                </div>
          </div>
      <div class="tab-pane" id="treemapWrapper">
        <h2 class="ghead">
          <span class="dir">
            <a class="btn btn-xs btn-default btn-animate" id="treemap-reset" title="reset visualisation"><span class="glyphicon glyphicon-repeat spin"></span></a>
          </span>
          <span class="dir text">Click a square to zoom in and right click to zoom out</span>
        </h2>
        <div id="mpa-treemap"><div class="mpa-waiting">Please wait while we are preparing your data...</div></div>
      </div>
      <div class="tab-pane" id="treeviewWrapper">
        <h2 class="ghead">
          <span class="dir">
            <a class="btn btn-xs btn-default btn-animate" id="treeview-reset" title="reset visualisation"><span class="glyphicon glyphicon-repeat spin"></span></a>
          </span>
          <span class="dir text">Scroll to zoom, drag to pan, click a node to expand, right click a node to set as root</span>
        </h2>
        <div id="mpa-treeview"><div class="mpa-waiting">Please wait while we are preparing your data...</div></div>
      </div>
      <div class="tab-pane card-supporting-text" id="outline">
        <div class="input-group" id="tree_search_group">
          <%= search_field_tag(:tree_search, "", :placeholder => "search for an organism...", :class => "form-control") %>
          <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
        </div>
        <div class="visualClear"></div>
        <div id="searchtree" class="treeView multi"></div>
        <div id="tree_data">
          <p>Click on a node in the tree to see the peptides associated with that organism.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class='card card-nav'>
  <div class='card-title card-title-colored'>
    <ul class="nav nav-tabs visualisations" id="fa-tabs">
      <li class="active"><a href="#goWrapper" data-toggle="tab">GO Terms</a></li>
      <li><a href="#ecWrapper" data-toggle="tab">EC Numbers</a></li>
      <li style="margin:5px;">
        <span class='glyphicon glyphicon-filter' style="margin: 0 -20px 0 20px;">
        </span><input disabled=disabled type="number" min="0" max="100" step="5" value="5" class="js-has-hover-tooltip" title="Filer out annotations that occur in less than ...% of the Uniprot entries that correspond with a sequence"
          id="goFilterPerc" style="width: 5em;height: 2em;border: 1px solid #EEE;text-align: center;padding-left: 15px;background: white;"
        />

        <span class='glyphicon glyphicon-sort-by-attributes-alt' style="margin: 0 -20px 0 20px;">
          </span><select disabled=disabled id="goField" style="background: white;width: 10em;height: 2em;border: 1px solid #EEE;text-align: center;padding-left:20px;">
          <optgroup label="Sort by number of peptides in related proteins">
            <option value="fractionOfPepts" data-as="percent">Peptides (%)</option>
            <option value="numberOfPepts" data-as="int">Peptides</option>
          </optgroup>
          <optgroup label="Sort by weighted number of occurrences in related proteins">
            <option selected value="value" data-as="percent">Evidence (%)</option>
            <option value="weightedValue" data-as="2pos">Evidence</option>
          </optgroup>
          <optgroup label="Sort by total number of occurrences in related proteins">
            <option value="absoluteCountFiltered" data-as="int">#Occur</option>
            <option value="absoluteCount" data-as="int">#Occur+dup</option>
          </optgroup>
        </select>

      <button disabled=disabled id='snapshot-fa' class='btn btn-default btn-xs js-has-hover-tooltip'
        title="Takes a snapshot of the current values. Change some settings so you can compare parts of the taxonomy tree.">
        <span class='glyphicon glyphicon-camera'></span>
        Use as base
      </button>
        
      </li>
    </ul>
  </div>
  <div id="fa-filter-warning" class='card-supporting-text' style="display:none;">
    <strong>Filtered results: </strong>
      These results are limited to peptides specific to <strong class="mpa-fa-scope">Organism</strong><span class="mpa-fa-numpepts">all peptides</span>.
    <button class="btn btn-default" id="fa-undo-filter">Undo</button>
  </div>
  <div id="progress-fa-analysis" class="unipept-progress unipept-progress-indeterminate">
    <div class="progressbar bar bar1" style="width: 0%;"></div>
    <div class="bufferbar bar bar2" style="width: 100%;"></div>
    <div class="auxbar bar bar3" style="width: 0%;"></div>
  </div>
  <div class="tab-content mpa-fa">
    <div class="tab-pane active" id="goWrapper">
      <div class='card-supporting-text'>
        This panel shows the Gene Ontology annotations that were matched to 
        your peptides. <span id="go-summary"></span>
        Click on a row in a table to see a taxonomy tree that highlights occurrences.
      </div>
      <div id="goPanel">Please wait while we are preparing your data...&nbsp;</div>
    </div>
    <div class="tab-pane" id="ecWrapper">
      <div class="buttons-single">
        <button id='save-btn-ec' class='btn btn-default btn-xs btn-animate'><span class='glyphicon glyphicon-download down'></span> Save tree as image</button>
      </div>
      <div class='card-supporting-text'>
        This panel shows the Enzyme Commission numbers that were matched to 
        your peptides. <span id="ec-summary"></span>
        Click on a row in a table to see a taxonomy tree that highlights occurrences.
      </div>
      <div id="ecTable">Please wait while we are building a summary</div>
      <div id="ecTreeView">Please wait while we are building a summary</div></div>
  </div>
  <div>
      <button id="btn-clearFAfavorites" class="btn btn-default btn-xs" style="float:right"><span class="glyphicon glyphicon-star-empty"></span>Clear all stars</button>
      <button id="btn-onlyShowFAfavorites" class="btn btn-default btn-xs" style="float:right"><span class="glyphicon glyphicon-star"></span>Only show starred</button>
  </div>
</div>


<div id="tooltip" class="tip"></div>

<script type="text/javascript">
  var peptides = <%= raw(@peptides) %>;
  var il = <%= @il %>;
  var dupes = <%= @dupes %>;
  var missed = <%= @missed %>;

  $(function () {
      new MPA(peptides, il, dupes, missed);
  });
</script>
