<div class='apidocs-example-wrapper'>
  <div class="apidocs-example" id="<%= example_id %>">
  <h4>Example <small><%= title %></small></h4>
  <%= raw(explanation) %>
  <span class="initialism"><b>POST</b></span>
  <pre class="pygmentize"><%= raw(post_request) %></pre>
  <span class="initialism"><b>GET</b></span>
  <pre><%= raw(get_request) %></pre>
</div>
<div class="highlight">
  <h4>Response</h4>
  <pre class="pygmentize pre-scrollable"><code><%= raw(response) %></code></pre>
</div>
</div>
