<div class='apidocs-example-wrapper'>
  <div class="apidocs-example">
    <div class='try-it-header'>
      <h2 id="try-it">Try it</h2>
    </div>
    <p>Use the <span class='initialism'>API</span> explorer form below to call the <%= name %> method on live data and see the response.</p>
    <form class="form-horizontal" id="try-it-form">
      <% if input %>
        <div class="form-group">
          <label for="try-input" class="col-xs-2 control-label">input[]</label>
          <div class="col-xs-10">
            <textarea class="form-control" id="try-input"></textarea>
          </div>
        </div>
      <% end %>
      <% if equate_il %>
        <div class="form-group">
          <label for="input" class="col-xs-2 control-label">equate_il</label>
          <div class="col-xs-10">
            <div class="checkbox">
              <label>
                <input type="checkbox" id="try-equate_il"> set to true
          </label>
            </div>
          </div>
        </div>
      <% end %>
      <% if extra %>
        <div class="form-group">
          <label for="input" class="col-xs-2 control-label">extra</label>
          <div class="col-xs-10">
            <div class="checkbox">
              <label>
                <input type="checkbox" id="try-extra"> set to true
          </label>
            </div>
          </div>
        </div>
      <% end %>
      <% if names %>
        <div class="form-group">
          <label for="input" class="col-xs-2 control-label">names</label>
          <div class="col-xs-10">
            <div class="checkbox">
              <label>
                <input type="checkbox" id="try-names"> set to true
          </label>
            </div>
          </div>
        </div>
      <% end %>
      <% if domains %>
        <div class="form-group">
          <label for="input" class="col-xs-2 control-label">domains</label>
          <div class="col-xs-10">
            <div class="checkbox">
              <label>
                <input type="checkbox" id="try-domains"> set to true
              </label>
            </div>
          </div>
        </div>
      <% end %>
      <% if defined?(link) && link %>
        <div class="form-group">
          <label for="input" class="col-xs-2 control-label">link</label>
          <div class="col-xs-10">
            <div class="checkbox">
              <label>
                <input type="checkbox" id="try-link"> set to true
              </label>
            </div>
          </div>
        </div>
      <% end %>
      <div class="form-group">
        <div class="col-xs-offset-2 col-xs-10">
          <button type="submit" class="btn btn-primary" id="try-it-submit">Try it!</button>
        </div>
      </div>
    </form>
  </div>
  <div class="highlight">
    <h4>Request</h4>
    <pre class="pygmentize pre-scrollable"><code id="try-it-request"></code></pre>
    <br>
    <h4>Response</h4>
    <pre class="pygmentize pre-scrollable"><code id="try-it-response"></code></pre>
  </div>
</div>
<script>
  $(function() {
    var name = "<%= name %>",
        server = "<%= Rails.application.config.api_host %>",
        input = <%= input %>,
        equate_il = <%= equate_il %>,
        extra = <%= extra %>,
        names = "<%= names %>",
        domains = <%= domains %>,
        link = <%= defined?(link) && link %>;

    $("#try-it-form").submit(function (e) {
      e.preventDefault();

      // get parameters
      var valInput = $("#try-input").val();
      var valEquate = $("#try-equate_il").prop('checked');
      var valExtra = $("#try-extra").prop('checked');
      var valNames = $("#try-names").prop('checked');
      var valDomains = $("#try-domains").prop('checked');
      var valLink = $("#try-link").prop('checked');

      var url = "http://" + server + "/api/v1/" + name + ".json?";

      if (input) {
        var first = true;
        valInput = valInput.split("\n");
        valInput.forEach(function (val) {
          if (!first) {
            url += "&";
          }
          url += "input[]=" + val;
          first = false;
        });
      }

      if (equate_il && valEquate) {
        url += "&equate_il=true"
      }

      if (extra && valExtra) {
        url += "&extra=true"
      }

      if (names && valNames) {
        url += "&names=true"
      }

      if (domains && valDomains) {
          url += "&domains=true"
      }

      if (link && valLink) {
          url += "&link=true"
      }


      $("#try-it-request").html("<a href='" + url + "' target='_blank'>" + url + "</a>");
      $("#try-it-response").text("loading...");
      $.get(url.replace("http", "https"), function (data) {
        $("#try-it-response").text(data);
      }, "html")
      .fail(function (e) {
        console.log(e);
      });
    });
  });
</script>
