<div class="apidocs row">
  <div class="col-xs-9">
    <h1 class='api-title'>Unipept <span class="initialism">API</span> documentation <small>v1.2</small></h1>
    <p class='lead'>
      Most of the peptide analysis workflows provided by Unipept are available as web services. This page contains the documentation on how to use these services.
    </p>
    <p>The Unipept <span class="initialism">API</span> is <span class="initialism">HTTP</span>-based and always returns <span class="initialism">JSON</span> objects as response. There are five basic methods:</p>
    <dl class='dl-horizontal'>
      <dt>pept2prot</dt>
      <dd>Returns the set of UniProt entries containing a given tryptic peptide</dd>
      <dt>pept2taxa</dt>
      <dd>Returns the set of taxa extracted from the UniProt entries containing a given tryptic peptide</dd>
      <dt>pept2lca</dt>
      <dd>Returns the taxonomic lowest common ancestor for a given tryptic peptide</dd>
      <dt>pept2ec</dt>
      <dd>Returns the set of EC-numbers for a given tryptic peptide</dd>
      <dt>pept2go</dt>
      <dd>Returns the set of GO-terms for a given tryptic peptide</dd>
      <dt>pept2interpro</dt>
      <dd>Returns the set of InterPro entries for a given tryptic peptide</dd>
      <dt>pept2funct</dt>
      <dd>Returns both the set of EC-numbers and the set of GO-terms for a given tryptic peptide</dd>
      <dt>peptinfo</dt>
      <dd>Returns the set of EC-numbers, the set of GO-terms and the lowest common ancestor for a given tryptic peptide</dd>
      <dt>taxa2lca</dt>
      <dd>Returns the taxonomic lowest common ancestor for a given list of taxon identifiers</dd>
      <dt>taxonomy</dt>
      <dd>Returns the taxonomic information for a given taxon identifier</dd>
    </dl>

    <p>If you use this API, please cite Mesuere et al. (2016) Bioinformatics <a href="https://doi.org/10.1093/bioinformatics/btw039" target="_blank">doi:10.1093/bioinformatics/btw039</a></p>

    <div class='card'>
        <div class='card-title card-title-colored'>
          <h2 class='card-title-text'>API functions</h2>
        </div>
        <div class='card-supporting-text'>
          <p>Click the links below for a detailed description of each of the five supported methods, including information about parameters, response format, examples, and live demonstrations.</p>

          <table class='table'>
            <thead>
              <tr>
                <th>Resource</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= link_to("POST /api/v1/pept2prot", api_apidocs_pept2prot_path) %></td>
                <td width='60%'>Returns the set of UniProt entries containing a given tryptic peptide</td>
              </tr>
              <tr>
                <td><%= link_to("POST /api/v1/pept2taxa", api_apidocs_pept2taxa_path) %></td>
                <td width='60%'>Returns the set of taxa extracted from the UniProt entries containing a given tryptic peptide</td>
              </tr>
              <tr>
                <td><%= link_to("POST /api/v1/pept2lca", api_apidocs_pept2lca_path) %></td>
                <td width='60%'>Returns the taxonomic lowest common ancestor for a given tryptic peptide</td>
              </tr>
              <tr>
                <td><%= link_to("POST /api/v1/taxa2lca", api_apidocs_taxa2lca_path) %></td>
                <td width='60%'>Returns the taxonomic lowest common ancestor for a given list of taxon identifiers</td>
              </tr>
              <tr>
                <td><%= link_to("POST /api/v1/taxonomy", api_apidocs_taxonomy_path) %></td>
                <td width='60%'>Returns the taxonomic information for a given taxon identifier</td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>

  </div>
  <div class="col-xs-3">
    <%= render 'api/shared/sidebar' %>
  </div>
</div>
