<div class="apidocs row">
  <div class="col-xs-9">
    <div class='page-header'>
      <h1 class='api-title'><span class="initialism">POST</span> /api/v1/pept2ec
        <br>
        <small>Returns both the functional EC-numbers and GO-terms associated with a given tryptic peptide.</small>
      </h1>
    </div>
    <p>
      This method returns the functional EC-numbers and GO-terms associated with a given tryptic peptide. This is the same information as provided when performing a search with the <%= link_to("Tryptic Peptide Analysis", search_single_path) %> in the web interface.
    </p>
    <div class='card'>
      <div class='card-title card-title-colored'>
        <h2 class='card-title-text' id='request'>Request</h2>
      </div>
      <div class='card-supporting-text'>
        <p>
          The pept2funct method can be used by doing a <span class="initialism">HTTP</span> <span class="initialism">POST</span>-request (preferred) or <span class="initialism">GET</span>-request to <code>http://<%= Rails.application.config.api_host %>/api/v1/pept2go</code>. <a href="#parameters">Parameters</a> can be included in the request body (<span class="initialism">POST</span>) or in the query string (<span class="initialism">GET</span>). The only required parameter is <code>input[]</code>, which takes one or more tryptic peptides.
        </p>
        <h3>input</h3>
        <p>
          <code>input[]</code> is a required parameter that takes one or more tryptic peptides. Unipept will return the functional EC-numbers and GO-terms associated with each of the <code>input[]</code> peptides based on their occurence in UniProt entries. To pass multiple peptides at once, simply add multiple <code>input[]</code> parameters (see <a href="#apidocs-example-multiple">example</a>).
        </p>
        <div class="apidocs-callout apidocs-callout-warning">
          <h4>Input size</h4>
          <p>Unipept puts no restrictions on the number of peptides passed to the <code>input[]</code> parameter. Keep in mind that searching for lots of peptides at once may cause the request to timeout or, in the case of a <span class="initialism">GET</span>-request, exceed the maximum URL length. When performing bulk searches, we suggest splitting the input set over requests of 100 peptides each.</p>
        </div>
        <h3>equate_il</h3>
        <p>
          <code>equate_il</code> is an optional parameter and can either be <code>true</code> or <code>false</code>. When not set explicitly, the parameter defaults to <code>false</code>. When the parameter is set to <code>true</code>, isoleucine (I) and leucine (L) are equated when matching tryptic peptides to UniProt entries. This setting is similar to checking the <i>Equate I and L?</i> checkbox when performing a search with the <%= link_to("Tryptic Peptide Analysis", search_single_path) %> in the web interface.
        </p>
        <h3>extra</h3>
        <p>
          <code>extra</code> is an optional parameter and can either be <code>true</code> or <code>false</code>. When not set explicitly, the parameter defaults to <code>false</code>. When the parameter is set to <code>true</code>, Unipept will also return the name associated with a GO-term. See the <a href="#response">response</a> section for an overview of the information fields returned.
        </p>
        <h3>split</h3>
        <p>
          <code>split</code> is an optional parameter that can be used to order the GO-terms in groups according to their namespace (cellular component, molecular function, biological process).
        </p>
        <div class="apidocs-callout apidocs-callout-warning">
          <h4>Performance penalty</h4>
          <p>Setting <code>extra</code> or <code>split</code> to <code>true</code> has a performance penalty inferred from additional database queries. Do not use this parameter unless the extra information fields are needed.</p>
        </div>
      </div>
    </div>
    <div class='card'>
      <div class='card-title card-title-colored'>
        <h2 class='card-title-text' id='response'>Response</h2>
      </div>
      <div class='card-supporting-text'>
        <p>
          A list of  <span class="initialism">JSON</span> objects is returned. By default, each object contains the following information fields:
        </p>
        <ul>
          <li><code>peptide</code>: the peptide that was searched for</li>
          <li><code>ec</code>: A list of <span class="initialism">JSON</span> objects that each represent an EC-number associated with the current tryptic peptide.
            <ul>
              <li><code>ec_number_code</code>: The EC-number associated with the current tryptic peptide.</li>
              <li><code>proteins</code>: The amount of proteins matched with the given tryptic peptide that are labeled with the current EC-number.</li>
            </ul>
          </li>
          <li><code>go</code>: A list of <span class="initialism">JSON</span> objects that each represent a GO-term associated with the current tryptic peptide.
            <ul>
              <li><code>go_term_code</code>: The GO-term associated with the current tryptic peptide.</li>
              <li><code>proteins</code>: The amount of proteins matched with the given tryptic peptide that are labeled with the current GO-term.</li>
            </ul>
          </li>
        </ul>
        <p>When the <code>extra</code> parameter is set to <code>true</code>, objects also contain the name associated with a GO-term. These additional fields are provided as part of the nested GO-term objects:</p>
        <ul>
          <li><code>name</code>: The name of the associated GO-term.</li>
        </ul>
        <p>When the <code>split</code> parameter is set to <code>true</code>, objects are placed in a group corresponding to their namespace and the objects are nested in an additional object. See the examples for more information.</p>
      </div>
    </div>
    <div class='card'>
      <div class='card-title card-title-colored'>
        <h2 class='card-title-text' id='parameters'>Parameters</h2>
      </div>
      <div class='card-supporting-text'>
        <%= render "parameters", parameters: [
            {
                name: "input[]",
                required: true,
                optional: false,
                description: "Tryptic peptide to search for. Add multiple parameters to search for multiple peptides.",
                value: "String"
            },
            {
                name: "equate_il",
                required: false,
                optional: true,
                description: "Equate isoleucine (I) and leucine (L).",
                value: "Must be <code>true</code> or <code>false</code> (default)"
            },
            {
                name: "extra",
                required: false,
                optional: true,
                description: "Return additional information fields if <code>true</code>.",
                value: "Must be <code>true</code> or <code>false</code> (default)"
            },
            {
                name: "split",
                required: false,
                optional: true,
                description: "Separates GO-namespaces and places objects in group associated with current namespace when <code>true</code>.",
                value: "Must be <code>true</code> or <code>false</code> (default)"
            }
        ]
        %>
      </div>
    </div>
    <h2 id="examples">Examples</h2>
    <%= render 'example',
               example_id: "apidocs-example-single",
               title: "Retrieve the taxonomic lowest common ancestor for a given tryptic peptide",
               explanation: "<p>This example retrieves the taxonomic lowest common ancestor for the tryptic peptide <i class='initialism'>AIPQLEVARPADAYETAEAYR</i>. The result is the same as " + link_to('this search', sequence_path('AIPQLEVARPADAYETAEAYR')) + " with the Tryptic Peptide Analysis in the web interface.</p>",
               post_request: "<span class='gp'>$</span> curl -X POST -H <span class='s2'>'Accept: application/json'</span> #{Rails.application.config.api_host}/api/v1/pept2lca \\
-d <span class='s1'>'input[]=AIPQLEVARPADAYETAEAYR'</span>",
               get_request: "<a href='http://#{Rails.application.config.api_host}/api/v1/pept2lca.json?input[]=AIPQLEVARPADAYETAEAYR' target='_blank'>http://#{Rails.application.config.api_host}/api/v1/pept2lca.json?input[]=AIPQLEVARPADAYETAEAYR</a>",
               response: "<span class='p'>[</span>
  <span class='p'>{</span>
    <span class='nx'>peptide</span><span class='o'>:</span> <span class='s2'>'AIPQLEVARPADAYETAEAYR'</span><span class='p'>,</span>
    <span class='nx'>taxon_id</span><span class='o'>:</span> <span class='mi'>1680</span><span class='p'>,</span>
    <span class='nx'>taxon_name</span><span class='o'>:</span> <span class='s2'>'Bifidobacterium adolescentis'</span><span class='p'>,</span>
    <span class='nx'>taxon_rank</span><span class='o'>:</span> <span class='s2'>'species'</span>
  <span class='p'>}</span>
<span class='p'>]</span>"
    %>
    <%= render 'example',
               example_id: "apidocs-example-multiple",
               title: "Retrieve the taxonomic lowest common ancestor for each of multiple tryptic peptides",
               explanation: "<p>This example retrieves the taxonomic lowest common ancestor for both the tryptic peptides <i class='initialism'>AIPQLEVARPADAYETAEAYR</i> and <i class='initialism'>APVLSDSSCK</i>. The result is the same as the combination of " + link_to("this search", sequence_path("AIPQLEVARPADAYETAEAYR")) + " and " + link_to("this search", sequence_path("APVLSDSSCK")) + " with the Tryptic Peptide Analysis in the web interface.</p>",
               post_request: "<span class='gp'>$</span> curl -X POST -H <span class='s2'>'Accept: application/json'</span> #{Rails.application.config.api_host}/api/v1/pept2lca \\
-d <span class='s1'>'input[]=AIPQLEVARPADAYETAEAYR'</span> \\
-d <span class='s1'>'input[]=APVLSDSSCK'</span>",
               get_request: "<a href='http://#{Rails.application.config.api_host}/api/v1/pept2lca.json?input[]=AIPQLEVARPADAYETAEAYR&input[]=APVLSDSSCK' target='_blank'>http://#{Rails.application.config.api_host}/api/v1/pept2lca.json?input[]=AIPQLEVARPADAYETAEAYR&amp;input[]=APVLSDSSCK</a>",
               response: "<span class='p'>[</span>
  <span class='p'>{</span>
    <span class='nx'>peptide</span><span class='o'>:</span> <span class='s2'>'AIPQLEVARPADAYETAEAYR'</span><span class='p'>,</span>
    <span class='nx'>taxon_id</span><span class='o'>:</span> <span class='mi'>1680</span><span class='p'>,</span>
    <span class='nx'>taxon_name</span><span class='o'>:</span> <span class='s2'>'Bifidobacterium adolescentis'</span><span class='p'>,</span>
    <span class='nx'>taxon_rank</span><span class='o'>:</span> <span class='s2'>'species'</span>
  <span class='p'>},</span>
  <span class='p'>{</span>
    <span class='nx'>peptide</span><span class='o'>:</span> <span class='s2'>'APVLSDSSCK'</span><span class='p'>,</span>
    <span class='nx'>taxon_id</span><span class='o'>:</span> <span class='mi'>9823</span><span class='p'>,</span>
    <span class='nx'>taxon_name</span><span class='o'>:</span> <span class='s2'>'Sus scrofa'</span><span class='p'>,</span>
    <span class='nx'>taxon_rank</span><span class='o'>:</span> <span class='s2'>'species'</span>
  <span class='p'>}</span>
<span class='p'>]</span>"
    %>
    <%= render 'example',
               example_id: "apidocs-example-equate_il",
               title: "Retrieve the taxonomic lowest common ancestor for a single tryptic peptide, while equating I and L",
               explanation: "<p>This example retrieves the taxonomic lowest common ancestor for the tryptic peptide <i class='initialism'>APVISDSSCK</i>. In searching, isoleucine (I) and leucinge (L) are considered equal. The result is the same as " + link_to("this search", sequence_path("APVISDSSCK") + "/equate_il") + " with the Tryptic Peptide Analysis in the web interface.</p>",
               post_request: "<span class='gp'>$</span> curl -X POST -H <span class='s2'>'Accept: application/json'</span> #{Rails.application.config.api_host}/api/v1/pept2lca \\
-d <span class='s1'>'input[]=APVISDSSCK'</span> \\
-d <span class='s1'>'equate_il=true'</span>",
               get_request: "<a href='http://#{Rails.application.config.api_host}/api/v1/pept2lca.json?input[]=APVISDSSCK&equate_il=true' target='_blank'>http://#{Rails.application.config.api_host}/api/v1/pept2lca.json?input[]=APVISDSSCK&amp;equate_il=true</a>",
               response: "<span class='p'>[</span>
  <span class='p'>{</span>
    <span class='nx'>peptide</span><span class='o'>:</span> <span class='s2'>'APVISDSSCK'</span><span class='p'>,</span>
    <span class='nx'>taxon_id</span><span class='o'>:</span> <span class='mi'>9823</span><span class='p'>,</span>
    <span class='nx'>taxon_name</span><span class='o'>:</span> <span class='s2'>'Sus scrofa'</span><span class='p'>,</span>
    <span class='nx'>taxon_rank</span><span class='o'>:</span> <span class='s2'>'species'</span>
  <span class='p'>}</span>
<span class='p'>]</span>"
    %>
    <%= render 'example',
               example_id: "apidocs-example-extra",
               title: "Retrieve the taxonomic lowest common ancestor and lineage for a single tryptic peptide",
               explanation: "<p>This example retrieves the taxonomic lowest common ancestor for the tryptic peptide <i class='initialism'>AIPQLEVARPADAYETAEAYR</i> including its complete lineage. The result is the same as " + link_to("this search", sequence_path("AIPQLEVARPADAYETAEAYR")) + " with the Tryptic Peptide Analysis in the web interface.</p>",
               post_request: "<span class='gp'>$</span> curl -X POST -H <span class='s2'>'Accept: application/json'</span> #{Rails.application.config.api_host}/api/v1/pept2lca \\
-d <span class='s1'>'input[]=AIPQLEVARPADAYETAEAYR'</span> \\
-d <span class='s1'>'extra=true'</span>",
               get_request: "<a href='http://#{Rails.application.config.api_host}/api/v1/pept2lca.json?input[]=AIPQLEVARPADAYETAEAYR&extra=true' target='_blank'>http://#{Rails.application.config.api_host}/api/v1/pept2lca.json?input[]=AIPQLEVARPADAYETAEAYR&amp;extra=true</a>",
               response: "<span class='p'>[</span>
  <span class='p'>{</span>
    <span class='nx'>peptide</span><span class='o'>:</span> <span class='s2'>'AIPQLEVARPADAYETAEAYR'</span><span class='p'>,</span>
    <span class='nx'>taxon_id</span><span class='o'>:</span> <span class='mi'>1680</span><span class='p'>,</span>
    <span class='nx'>taxon_name</span><span class='o'>:</span> <span class='s2'>'Bifidobacterium adolescentis'</span><span class='p'>,</span>
    <span class='nx'>taxon_rank</span><span class='o'>:</span> <span class='s2'>'species'</span><span class='p'>,</span>
    <span class='nx'>superkingdom_id</span><span class='o'>:</span> <span class='mi'>2</span><span class='p'>,</span>
    <span class='nx'>kingdom_id</span><span class='o'>:</span> <span class='kc'>null</span><span class='p'>,</span>
    <span class='nx'>subkingdom_id</span><span class='o'>:</span> <span class='kc'>null</span><span class='p'>,</span>
    <span class='nx'>superphylum_id</span><span class='o'>:</span> <span class='kc'>null</span><span class='p'>,</span>
    <span class='nx'>phylum_id</span><span class='o'>:</span> <span class='mi'>201174</span><span class='p'>,</span>
    <span class='nx'>subphylum_id</span><span class='o'>:</span> <span class='kc'>null</span><span class='p'>,</span>
    <span class='nx'>superclass_id</span><span class='o'>:</span> <span class='kc'>null</span><span class='p'>,</span>
    <span class='nx'>class_id</span><span class='o'>:</span> <span class='mi'>1760</span><span class='p'>,</span>
    <span class='nx'>subclass_id</span><span class='o'>:</span> <span class='mi'>85003</span><span class='p'>,</span>
    <span class='nx'>infraclass_id</span><span class='o'>:</span> <span class='kc'>null</span><span class='p'>,</span>
    <span class='nx'>superorder_id</span><span class='o'>:</span> <span class='kc'>null</span><span class='p'>,</span>
    <span class='nx'>order_id</span><span class='o'>:</span> <span class='mi'>85004</span><span class='p'>,</span>
    <span class='nx'>suborder_id</span><span class='o'>:</span> <span class='kc'>null</span><span class='p'>,</span>
    <span class='nx'>infraorder_id</span><span class='o'>:</span> <span class='kc'>null</span><span class='p'>,</span>
    <span class='nx'>parvorder_id</span><span class='o'>:</span> <span class='kc'>null</span><span class='p'>,</span>
    <span class='nx'>superfamily_id</span><span class='o'>:</span> <span class='kc'>null</span><span class='p'>,</span>
    <span class='nx'>family_id</span><span class='o'>:</span> <span class='mi'>31953</span><span class='p'>,</span>
    <span class='nx'>subfamily_id</span><span class='o'>:</span> <span class='kc'>null</span><span class='p'>,</span>
    <span class='nx'>tribe_id</span><span class='o'>:</span> <span class='kc'>null</span><span class='p'>,</span>
    <span class='nx'>subtribe_id</span><span class='o'>:</span> <span class='kc'>null</span><span class='p'>,</span>
    <span class='nx'>genus_id</span><span class='o'>:</span> <span class='mi'>1678</span><span class='p'>,</span>
    <span class='nx'>subgenus_id</span><span class='o'>:</span> <span class='kc'>null</span><span class='p'>,</span>
    <span class='nx'>species_group_id</span><span class='o'>:</span> <span class='kc'>null</span><span class='p'>,</span>
    <span class='nx'>species_subgroup_id</span><span class='o'>:</span> <span class='kc'>null</span><span class='p'>,</span>
    <span class='nx'>species_id</span><span class='o'>:</span> <span class='mi'>1680</span><span class='p'>,</span>
    <span class='nx'>subspecies_id</span><span class='o'>:</span> <span class='kc'>null</span><span class='p'>,</span>
    <span class='nx'>varietas_id</span><span class='o'>:</span> <span class='kc'>null</span><span class='p'>,</span>
    <span class='nx'>forma_id</span><span class='o'>:</span> <span class='kc'>null</span>
  <span class='p'>}</span>
<span class='p'>]</span>"
    %>
    <%= render 'example',
               example_id: "apidocs-example-names",
               title: "Retrieve the taxonomic lowest common ancestor and lineage names for a single tryptic peptide",
               explanation: "<p>This example retrieves the taxonomic lowest common ancestor for the tryptic peptide <i class='initialism'>AIPQLEVARPADAYETAEAYR</i> including its complete lineage with names. The result is the same as " + link_to("this search", sequence_path("AIPQLEVARPADAYETAEAYR")) + " with the Tryptic Peptide Analysis in the web interface.</p>",
               post_request: "<span class='gp'>$</span> curl -X POST -H <span class='s2'>'Accept: application/json'</span> #{Rails.application.config.api_host}/api/v1/pept2lca \\
-d <span class='s1'>'input[]=AIPQLEVARPADAYETAEAYR'</span> \\
-d <span class='s1'>'extra=true' \\
-d <span class='s1'>'names=true'</span>",
               get_request: "<a href='http://#{Rails.application.config.api_host}/api/v1/pept2lca.json?input[]=AIPQLEVARPADAYETAEAYR&extra=true&names=true' target='_blank'>http://#{Rails.application.config.api_host}/api/v1/pept2lca.json?input[]=AIPQLEVARPADAYETAEAYR&amp;extra=true&amp;names=true</a>",
               response: "<span class='p'>[</span>
  <span class='p'>{</span>
    <span class='nx'>peptide</span><span class='o'>:</span> <span class='s2'>'AIPQLEVARPADAYETAEAYR'</span><span class='p'>,</span>
    <span class='nx'>taxon_id</span><span class='o'>:</span> <span class='mi'>1680</span><span class='p'>,</span>
    <span class='nx'>taxon_name</span><span class='o'>:</span> <span class='s2'>'Bifidobacterium adolescentis'</span><span class='p'>,</span>
    <span class='nx'>taxon_rank</span><span class='o'>:</span> <span class='s2'>'species'</span><span class='p'>,</span>
    <span class='nx'>superkingdom_id</span><span class='o'>:</span> <span class='mi'>2</span><span class='p'>,</span>
    <span class='nx'>superkingdom_name</span><span class='o'>:</span> <span class='s2'>'Bacteria'</span><span class='p'>,</span>
    <span class='nx'>kingdom_id</span><span class='o'>:</span> <span class='kc'>null</span><span class='p'>,</span>
    <span class='nx'>kingdom_name</span><span class='o'>:</span> <span class='s2'>''</span><span class='p'>,</span>
    <span class='nx'>subkingdom_id</span><span class='o'>:</span> <span class='kc'>null</span><span class='p'>,</span>
    <span class='nx'>subkingdom_name</span><span class='o'>:</span> <span class='s2'>''</span><span class='p'>,</span>
    <span class='nx'>superphylum_id</span><span class='o'>:</span> <span class='kc'>null</span><span class='p'>,</span>
    <span class='nx'>superphylum_name</span><span class='o'>:</span> <span class='s2'>''</span><span class='p'>,</span>
    <span class='nx'>phylum_id</span><span class='o'>:</span> <span class='mi'>201174</span><span class='p'>,</span>
    <span class='nx'>phylum_name</span><span class='o'>:</span> <span class='s2'>'Actinobacteria'</span><span class='p'>,</span>
    <span class='nx'>subphylum_id</span><span class='o'>:</span> <span class='kc'>null</span><span class='p'>,</span>
    <span class='nx'>subphylum_name</span><span class='o'>:</span> <span class='s2'>''</span><span class='p'>,</span>
    <span class='nx'>superclass_id</span><span class='o'>:</span> <span class='kc'>null</span><span class='p'>,</span>
    <span class='nx'>superclass_name</span><span class='o'>:</span> <span class='s2'>''</span><span class='p'>,</span>
    <span class='nx'>class_id</span><span class='o'>:</span> <span class='mi'>1760</span><span class='p'>,</span>
    <span class='nx'>class_name</span><span class='o'>:</span> <span class='s2'>'Actinobacteria'</span><span class='p'>,</span>
    <span class='nx'>subclass_id</span><span class='o'>:</span> <span class='mi'>85003</span><span class='p'>,</span>
    <span class='nx'>subclass_name</span><span class='o'>:</span> <span class='s2'>'Actinobacteridae'</span><span class='p'>,</span>
    <span class='nx'>infraclass_id</span><span class='o'>:</span> <span class='kc'>null</span><span class='p'>,</span>
    <span class='nx'>infraclass_name</span><span class='o'>:</span> <span class='s2'>''</span><span class='p'>,</span>
    <span class='nx'>superorder_id</span><span class='o'>:</span> <span class='kc'>null</span><span class='p'>,</span>
    <span class='nx'>superorder_name</span><span class='o'>:</span> <span class='s2'>''</span><span class='p'>,</span>
    <span class='nx'>order_id</span><span class='o'>:</span> <span class='mi'>85004</span><span class='p'>,</span>
    <span class='nx'>order_name</span><span class='o'>:</span> <span class='s2'>'Bifidobacteriales'</span><span class='p'>,</span>
    <span class='nx'>suborder_id</span><span class='o'>:</span> <span class='kc'>null</span><span class='p'>,</span>
    <span class='nx'>suborder_name</span><span class='o'>:</span> <span class='s2'>''</span><span class='p'>,</span>
    <span class='nx'>infraorder_id</span><span class='o'>:</span> <span class='kc'>null</span><span class='p'>,</span>
    <span class='nx'>infraorder_name</span><span class='o'>:</span> <span class='s2'>''</span><span class='p'>,</span>
    <span class='nx'>parvorder_id</span><span class='o'>:</span> <span class='kc'>null</span><span class='p'>,</span>
    <span class='nx'>parvorder_name</span><span class='o'>:</span> <span class='s2'>''</span><span class='p'>,</span>
    <span class='nx'>superfamily_id</span><span class='o'>:</span> <span class='kc'>null</span><span class='p'>,</span>
    <span class='nx'>superfamily_name</span><span class='o'>:</span> <span class='s2'>''</span><span class='p'>,</span>
    <span class='nx'>family_id</span><span class='o'>:</span> <span class='mi'>31953</span><span class='p'>,</span>
    <span class='nx'>family_name</span><span class='o'>:</span> <span class='s2'>'Bifidobacteriaceae'</span><span class='p'>,</span>
    <span class='nx'>subfamily_id</span><span class='o'>:</span> <span class='kc'>null</span><span class='p'>,</span>
    <span class='nx'>subfamily_name</span><span class='o'>:</span> <span class='s2'>''</span><span class='p'>,</span>
    <span class='nx'>tribe_id</span><span class='o'>:</span> <span class='kc'>null</span><span class='p'>,</span>
    <span class='nx'>tribe_name</span><span class='o'>:</span> <span class='s2'>''</span><span class='p'>,</span>
    <span class='nx'>subtribe_id</span><span class='o'>:</span> <span class='kc'>null</span><span class='p'>,</span>
    <span class='nx'>subtribe_name</span><span class='o'>:</span> <span class='s2'>''</span><span class='p'>,</span>
    <span class='nx'>genus_id</span><span class='o'>:</span> <span class='mi'>1678</span><span class='p'>,</span>
    <span class='nx'>genus_name</span><span class='o'>:</span> <span class='s2'>'Bifidobacterium'</span><span class='p'>,</span>
    <span class='nx'>subgenus_id</span><span class='o'>:</span> <span class='kc'>null</span><span class='p'>,</span>
    <span class='nx'>subgenus_name</span><span class='o'>:</span> <span class='s2'>''</span><span class='p'>,</span>
    <span class='nx'>species_group_id</span><span class='o'>:</span> <span class='kc'>null</span><span class='p'>,</span>
    <span class='nx'>species_group_name</span><span class='o'>:</span> <span class='s2'>''</span><span class='p'>,</span>
    <span class='nx'>species_subgroup_id</span><span class='o'>:</span> <span class='kc'>null</span><span class='p'>,</span>
    <span class='nx'>species_subgroup_name</span><span class='o'>:</span> <span class='s2'>''</span><span class='p'>,</span>
    <span class='nx'>species_id</span><span class='o'>:</span> <span class='mi'>1680</span><span class='p'>,</span>
    <span class='nx'>species_name</span><span class='o'>:</span> <span class='s2'>'Bifidobacterium adolescentis'</span><span class='p'>,</span>
    <span class='nx'>subspecies_id</span><span class='o'>:</span> <span class='kc'>null</span><span class='p'>,</span>
    <span class='nx'>subspecies_name</span><span class='o'>:</span> <span class='s2'>''</span><span class='p'>,</span>
    <span class='nx'>varietas_id</span><span class='o'>:</span> <span class='kc'>null</span><span class='p'>,</span>
    <span class='nx'>varietas_name</span><span class='o'>:</span> <span class='s2'>''</span><span class='p'>,</span>
    <span class='nx'>forma_id</span><span class='o'>:</span> <span class='kc'>null</span><span class='p'>,</span>
    <span class='nx'>forma_name</span><span class='o'>:</span> <span class='s2'>''</span>
  <span class='p'>}</span>
<span class='p'>]</span>"
    %>
    <%= render 'tryit',
               name: "pept2lca",
               input: true,
               equate_il: true,
               extra: true,
               names: true
    %>
  </div>
  <div class="col-xs-3">
    <%= render 'api/shared/sidebar' %>
  </div>
</div>
