<div class="apidocs row">
  <div class="col-xs-9">
    <div class='page-header'>
      <h1 class='api-title'><span class="initialism">POST</span> /api/v1/peptinfo
        <br>
        <small>Returns functional information and the lowest common ancestor for a given tryptic peptide.</small>
      </h1>
    </div>
    <p>
      This method returns functional information and the lowest common ancestor a given tryptic peptide. This is the same information as provided when performing a search with the <%= link_to("Tryptic Peptide Analysis", search_single_path) %> in the web interface.
    </p>
    <div class='card'>
      <div class='card-title card-title-colored'>
        <h2 class='card-title-text' id='request'>Request</h2>
      </div>
      <div class='card-supporting-text'>
        <p>
          The peptinfo method can be used by doing a <span class="initialism">HTTP</span> <span class="initialism">POST</span>-request (preferred) or <span class="initialism">GET</span>-request to <code>http://<%= Rails.application.config.api_host %>/api/v1/pept2go</code>. <a href="#parameters">Parameters</a> can be included in the request body (<span class="initialism">POST</span>) or in the query string (<span class="initialism">GET</span>). The only required parameter is <code>input[]</code>, which takes one or more tryptic peptides.
        </p>
        <h3>input</h3>
        <p>
          <code>input[]</code> is a required parameter that takes one or more tryptic peptides. Unipept will return the functional EC-numbers and GO-terms associated with each of the <code>input[]</code> peptides based on their occurence in UniProt entries. To pass multiple peptides at once, simply add multiple <code>input[]</code> parameters (see <a href="#apidocs-example-multiple">example</a>).
        </p>
        <div class="apidocs-callout apidocs-callout-warning">
          <h4>Input size</h4>
          <p>Unipept puts no restrictions on the number of peptides passed to the <code>input[]</code> parameter. Keep in mind that searching for lots of peptides at once may cause the request to timeout or, in the case of a <span class="initialism">GET</span>-request, exceed the maximum URL length. When performing bulk searches, we suggest splitting the input set over requests of 100 peptides each.</p>
        </div>
        <h3>equate_il</h3>
        <p>
          <code>equate_il</code> is an optional parameter and can either be <code>true</code> or <code>false</code>. When not set explicitly, the parameter defaults to <code>false</code>. When the parameter is set to <code>true</code>, isoleucine (I) and leucine (L) are equated when matching tryptic peptides to UniProt entries. This setting is similar to checking the <i>Equate I and L?</i> checkbox when performing a search with the <%= link_to("Tryptic Peptide Analysis", search_single_path) %> in the web interface.
        </p>
        <h3>extra</h3>
        <p>
          <code>extra</code> is an optional parameter and can either be <code>true</code> or <code>false</code>. When not set explicitly, the parameter defaults to <code>false</code>. When the parameter is set to <code>true</code>, Unipept will also return the name associated with a GO-term and an EC-number and the complete lineage of the taxonomic lowest common ancestor. See the <a href="#response">response</a> section for an overview of the information fields returned.
        </p>
        <h3>domains</h3>
        <p>
          <code>domains</code> is an optional parameter that can be used to order the GO-terms in groups according to their namespace (cellular component, molecular function, biological process).
        </p>
        <div class="apidocs-callout apidocs-callout-warning">
          <h4>Performance penalty</h4>
          <p>Setting <code>extra</code> or <code>domains</code> to <code>true</code> has a performance penalty inferred from additional database queries. Do not use this parameter unless the extra information fields are needed.</p>
        </div>
      </div>
    </div>
    <div class='card'>
      <div class='card-title card-title-colored'>
        <h2 class='card-title-text' id='response'>Response</h2>
      </div>
      <div class='card-supporting-text'>
        <p>
          A list of  <span class="initialism">JSON</span> objects is returned. By default, each object contains the following information fields:
        </p>
        <ul>
          <li><code>peptide</code>: the peptide that was searched for</li>
          <li><code>total_protein_count</code>: Total amount of proteins matched with the given peptide.</li>
          <li><code>ec</code>: A list of <span class="initialism">JSON</span> objects that each represent an EC-number associated with the current tryptic peptide.
            <ul>
              <li><code>ec_number</code>: The EC-number associated with the current tryptic peptide.</li>
              <li><code>protein_count</code>: The amount of proteins matched with the given tryptic peptide that are labeled with the current EC-number.</li>
              <li><code>name</code>: Optional, name of the EC-number. Included when the <code>extra</code> parameter is set to <code>true</code>.</li>
            </ul>
          </li>
          <li><code>go</code>: A list of <span class="initialism">JSON</span> objects that each represent a GO-term associated with the current tryptic peptide.
            <ul>
              <li><code>go_term_code</code>: The GO-term associated with the current tryptic peptide.</li>
              <li><code>protein_count</code>: The amount of proteins matched with the given tryptic peptide that are labeled with the current GO-term.</li>
              <li><code>name</code>: Optional, name of the GO-term. Included when the <code>extra</code> parameter is set to <code>true</code>.</li>
            </ul>
          </li>
          <li><code>taxon_id</code>: the <span class="initialism">NCBI</span> taxon id of the taxonomic lowest common ancestor</li>
          <li><code>taxon_name</code>: the name of the taxonomic lowest common ancestor</li>
          <li><code>taxon_rank</code>: the taxonomic rank of the taxonomic lowest common ancestor</li>
        </ul>
        <p>When the <code>extra</code> parameter is set to <code>true</code>, objects contain additional information about the lineage of the taxonomic lowest common ancestor extracted from the <span class="initialism">NCBI</span> taxonomy. The taxon id of each rank in the lineage is specified using the following information fields:</p>
        <div class="row">
          <div class="col-xs-4">
            <ul>
              <li><code>superkingdom_id</code></li>
              <li><code>kingdom_id</code></li>
              <li><code>subkingdom_id</code></li>
              <li><code>superphylum_id</code></li>
              <li><code>phylum_id</code></li>
              <li><code>subphylum_id</code></li>
              <li><code>superclass_id</code></li>
              <li><code>class_id</code></li>
              <li><code>subclass_id</code></li>
              <li><code>infraclass_id</code></li>
            </ul>
          </div>
          <div class="col-xs-4">
            <ul>
              <li><code>superorder_id</code></li>
              <li><code>order_id</code></li>
              <li><code>suborder_id</code></li>
              <li><code>infraorder_id</code></li>
              <li><code>parvorder_id</code></li>
              <li><code>superfamily_id</code></li>
              <li><code>family_id</code></li>
              <li><code>subfamily_id</code></li>
              <li><code>tribe_id</code></li>
              <li><code>subtribe_id</code></li>
            </ul>
          </div>
          <div class="col-xs-4">
            <ul>
              <li><code>genus_id</code></li>
              <li><code>subgenus_id</code></li>
              <li><code>species_group_id</code></li>
              <li><code>species_subgroup_id</code></li>
              <li><code>species_id</code></li>
              <li><code>subspecies_id</code></li>
              <li><code>varietas_id</code></li>
              <li><code>forma_id</code></li>
            </ul>
          </div>
        </div>
        <p>The <code>name</code> associated with a GO-term or an EC-number is also provided when the <code>extra</code> parameter is set to true. </p>
        <p>When the <code>domains</code> parameter is set to <code>true</code>, objects are placed in a group corresponding to their namespace and the objects are nested in an additional object. See the examples for more information.</p>
      </div>
    </div>
    <div class='card'>
      <div class='card-title card-title-colored'>
        <h2 class='card-title-text' id='parameters'>Parameters</h2>
      </div>
      <div class='card-supporting-text'>
        <%= render "parameters", parameters: [
            {
                name: "input[]",
                required: true,
                optional: false,
                description: "Tryptic peptide to search for. Add multiple parameters to search for multiple peptides.",
                value: "String"
            },
            {
                name: "equate_il",
                required: false,
                optional: true,
                description: "Equate isoleucine (I) and leucine (L).",
                value: "Must be <code>true</code> or <code>false</code> (default)"
            },
            {
                name: "extra",
                required: false,
                optional: true,
                description: "Return additional information fields if <code>true</code>.",
                value: "Must be <code>true</code> or <code>false</code> (default)"
            },
            {
                name: "domains",
                required: false,
                optional: true,
                description: "Separates GO-namespaces and places objects in group associated with current namespace when <code>true</code>.",
                value: "Must be <code>true</code> or <code>false</code> (default)"
            }
        ]
        %>
      </div>
    </div>
    <h2 id="examples">Examples</h2>
    <%= render 'example',
               example_id: "apidocs-example-single",
               title: "Retrieve the functional ec-numbers, go-terms and lowest comman ancestor associated with a given tryptic peptide",
               explanation: "<p>This example retrieves all functional ec-numbers, go-terms and lowest comman ancestor associated with the tryptic peptide <i class='initialism'>AAAAA</i>. The result is the same as " + link_to('this search', sequence_path('AAAAA')) + " with the Tryptic Peptide Analysis in the web interface.</p>",
               post_request: "<span class='gp'>$</span> curl -X POST -H <span class='s2'>'Accept: application/json'</span> #{Rails.application.config.api_host}/api/v1/peptinfo \\
-d <span class='s1'>'input[]=AAAAA'</span>",
               get_request: "<a href='http://#{Rails.application.config.api_host}/api/v1/peptinfo.json?input[]=AAAAA' target='_blank'>http://#{Rails.application.config.api_host}/api/v1/peptinfo.json?input[]=AAAAA</a>",
               response: "<span class='p'>[</span>
    <span class='p'>{</span>
        <span class='nt'>'peptide'</span><span class='p'>:</span> <span class='s2'>'AAAAA'</span><span class='p'>,</span>
        <span class='nt'>'total_protein_count'</span><span class='p'>:</span> <span class='mi'>17</span><span class='p'>,</span>
        <span class='nt'>'ec'</span><span class='p'>:</span> <span class='p'>[</span>
            <span class='p'>{</span>
                <span class='nt'>'ec_number'</span><span class='p'>:</span> <span class='s2'>'1.5.1.5'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>14</span>
            <span class='p'>},</span>
            <span class='p'>{</span>
                <span class='nt'>'ec_number'</span><span class='p'>:</span> <span class='s2'>'3.5.4.9'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>14</span>
            <span class='p'>},</span>
            <span class='p'>{</span>
                <span class='nt'>'ec_number'</span><span class='p'>:</span> <span class='s2'>'2.4.1.21'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>1</span>
            <span class='p'>}</span>
        <span class='p'>],</span>
        <span class='nt'>'go'</span><span class='p'>:</span> <span class='p'>[</span>
            <span class='p'>{</span>
                <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0006164'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>14</span>
            <span class='p'>},</span>
            <span class='p'>{</span>
                <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0004488'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>14</span>
            <span class='p'>},</span>
            <span class='p'>{</span>
                <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0035999'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>14</span>
            <span class='p'>},</span>
            <span class='p'>{</span>
                <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0009086'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>14</span>
            <span class='p'>},</span>
            <span class='p'>{</span>
                <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0000105'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>14</span>
            <span class='p'>},</span>
            <span class='p'>{</span>
                <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0004477'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>14</span>
            <span class='p'>},</span>
            <span class='p'>{</span>
                <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0003677'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>2</span>
            <span class='p'>},</span>
            <span class='p'>{</span>
                <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0016987'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>1</span>
            <span class='p'>},</span>
            <span class='p'>{</span>
                <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0044219'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>1</span>
            <span class='p'>},</span>
            <span class='p'>{</span>
                <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0009011'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>1</span>
            <span class='p'>},</span>
            <span class='p'>{</span>
                <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0005198'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>1</span>
            <span class='p'>},</span>
            <span class='p'>{</span>
                <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0009399'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>1</span>
            <span class='p'>},</span>
            <span class='p'>{</span>
                <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0005525'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>1</span>
            <span class='p'>},</span>
            <span class='p'>{</span>
                <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0003723'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>1</span>
            <span class='p'>},</span>
            <span class='p'>{</span>
                <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0046740'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>1</span>
            <span class='p'>},</span>
            <span class='p'>{</span>
                <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0019028'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>1</span>
            <span class='p'>},</span>
            <span class='p'>{</span>
                <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0004373'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>1</span>
            <span class='p'>},</span>
            <span class='p'>{</span>
                <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0006352'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>1</span>
            <span class='p'>},</span>
            <span class='p'>{</span>
                <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0001216'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>1</span>
            <span class='p'>},</span>
            <span class='p'>{</span>
                <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0005978'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>1</span>
            <span class='p'>},</span>
            <span class='p'>{</span>
                <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0003899'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>1</span>
            <span class='p'>},</span>
            <span class='p'>{</span>
                <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0033201'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>1</span>
            <span class='p'>}</span>
        <span class='p'>],</span>
        <span class='nt'>'taxon_id'</span><span class='p'>:</span> <span class='mi'>1</span><span class='p'>,</span>
        <span class='nt'>'taxon_name'</span><span class='p'>:</span> <span class='s2'>'root'</span><span class='p'>,</span>
        <span class='nt'>'taxon_rank'</span><span class='p'>:</span> <span class='s2'>'no rank'</span>
    <span class='p'>}</span>
<span class='p'>]</span>"
    %>
    <%= render 'example',
               example_id: "apidocs-example-multiple",
               title: "Retrieve the functional ec-numbers, go-terms and lowest common ancestor associated with each of multiple tryptic peptides",
               explanation: "<p>This example retrieves the functional ec-numbers, go-terms and lowest common ancestor for both the tryptic peptides <i class='initialism'>AAAAA</i> and <i class='initialism'>AAAYGMR</i>. The result is the same as the combination of " + link_to("this search", sequence_path("AAAAA")) + " and " + link_to("this search", sequence_path("AAAYGMR")) + " with the Tryptic Peptide Analysis in the web interface.</p>",
               post_request: "<span class='gp'>$</span> curl -X POST -H <span class='s2'>'Accept: application/json'</span> #{Rails.application.config.api_host}/api/v1/peptinfo \\
-d <span class='s1'>'input[]=AAAAA'</span> \\
-d <span class='s1'>'input[]=AAAYGMR'</span>",
               get_request: "<a href='http://#{Rails.application.config.api_host}/api/v1/peptinfo.json?input[]=AAAAA&input[]=AAAYGMR' target='_blank'>http://#{Rails.application.config.api_host}/api/v1/peptinfo.json?input[]=AAAAA&amp;input[]=AAAYGMR</a>",
               response: "<span class='p'>[</span>
    <span class='p'>{</span>
        <span class='nt'>'peptide'</span><span class='p'>:</span> <span class='s2'>'AAAAA'</span><span class='p'>,</span>
        <span class='nt'>'total_protein_count'</span><span class='p'>:</span> <span class='mi'>17</span><span class='p'>,</span>
        <span class='nt'>'ec'</span><span class='p'>:</span> <span class='p'>[</span>
            <span class='p'>{</span>
                <span class='nt'>'ec_number'</span><span class='p'>:</span> <span class='s2'>'1.5.1.5'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>14</span>
            <span class='p'>},</span>
            <span class='p'>{</span>
                <span class='nt'>'ec_number'</span><span class='p'>:</span> <span class='s2'>'3.5.4.9'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>14</span>
            <span class='p'>},</span>
            <span class='p'>{</span>
                <span class='nt'>'ec_number'</span><span class='p'>:</span> <span class='s2'>'2.4.1.21'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>1</span>
            <span class='p'>}</span>
        <span class='p'>],</span>
        <span class='nt'>'go'</span><span class='p'>:</span> <span class='p'>[</span>
            <span class='p'>{</span>
                <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0006164'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>14</span>
            <span class='p'>},</span>
            <span class='p'>{</span>
                <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0004488'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>14</span>
            <span class='p'>},</span>
            <span class='p'>{</span>
                <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0035999'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>14</span>
            <span class='p'>},</span>
            <span class='p'>{</span>
                <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0009086'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>14</span>
            <span class='p'>},</span>
            <span class='p'>{</span>
                <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0000105'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>14</span>
            <span class='p'>},</span>
            <span class='p'>{</span>
                <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0004477'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>14</span>
            <span class='p'>},</span>
            <span class='p'>{</span>
                <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0003677'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>2</span>
            <span class='p'>},</span>
            <span class='p'>{</span>
                <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0016987'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>1</span>
            <span class='p'>},</span>
            <span class='p'>{</span>
                <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0044219'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>1</span>
            <span class='p'>},</span>
            <span class='p'>{</span>
                <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0009011'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>1</span>
            <span class='p'>},</span>
            <span class='p'>{</span>
                <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0005198'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>1</span>
            <span class='p'>},</span>
            <span class='p'>{</span>
                <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0009399'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>1</span>
            <span class='p'>},</span>
            <span class='p'>{</span>
                <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0005525'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>1</span>
            <span class='p'>},</span>
            <span class='p'>{</span>
                <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0003723'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>1</span>
            <span class='p'>},</span>
            <span class='p'>{</span>
                <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0046740'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>1</span>
            <span class='p'>},</span>
            <span class='p'>{</span>
                <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0019028'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>1</span>
            <span class='p'>},</span>
            <span class='p'>{</span>
                <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0004373'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>1</span>
            <span class='p'>},</span>
            <span class='p'>{</span>
                <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0006352'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>1</span>
            <span class='p'>},</span>
            <span class='p'>{</span>
                <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0001216'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>1</span>
            <span class='p'>},</span>
            <span class='p'>{</span>
                <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0005978'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>1</span>
            <span class='p'>},</span>
            <span class='p'>{</span>
                <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0003899'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>1</span>
            <span class='p'>},</span>
            <span class='p'>{</span>
                <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0033201'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>1</span>
            <span class='p'>}</span>
        <span class='p'>],</span>
        <span class='nt'>'taxon_id'</span><span class='p'>:</span> <span class='mi'>1</span><span class='p'>,</span>
        <span class='nt'>'taxon_name'</span><span class='p'>:</span> <span class='s2'>'root'</span><span class='p'>,</span>
        <span class='nt'>'taxon_rank'</span><span class='p'>:</span> <span class='s2'>'no rank'</span>
    <span class='p'>},</span>
    <span class='p'>{</span>
        <span class='nt'>'peptide'</span><span class='p'>:</span> <span class='s2'>'AAAYGMR'</span><span class='p'>,</span>
        <span class='nt'>'total_protein_count'</span><span class='p'>:</span> <span class='mi'>2</span><span class='p'>,</span>
        <span class='nt'>'ec'</span><span class='p'>:</span> <span class='p'>[</span>
            <span class='p'>{</span>
                <span class='nt'>'ec_number'</span><span class='p'>:</span> <span class='s2'>'3.5.1.5'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>1</span>
            <span class='p'>}</span>
        <span class='p'>],</span>
        <span class='nt'>'go'</span><span class='p'>:</span> <span class='p'>[</span>
            <span class='p'>{</span>
                <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0005737'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>2</span>
            <span class='p'>},</span>
            <span class='p'>{</span>
                <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0005886'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>1</span>
            <span class='p'>},</span>
            <span class='p'>{</span>
                <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0006605'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>1</span>
            <span class='p'>},</span>
            <span class='p'>{</span>
                <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0005524'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>1</span>
            <span class='p'>},</span>
            <span class='p'>{</span>
                <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0043419'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>1</span>
            <span class='p'>},</span>
            <span class='p'>{</span>
                <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0016151'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>1</span>
            <span class='p'>},</span>
            <span class='p'>{</span>
                <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0017038'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>1</span>
            <span class='p'>},</span>
            <span class='p'>{</span>
                <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0009039'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>1</span>
            <span class='p'>}</span>
        <span class='p'>],</span>
        <span class='nt'>'taxon_id'</span><span class='p'>:</span> <span class='mi'>2</span><span class='p'>,</span>
        <span class='nt'>'taxon_name'</span><span class='p'>:</span> <span class='s2'>'Bacteria'</span><span class='p'>,</span>
        <span class='nt'>'taxon_rank'</span><span class='p'>:</span> <span class='s2'>'superkingdom'</span>
    <span class='p'>}</span>
<span class='p'>]</span>"
    %>
    <%= render 'example',
               example_id: "apidocs-example-equate_il",
               title: "Retrieve the functional ec-numbers, go-terms and lowest common ancestor associated with a single tryptic peptide, while equating I and L",
               explanation: "<p>This example retrieves the functional ec-numbers, go-terms and lowest common ancestor associated with the tryptic peptide <i class='initialism'>AAAAA</i>. In searching, isoleucine (I) and leucinge (L) are considered equal. The result is the same as " + link_to("this search", sequence_path("AAAAA") + "/equate_il") + " with the Tryptic Peptide Analysis in the web interface.</p>",
               post_request: "<span class='gp'>$</span> curl -X POST -H <span class='s2'>'Accept: application/json'</span> #{Rails.application.config.api_host}/api/v1/peptinfo \\
-d <span class='s1'>'input[]=AAAAA'</span> \\
-d <span class='s1'>'equate_il=true'</span>",
               get_request: "<a href='http://#{Rails.application.config.api_host}/api/v1/peptinfo.json?input[]=AAAAA&equate_il=true' target='_blank'>http://#{Rails.application.config.api_host}/api/v1/peptinfo.json?input[]=AAAAA&amp;equate_il=true</a>",
               response: "<span class='p'>[</span>
    <span class='p'>{</span>
        <span class='nt'>'peptide'</span><span class='p'>:</span> <span class='s2'>'AAAAA'</span><span class='p'>,</span>
        <span class='nt'>'total_protein_count'</span><span class='p'>:</span> <span class='mi'>17</span><span class='p'>,</span>
        <span class='nt'>'ec'</span><span class='p'>:</span> <span class='p'>[</span>
            <span class='p'>{</span>
                <span class='nt'>'ec_number'</span><span class='p'>:</span> <span class='s2'>'1.5.1.5'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>14</span>
            <span class='p'>},</span>
            <span class='p'>{</span>
                <span class='nt'>'ec_number'</span><span class='p'>:</span> <span class='s2'>'3.5.4.9'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>14</span>
            <span class='p'>},</span>
            <span class='p'>{</span>
                <span class='nt'>'ec_number'</span><span class='p'>:</span> <span class='s2'>'2.4.1.21'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>1</span>
            <span class='p'>}</span>
        <span class='p'>],</span>
        <span class='nt'>'go'</span><span class='p'>:</span> <span class='p'>[</span>
            <span class='p'>{</span>
                <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0006164'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>14</span>
            <span class='p'>},</span>
            <span class='p'>{</span>
                <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0004488'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>14</span>
            <span class='p'>},</span>
            <span class='p'>{</span>
                <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0035999'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>14</span>
            <span class='p'>},</span>
            <span class='p'>{</span>
                <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0009086'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>14</span>
            <span class='p'>},</span>
            <span class='p'>{</span>
                <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0000105'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>14</span>
            <span class='p'>},</span>
            <span class='p'>{</span>
                <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0004477'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>14</span>
            <span class='p'>},</span>
            <span class='p'>{</span>
                <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0003677'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>2</span>
            <span class='p'>},</span>
            <span class='p'>{</span>
                <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0016987'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>1</span>
            <span class='p'>},</span>
            <span class='p'>{</span>
                <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0044219'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>1</span>
            <span class='p'>},</span>
            <span class='p'>{</span>
                <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0009011'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>1</span>
            <span class='p'>},</span>
            <span class='p'>{</span>
                <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0005198'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>1</span>
            <span class='p'>},</span>
            <span class='p'>{</span>
                <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0009399'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>1</span>
            <span class='p'>},</span>
            <span class='p'>{</span>
                <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0005525'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>1</span>
            <span class='p'>},</span>
            <span class='p'>{</span>
                <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0003723'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>1</span>
            <span class='p'>},</span>
            <span class='p'>{</span>
                <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0046740'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>1</span>
            <span class='p'>},</span>
            <span class='p'>{</span>
                <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0019028'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>1</span>
            <span class='p'>},</span>
            <span class='p'>{</span>
                <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0004373'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>1</span>
            <span class='p'>},</span>
            <span class='p'>{</span>
                <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0006352'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>1</span>
            <span class='p'>},</span>
            <span class='p'>{</span>
                <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0001216'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>1</span>
            <span class='p'>},</span>
            <span class='p'>{</span>
                <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0005978'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>1</span>
            <span class='p'>},</span>
            <span class='p'>{</span>
                <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0003899'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>1</span>
            <span class='p'>},</span>
            <span class='p'>{</span>
                <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0033201'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>1</span>
            <span class='p'>}</span>
        <span class='p'>],</span>
        <span class='nt'>'taxon_id'</span><span class='p'>:</span> <span class='mi'>1</span><span class='p'>,</span>
        <span class='nt'>'taxon_name'</span><span class='p'>:</span> <span class='s2'>'root'</span><span class='p'>,</span>
        <span class='nt'>'taxon_rank'</span><span class='p'>:</span> <span class='s2'>'no rank'</span>
    <span class='p'>}</span>
<span class='p'>]</span>"
    %>
    <%= render 'example',
               example_id: "apidocs-example-extra",
               title: "Retrieve the functional ec-numbers, go-terms and lowest common ancestor associated with a single tryptic peptide",
               explanation: "<p>This example retrieves the functional ec-numbers, go-terms and lowest common ancestor associated with the tryptic peptide <i class='initialism'>AAAAA</i> including the name of each ec-number and go-term and its complete lineage. The result is the same as " + link_to("this search", sequence_path("AAAAA")) + " with the Tryptic Peptide Analysis in the web interface.</p>",
               post_request: "<span class='gp'>$</span> curl -X POST -H <span class='s2'>'Accept: application/json'</span> #{Rails.application.config.api_host}/api/v1/peptinfo \\
-d <span class='s1'>'input[]=AAAAA'</span> \\
-d <span class='s1'>'extra=true'</span>",
               get_request: "<a href='http://#{Rails.application.config.api_host}/api/v1/peptinfo.json?input[]=AAAAA&extra=true' target='_blank'>http://#{Rails.application.config.api_host}/api/v1/peptinfo.json?input[]=AAAAA&amp;extra=true</a>",
               response: "<span class='p'>[</span>
    <span class='p'>{</span>
        <span class='nt'>'peptide'</span><span class='p'>:</span> <span class='s2'>'AAAAA'</span><span class='p'>,</span>
        <span class='nt'>'total_protein_count'</span><span class='p'>:</span> <span class='mi'>17</span><span class='p'>,</span>
        <span class='nt'>'ec'</span><span class='p'>:</span> <span class='p'>[</span>
            <span class='p'>{</span>
                <span class='nt'>'ec_number'</span><span class='p'>:</span> <span class='s2'>'1.5.1.5'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>14</span><span class='p'>,</span>
                <span class='nt'>'name'</span><span class='p'>:</span> <span class='s2'>'Methylenetetrahydrofolate dehydrogenase (NADP(+))'</span>
            <span class='p'>},</span>
            <span class='p'>{</span>
                <span class='nt'>'ec_number'</span><span class='p'>:</span> <span class='s2'>'3.5.4.9'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>14</span><span class='p'>,</span>
                <span class='nt'>'name'</span><span class='p'>:</span> <span class='s2'>'Methenyltetrahydrofolate cyclohydrolase'</span>
            <span class='p'>},</span>
            <span class='p'>{</span>
                <span class='nt'>'ec_number'</span><span class='p'>:</span> <span class='s2'>'2.4.1.21'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>1</span><span class='p'>,</span>
                <span class='nt'>'name'</span><span class='p'>:</span> <span class='s2'>'Starch synthase'</span>
            <span class='p'>}</span>
        <span class='p'>],</span>
        <span class='nt'>'go'</span><span class='p'>:</span> <span class='p'>[</span>
            <span class='p'>{</span>
                <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0006164'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>14</span><span class='p'>,</span>
                <span class='nt'>'name'</span><span class='p'>:</span> <span class='s2'>'purine nucleotide biosynthetic process'</span>
            <span class='p'>},</span>
            <span class='p'>{</span>
                <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0004488'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>14</span><span class='p'>,</span>
                <span class='nt'>'name'</span><span class='p'>:</span> <span class='s2'>'methylenetetrahydrofolate dehydrogenase (NADP+) activity'</span>
            <span class='p'>},</span>
            <span class='p'>{</span>
                <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0035999'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>14</span><span class='p'>,</span>
                <span class='nt'>'name'</span><span class='p'>:</span> <span class='s2'>'tetrahydrofolate interconversion'</span>
            <span class='p'>},</span>
            <span class='p'>{</span>
                <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0009086'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>14</span><span class='p'>,</span>
                <span class='nt'>'name'</span><span class='p'>:</span> <span class='s2'>'methionine biosynthetic process'</span>
            <span class='p'>},</span>
            <span class='p'>{</span>
                <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0000105'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>14</span><span class='p'>,</span>
                <span class='nt'>'name'</span><span class='p'>:</span> <span class='s2'>'histidine biosynthetic process'</span>
            <span class='p'>},</span>
            <span class='p'>{</span>
                <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0004477'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>14</span><span class='p'>,</span>
                <span class='nt'>'name'</span><span class='p'>:</span> <span class='s2'>'methenyltetrahydrofolate cyclohydrolase activity'</span>
            <span class='p'>},</span>
            <span class='p'>{</span>
                <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0003677'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>2</span><span class='p'>,</span>
                <span class='nt'>'name'</span><span class='p'>:</span> <span class='s2'>'DNA binding'</span>
            <span class='p'>},</span>
            <span class='p'>{</span>
                <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0016987'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>1</span><span class='p'>,</span>
                <span class='nt'>'name'</span><span class='p'>:</span> <span class='s2'>'sigma factor activity'</span>
            <span class='p'>},</span>
            <span class='p'>{</span>
                <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0044219'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>1</span><span class='p'>,</span>
                <span class='nt'>'name'</span><span class='p'>:</span> <span class='s2'>'host cell plasmodesma'</span>
            <span class='p'>},</span>
            <span class='p'>{</span>
                <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0009011'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>1</span><span class='p'>,</span>
                <span class='nt'>'name'</span><span class='p'>:</span> <span class='s2'>'starch synthase activity'</span>
            <span class='p'>},</span>
            <span class='p'>{</span>
                <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0005198'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>1</span><span class='p'>,</span>
                <span class='nt'>'name'</span><span class='p'>:</span> <span class='s2'>'structural molecule activity'</span>
            <span class='p'>},</span>
            <span class='p'>{</span>
                <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0009399'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>1</span><span class='p'>,</span>
                <span class='nt'>'name'</span><span class='p'>:</span> <span class='s2'>'nitrogen fixation'</span>
            <span class='p'>},</span>
            <span class='p'>{</span>
                <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0005525'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>1</span><span class='p'>,</span>
                <span class='nt'>'name'</span><span class='p'>:</span> <span class='s2'>'GTP binding'</span>
            <span class='p'>},</span>
            <span class='p'>{</span>
                <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0003723'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>1</span><span class='p'>,</span>
                <span class='nt'>'name'</span><span class='p'>:</span> <span class='s2'>'RNA binding'</span>
            <span class='p'>},</span>
            <span class='p'>{</span>
                <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0046740'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>1</span><span class='p'>,</span>
                <span class='nt'>'name'</span><span class='p'>:</span> <span class='s2'>'transport of virus in host, cell to cell'</span>
            <span class='p'>},</span>
            <span class='p'>{</span>
                <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0019028'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>1</span><span class='p'>,</span>
                <span class='nt'>'name'</span><span class='p'>:</span> <span class='s2'>'viral capsid'</span>
            <span class='p'>},</span>
            <span class='p'>{</span>
                <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0004373'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>1</span><span class='p'>,</span>
                <span class='nt'>'name'</span><span class='p'>:</span> <span class='s2'>'glycogen (starch) synthase activity'</span>
            <span class='p'>},</span>
            <span class='p'>{</span>
                <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0006352'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>1</span><span class='p'>,</span>
                <span class='nt'>'name'</span><span class='p'>:</span> <span class='s2'>'DNA-templated transcription, initiation'</span>
            <span class='p'>},</span>
            <span class='p'>{</span>
                <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0001216'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>1</span><span class='p'>,</span>
                <span class='nt'>'name'</span><span class='p'>:</span> <span class='s2'>'bacterial-type RNA polymerase transcriptional activator activity, sequence-specific DNA binding'</span>
            <span class='p'>},</span>
            <span class='p'>{</span>
                <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0005978'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>1</span><span class='p'>,</span>
                <span class='nt'>'name'</span><span class='p'>:</span> <span class='s2'>'glycogen biosynthetic process'</span>
            <span class='p'>},</span>
            <span class='p'>{</span>
                <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0003899'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>1</span><span class='p'>,</span>
                <span class='nt'>'name'</span><span class='p'>:</span> <span class='s2'>'DNA-directed 5'-3' RNA polymerase activity'</span>
            <span class='p'>},</span>
            <span class='p'>{</span>
                <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0033201'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>1</span><span class='p'>,</span>
                <span class='nt'>'name'</span><span class='p'>:</span> <span class='s2'>'alpha-1,4-glucan synthase activity'</span>
            <span class='p'>}</span>
        <span class='p'>],</span>
        <span class='nt'>'taxon_id'</span><span class='p'>:</span> <span class='mi'>1</span><span class='p'>,</span>
        <span class='nt'>'taxon_name'</span><span class='p'>:</span> <span class='s2'>'root'</span><span class='p'>,</span>
        <span class='nt'>'taxon_rank'</span><span class='p'>:</span> <span class='s2'>'no rank'</span><span class='p'>,</span>
        <span class='nt'>'superkingdom_id'</span><span class='p'>:</span> <span class='kc'>null</span><span class='p'>,</span>
        <span class='nt'>'kingdom_id'</span><span class='p'>:</span> <span class='kc'>null</span><span class='p'>,</span>
        <span class='nt'>'subkingdom_id'</span><span class='p'>:</span> <span class='kc'>null</span><span class='p'>,</span>
        <span class='nt'>'superphylum_id'</span><span class='p'>:</span> <span class='kc'>null</span><span class='p'>,</span>
        <span class='nt'>'phylum_id'</span><span class='p'>:</span> <span class='kc'>null</span><span class='p'>,</span>
        <span class='nt'>'subphylum_id'</span><span class='p'>:</span> <span class='kc'>null</span><span class='p'>,</span>
        <span class='nt'>'superclass_id'</span><span class='p'>:</span> <span class='kc'>null</span><span class='p'>,</span>
        <span class='nt'>'class_id'</span><span class='p'>:</span> <span class='kc'>null</span><span class='p'>,</span>
        <span class='nt'>'subclass_id'</span><span class='p'>:</span> <span class='kc'>null</span><span class='p'>,</span>
        <span class='nt'>'infraclass_id'</span><span class='p'>:</span> <span class='kc'>null</span><span class='p'>,</span>
        <span class='nt'>'superorder_id'</span><span class='p'>:</span> <span class='kc'>null</span><span class='p'>,</span>
        <span class='nt'>'order_id'</span><span class='p'>:</span> <span class='kc'>null</span><span class='p'>,</span>
        <span class='nt'>'suborder_id'</span><span class='p'>:</span> <span class='kc'>null</span><span class='p'>,</span>
        <span class='nt'>'infraorder_id'</span><span class='p'>:</span> <span class='kc'>null</span><span class='p'>,</span>
        <span class='nt'>'parvorder_id'</span><span class='p'>:</span> <span class='kc'>null</span><span class='p'>,</span>
        <span class='nt'>'superfamily_id'</span><span class='p'>:</span> <span class='kc'>null</span><span class='p'>,</span>
        <span class='nt'>'family_id'</span><span class='p'>:</span> <span class='kc'>null</span><span class='p'>,</span>
        <span class='nt'>'subfamily_id'</span><span class='p'>:</span> <span class='kc'>null</span><span class='p'>,</span>
        <span class='nt'>'tribe_id'</span><span class='p'>:</span> <span class='kc'>null</span><span class='p'>,</span>
        <span class='nt'>'subtribe_id'</span><span class='p'>:</span> <span class='kc'>null</span><span class='p'>,</span>
        <span class='nt'>'genus_id'</span><span class='p'>:</span> <span class='kc'>null</span><span class='p'>,</span>
        <span class='nt'>'subgenus_id'</span><span class='p'>:</span> <span class='kc'>null</span><span class='p'>,</span>
        <span class='nt'>'species_group_id'</span><span class='p'>:</span> <span class='kc'>null</span><span class='p'>,</span>
        <span class='nt'>'species_subgroup_id'</span><span class='p'>:</span> <span class='kc'>null</span><span class='p'>,</span>
        <span class='nt'>'species_id'</span><span class='p'>:</span> <span class='kc'>null</span><span class='p'>,</span>
        <span class='nt'>'subspecies_id'</span><span class='p'>:</span> <span class='kc'>null</span><span class='p'>,</span>
        <span class='nt'>'varietas_id'</span><span class='p'>:</span> <span class='kc'>null</span><span class='p'>,</span>
        <span class='nt'>'forma_id'</span><span class='p'>:</span> <span class='kc'>null</span>
    <span class='p'>}</span>
<span class='p'>]</span>"
    %>
    <%= render 'example',
               example_id: "apidocs-example-domains",
               title: "Retrieve the functional ec-numbers, go-terms and lowest common ancestor associated with a single tryptic peptide, making a distinction between different go-domains",
               explanation: "<p>This example retrieves the functional ec-numbers, go-terms and lowest common ancestor associated with the tryptic peptide <i class='initialism'>AAAAA</i> distributed over the distinct go-domains. The result is the same as " + link_to("this search", sequence_path("AAAAA")) + " with the Tryptic Peptide Analysis in the web interface.</p>",
               post_request: "<span class='gp'>$</span> curl -X POST -H <span class='s2'>'Accept: application/json'</span> #{Rails.application.config.api_host}/api/v1/peptinfo \\
-d <span class='s1'>'input[]=AAAAA'</span> \\
-d <span class='s1'>'domains=true'</span>",
               get_request: "<a href='http://#{Rails.application.config.api_host}/api/v1/peptinfo.json?input[]=AAAAA&domains=true' target='_blank'>http://#{Rails.application.config.api_host}/api/v1/peptinfo.json?input[]=AAAAA&amp;domains=true</a>",
               response: "<span class='p'>[</span>
    <span class='p'>{</span>
        <span class='nt'>'peptide'</span><span class='p'>:</span> <span class='s2'>'AAAAA'</span><span class='p'>,</span>
        <span class='nt'>'total_protein_count'</span><span class='p'>:</span> <span class='mi'>17</span><span class='p'>,</span>
        <span class='nt'>'ec'</span><span class='p'>:</span> <span class='p'>[</span>
            <span class='p'>{</span>
                <span class='nt'>'ec_number'</span><span class='p'>:</span> <span class='s2'>'1.5.1.5'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>14</span>
            <span class='p'>},</span>
            <span class='p'>{</span>
                <span class='nt'>'ec_number'</span><span class='p'>:</span> <span class='s2'>'3.5.4.9'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>14</span>
            <span class='p'>},</span>
            <span class='p'>{</span>
                <span class='nt'>'ec_number'</span><span class='p'>:</span> <span class='s2'>'2.4.1.21'</span><span class='p'>,</span>
                <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>1</span>
            <span class='p'>}</span>
        <span class='p'>],</span>
        <span class='nt'>'go'</span><span class='p'>:</span> <span class='p'>[</span>
            <span class='p'>{</span>
                <span class='nt'>'molecular function'</span><span class='p'>:</span> <span class='p'>[</span>
                    <span class='p'>{</span>
                        <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0004488'</span><span class='p'>,</span>
                        <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>14</span>
                    <span class='p'>},</span>
                    <span class='p'>{</span>
                        <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0004477'</span><span class='p'>,</span>
                        <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>14</span>
                    <span class='p'>},</span>
                    <span class='p'>{</span>
                        <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0003677'</span><span class='p'>,</span>
                        <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>2</span>
                    <span class='p'>},</span>
                    <span class='p'>{</span>
                        <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0016987'</span><span class='p'>,</span>
                        <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>1</span>
                    <span class='p'>},</span>
                    <span class='p'>{</span>
                        <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0009011'</span><span class='p'>,</span>
                        <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>1</span>
                    <span class='p'>},</span>
                    <span class='p'>{</span>
                        <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0005198'</span><span class='p'>,</span>
                        <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>1</span>
                    <span class='p'>},</span>
                    <span class='p'>{</span>
                        <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0005525'</span><span class='p'>,</span>
                        <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>1</span>
                    <span class='p'>},</span>
                    <span class='p'>{</span>
                        <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0003723'</span><span class='p'>,</span>
                        <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>1</span>
                    <span class='p'>},</span>
                    <span class='p'>{</span>
                        <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0004373'</span><span class='p'>,</span>
                        <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>1</span>
                    <span class='p'>},</span>
                    <span class='p'>{</span>
                        <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0001216'</span><span class='p'>,</span>
                        <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>1</span>
                    <span class='p'>},</span>
                    <span class='p'>{</span>
                        <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0003899'</span><span class='p'>,</span>
                        <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>1</span>
                    <span class='p'>},</span>
                    <span class='p'>{</span>
                        <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0033201'</span><span class='p'>,</span>
                        <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>1</span>
                    <span class='p'>}</span>
                <span class='p'>]</span>
            <span class='p'>},</span>
            <span class='p'>{</span>
                <span class='nt'>'cellular component'</span><span class='p'>:</span> <span class='p'>[</span>
                    <span class='p'>{</span>
                        <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0044219'</span><span class='p'>,</span>
                        <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>1</span>
                    <span class='p'>},</span>
                    <span class='p'>{</span>
                        <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0019028'</span><span class='p'>,</span>
                        <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>1</span>
                    <span class='p'>}</span>
                <span class='p'>]</span>
            <span class='p'>},</span>
            <span class='p'>{</span>
                <span class='nt'>'biological process'</span><span class='p'>:</span> <span class='p'>[</span>
                    <span class='p'>{</span>
                        <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0006164'</span><span class='p'>,</span>
                        <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>14</span>
                    <span class='p'>},</span>
                    <span class='p'>{</span>
                        <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0035999'</span><span class='p'>,</span>
                        <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>14</span>
                    <span class='p'>},</span>
                    <span class='p'>{</span>
                        <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0009086'</span><span class='p'>,</span>
                        <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>14</span>
                    <span class='p'>},</span>
                    <span class='p'>{</span>
                        <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0000105'</span><span class='p'>,</span>
                        <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>14</span>
                    <span class='p'>},</span>
                    <span class='p'>{</span>
                        <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0009399'</span><span class='p'>,</span>
                        <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>1</span>
                    <span class='p'>},</span>
                    <span class='p'>{</span>
                        <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0046740'</span><span class='p'>,</span>
                        <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>1</span>
                    <span class='p'>},</span>
                    <span class='p'>{</span>
                        <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0006352'</span><span class='p'>,</span>
                        <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>1</span>
                    <span class='p'>},</span>
                    <span class='p'>{</span>
                        <span class='nt'>'go_term'</span><span class='p'>:</span> <span class='s2'>'GO:0005978'</span><span class='p'>,</span>
                        <span class='nt'>'protein_count'</span><span class='p'>:</span> <span class='mi'>1</span>
                    <span class='p'>}</span>
                <span class='p'>]</span>
            <span class='p'>}</span>
        <span class='p'>],</span>
        <span class='nt'>'taxon_id'</span><span class='p'>:</span> <span class='mi'>1</span><span class='p'>,</span>
        <span class='nt'>'taxon_name'</span><span class='p'>:</span> <span class='s2'>'root'</span><span class='p'>,</span>
        <span class='nt'>'taxon_rank'</span><span class='p'>:</span> <span class='s2'>'no rank'</span>
    <span class='p'>}</span>
<span class='p'>]</span>"
    %>
    <%= render 'tryit',
               name: "peptinfo",
               input: true,
               equate_il: true,
               extra: true,
               names: false,
               domains: true
    %>
  </div>
  <div class="col-xs-3">
    <%= render 'api/shared/sidebar' %>
  </div>
</div>
