<div class="apidocs row">
  <div class="col-xs-9">
    <div class='page-header'>
      <h1><span class="initialism">POST</span> /api/v1/pept2prot
        <br>
        <small>Returns a list of UniProt entries containing a given tryptic peptide</small>
      </h1>
    </div>

    <p>
      This method returns a list of all UniProt entries containing a given tryptic peptide. This is the same information as provided on the <em>Protein matches</em> tab when performing a search with the <%= link_to("Tryptic Peptide Analysis", search_single_path) %> in the web  interface.
    </p>

    <h2 id="request">Request</h2>
    <p>
      The pept2prot method can be used by doing a <span class="initialism">HTTP</span> <span class="initialism">POST</span>-request (preferred) or <span class="initialism">GET</span>-request to <code>http://<%= Rails.application.config.api_host %>/api/v1/pept2prot</code>. <a href="#parameters">Parameters</a> can be included in the request body (<span class="initialism">POST</span>) or in the query string (<span class="initialism">GET</span>). The only required parameter is <code>input</code>, which is passed as a list containing one or more tryptic peptides.
    </p>

    <h3>input</h3>
    <p>
      <code>input</code> is a required parameter that takes a list of one or more tryptic. Unipept will return all UniProt records that contain any of the peptides in <code>input</code> in their protein sequence.
    </p>

    <div class="apidocs-callout apidocs-callout-warning">
      <h4>Input size</h4>
      <p>Unipept puts no restrictions on the number of peptides passed to the <code>input</code> parameter. Keep in mind that searching for lots of peptides at once may cause the request to timeout or, in the case of a <span class="initialism">GET</span>-request, exceed the maximum URL length. When performing bulk searches, we suggest splitting the input set over requests of 100 peptides each.</p>
    </div>

    <h3>equate_il</h3>
    <p>
      <code>equate_il</code> is an optional parameter and can either be <code>true</code> or <code>false</code>. When not set explicitly, the parameter defaults to <code>false</code>. When the parameter is set to <code>true</code>, isoleucine (I) and leucine (L) are equated when matching tryptic peptides to UniProt records. This setting is similar to checking the <i>Equate I and L?</i> checkbox when performing a search with the <%= link_to("Tryptic Peptide Analysis", search_single_path) %> in the web interface.
    </p>

    <h3>extra</h3>
    <p>
      <code>extra</code> is an optional parameter and can either be <code>true</code> or <code>false</code>. When not set explicitelly, the parameter defaults to <code>false</code>. When the parameter is set to <code>true</code>, Unipept will return additional information fields. See the <a href="#response">response</a> section for more information.
    </p>

    <div class="apidocs-callout apidocs-callout-warning">
      <h4>Performance penalty</h4>
      <p>Setting <code>extra</code> to <code>true</code> has a performance penalty inferred from additional database queries. Do not use this parameter unless the extra information fields are needed.</p>
    </div>

    <h2 id="response">Response</h2>
    <p>
      Matching UniProt records are returned as a list of <span class="initialism">JSON</span> objects. By default, each object contains the following information fields extracted from the UniProt record:
    </p>

    <ul>
      <li><code>sequence</code>: the peptide that matched this record</li>
      <li><code>uniprot_id</code>: the UniProt accession number of the matching record</li>
      <li><code>taxon_id</code>: the <span class="initialism">NCBI</span> taxon id of the organism associated with the matching record</li>
    </ul>

    <p>When the <code>extra</code> parameter is set to <code>true</code>, objects contain the following additional fields extracted from the UniProt record:</p>

    <ul>
      <li><code>taxon_name</code>: the name of the organism associated with the matching UniProt record</li>
      <li><code>ec_references</code>: a space separated list of EC numbers associated with the matching UniProt record</li>
      <li><code>go_references</code>: a space separated list of GO terms associated with the matching UniProt record</li>
    </ul>

    <h2 id="parameters">Parameters</h2>
    <table class='table'>
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <strong>input </strong><br>
            <small><mark>required</mark></small>
          </td>
          <td>
            <p>List of tryptic peptides to search for.</p>
            <small>Value: Must be an array of strings</small>
          </td>
        </tr>
        <tr>
          <td>
            <strong>equate_il </strong><br>
            <small><i>optional</i></small>
          </td>
          <td>
            <p>Equate isoleucine (I) and leucine (L).</p>
            <small>Value: Must be <code>true</code> or <code>false</code> (default)</small>
          </td>
        </tr>
        <tr>
          <td>
            <strong>extra </strong><br>
            <small><i>optional</i></small>
          </td>
          <td>
            <p>Return additional information fields.</p>
            <small>Value: Must be <code>true</code> or <code>false</code> (default)</small>
          </td>
        </tr>
      </tbody>
    </table>

    <h2 id="examples">Examples</h2>
    <div class="apidocs-example">
      <h4>Example <small>Retrieve all UniProt records containing a given tryptic peptide</small></h4>
      <p>This example retrieves all UniProt records containing the peptide <i class="initialism">AIPQLEVARPADAYETAEAYR</i>. The result is the same as <%= link_to("this search", sequence_path("AIPQLEVARPADAYETAEAYR")) %> with the Tryptic Peptide Analysis in the web interface.</p>
        <pre class="pygmentize"><span class="gp">$</span> curl -X POST -H <span class="s2">"Accept: application/json"</span> <%= Rails.application.config.api_host %>/api/v1/pept2prot \
-d <span class="s1">'input[0]=AIPQLEVARPADAYETAEAYR'</span></pre>
    </div>
    <div class="highlight">
      <h4>Response</h4>
      <pre class="pygmentize pre-scrollable"><code><span class="p">[</span>
  <span class="p">{</span>
    <span class="nx">sequence</span><span class="o">:</span> <span class="s2">"AIPQLEVARPADAYETAEAYR"</span><span class="p">,</span>
    <span class="nx">uniprot_id</span><span class="o">:</span> <span class="s2">"A7A5N6"</span><span class="p">,</span>
    <span class="nx">taxon_id</span><span class="o">:</span> <span class="mi">411481</span>
  <span class="p">},</span>
  <span class="p">{</span>
    <span class="nx">sequence</span><span class="o">:</span> <span class="s2">"AIPQLEVARPADAYETAEAYR"</span><span class="p">,</span>
    <span class="nx">uniprot_id</span><span class="o">:</span> <span class="s2">"A1A1M7"</span><span class="p">,</span>
    <span class="nx">taxon_id</span><span class="o">:</span> <span class="mi">367928</span>
  <span class="p">}</span>
<span class="p">]</span></code></pre>
    </div>

    <div class="apidocs-example">
      <h4>Example <small>Retrieve all uniprot records containing one of multiple tryptic peptides</small></h4>
      <p>This example retrieves all uniprot records containing the peptide <i class="initialism">AIPQLEVARPADAYETAEAYR</i> or <i class="initialism">APVLSDSSCK</i>. The result is the same as the combination of <%= link_to("this search", sequence_path("AIPQLEVARPADAYETAEAYR")) %> and <%= link_to("this search", sequence_path("APVLSDSSCK")) %> with the Tryptic Peptide Analysis in the web interface.</p>
        <pre class="pygmentize"><span class="gp">$</span> curl -X POST -H <span class="s2">"Accept: application/json"</span> <%= Rails.application.config.api_host %>/api/v1/pept2prot \
-d <span class="s1">'input[0]=AIPQLEVARPADAYETAEAYR'</span> \
-d <span class="s1">'input[1]=APVLSDSSCK'</span></pre>
    </div>
    <div class="highlight">
      <h4>Response</h4>
      <pre class="pygmentize pre-scrollable"><code><span class="p">[</span>
  <span class="p">{</span>
    <span class="nx">sequence</span><span class="o">:</span> <span class="s2">"AIPQLEVARPADAYETAEAYR"</span><span class="p">,</span>
    <span class="nx">uniprot_id</span><span class="o">:</span> <span class="s2">"A7A5N6"</span><span class="p">,</span>
    <span class="nx">taxon_id</span><span class="o">:</span> <span class="mi">411481</span>
  <span class="p">},</span>
  <span class="p">{</span>
    <span class="nx">sequence</span><span class="o">:</span> <span class="s2">"AIPQLEVARPADAYETAEAYR"</span><span class="p">,</span>
    <span class="nx">uniprot_id</span><span class="o">:</span> <span class="s2">"A1A1M7"</span><span class="p">,</span>
    <span class="nx">taxon_id</span><span class="o">:</span> <span class="mi">367928</span>
  <span class="p">},</span>
  <span class="p">{</span>
    <span class="nx">sequence</span><span class="o">:</span> <span class="s2">"APVLSDSSCK"</span><span class="p">,</span>
    <span class="nx">uniprot_id</span><span class="o">:</span> <span class="s2">"P00761"</span><span class="p">,</span>
    <span class="nx">taxon_id</span><span class="o">:</span> <span class="mi">9823</span>
  <span class="p">},</span>
  <span class="p">{</span>
    <span class="nx">sequence</span><span class="o">:</span> <span class="s2">"APVLSDSSCK"</span><span class="p">,</span>
    <span class="nx">uniprot_id</span><span class="o">:</span> <span class="s2">"C5IWV5"</span><span class="p">,</span>
    <span class="nx">taxon_id</span><span class="o">:</span> <span class="mi">9823</span>
  <span class="p">},</span>
  <span class="p">{</span>
    <span class="nx">sequence</span><span class="o">:</span> <span class="s2">"APVLSDSSCK"</span><span class="p">,</span>
    <span class="nx">uniprot_id</span><span class="o">:</span> <span class="s2">"F1SRS2"</span><span class="p">,</span>
    <span class="nx">taxon_id</span><span class="o">:</span> <span class="mi">9823</span>
  <span class="p">}</span>
<span class="p">]</span>
</code></pre>
    </div>

    <div class="apidocs-example">
      <h4>Example <small>Retrieve all uniprot records containing a single tryptic peptide equating I and L</small></h4>
      <p>This example retrieves all uniprot records containing the peptide <i class="initialism">APVISDSSCK</i>, equating I and L. The result is the same as <%= link_to("this search", sequence_path("APVISDSSCK") + "/equate_il") %> with the Tryptic Peptide Analysis in the web interface.</p>
        <pre class="pygmentize"><span class="gp">$</span> curl -X POST -H <span class="s2">"Accept: application/json"</span> <%= Rails.application.config.api_host %>/api/v1/pept2prot \
-d <span class="s1">'input[0]=APVISDSSCK'</span> \
-d <span class="s1">'equate_il=true'</span></pre>
    </div>
    <div class="highlight">
      <h4>Response</h4>
      <pre class="pygmentize pre-scrollable"><code><span class="p">[</span>
  <span class="p">{</span>
    <span class="nx">sequence</span><span class="o">:</span> <span class="s2">"APVISDSSCK"</span><span class="p">,</span>
    <span class="nx">uniprot_id</span><span class="o">:</span> <span class="s2">"P00761"</span><span class="p">,</span>
    <span class="nx">taxon_id</span><span class="o">:</span> <span class="mi">9823</span>
  <span class="p">},</span>
  <span class="p">{</span>
    <span class="nx">sequence</span><span class="o">:</span> <span class="s2">"APVISDSSCK"</span><span class="p">,</span>
    <span class="nx">uniprot_id</span><span class="o">:</span> <span class="s2">"C5IWV5"</span><span class="p">,</span>
    <span class="nx">taxon_id</span><span class="o">:</span> <span class="mi">9823</span>
  <span class="p">},</span>
  <span class="p">{</span>
    <span class="nx">sequence</span><span class="o">:</span> <span class="s2">"APVISDSSCK"</span><span class="p">,</span>
    <span class="nx">uniprot_id</span><span class="o">:</span> <span class="s2">"F1SRS2"</span><span class="p">,</span>
    <span class="nx">taxon_id</span><span class="o">:</span> <span class="mi">9823</span>
  <span class="p">}</span>
<span class="p">]</span>
</code></pre>
    </div>

    <div class="apidocs-example">
      <h4>Example <small>Retrieve all uniprot records containing a single tryptic peptide with extra information</small></h4>
      <p>This example retrieves all uniprot records containing the peptide <i class="initialism">AIPQLEVARPADAYETAEAYR</i> including all extra information in the Unipept database. The result is the same as <%= link_to("this search", sequence_path("AIPQLEVARPADAYETAEAYR")) %> with the Tryptic Peptide Analysis in the web interface.</p>
        <pre class="pygmentize"><span class="gp">$</span> curl -X POST -H <span class="s2">"Accept: application/json"</span> <%= Rails.application.config.api_host %>/api/v1/pept2prot \
-d <span class="s1">'input[0]=AIPQLEVARPADAYETAEAYR'</span> \
-d <span class="s1">'extra=true'</span></pre>
    </div>
    <div class="highlight">
      <h4>Response</h4>
      <pre class="pygmentize pre-scrollable"><code><span class="p">[</span>
  <span class="p">{</span>
    <span class="nx">sequence</span><span class="o">:</span> <span class="s2">"AIPQLEVARPADAYETAEAYR"</span><span class="p">,</span>
    <span class="nx">uniprot_id</span><span class="o">:</span> <span class="s2">"A7A5N6"</span><span class="p">,</span>
    <span class="nx">taxon_id</span><span class="o">:</span> <span class="mi">411481</span><span class="p">,</span>
    <span class="nx">taxon_name</span><span class="o">:</span> <span class="s2">"Bifidobacterium adolescentis L2-32"</span><span class="p">,</span>
    <span class="nx">ec_references</span><span class="o">:</span> <span class="s2">"2.2.1.1"</span><span class="p">,</span>
    <span class="nx">go_references</span><span class="o">:</span> <span class="s2">""</span>
  <span class="p">},</span>
  <span class="p">{</span>
    <span class="nx">sequence</span><span class="o">:</span> <span class="s2">"AIPQLEVARPADAYETAEAYR"</span><span class="p">,</span>
    <span class="nx">uniprot_id</span><span class="o">:</span> <span class="s2">"A1A1M7"</span><span class="p">,</span>
    <span class="nx">taxon_id</span><span class="o">:</span> <span class="mi">367928</span><span class="p">,</span>
    <span class="nx">taxon_name</span><span class="o">:</span> <span class="s2">"Bifidobacterium adolescentis ATCC 15703"</span><span class="p">,</span>
    <span class="nx">ec_references</span><span class="o">:</span> <span class="s2">""</span><span class="p">,</span>
    <span class="nx">go_references</span><span class="o">:</span> <span class="s2">""</span>
  <span class="p">}</span>
<span class="p">]</span>
</code>
      </pre>
    </div>
  </div>
  <div class="col-xs-3">
    <%= render 'sidebar' %>
  </div>
</div>
