<div class="apidocs row">
  <div class="col-xs-9">
    <div class='page-header'>
      <h1><span class="initialism">POST</span> /api/v1/pept2taxa
        <br>
        <small>Returns a list of taxa retrieved from the UniProt entries containing a given tryptic peptide.</small>
      </h1>
    </div>

    <p>
      This method returns all organisms associated with the UniProt entries containing a given tryptic peptide. This is the same information as provided on the <em>Lineage table</em> tab when performing a search with the <%= link_to("Tryptic Peptide Analysis", search_single_path) %> in the web  interface.
    </p>

    <h2 id="request">Request</h2>
    <p>
      The pept2taxa method can be used by doing a <span class="initialism">HTTP</span> <span class="initialism">POST</span>-request (preferred) or <span class="initialism">GET</span>-request to <code>http://<%= Rails.application.config.api_host %>/api/v1/pept2taxa</code>. <a href="#parameters">Parameters</a> can be included in the request body (<span class="initialism">POST</span>) or in the query string (<span class="initialism">GET</span>). The only required parameter is <code>input[]</code>, which takes one or more tryptic peptides.
    </p>

    <h3>input</h3>
    <p>
      <code>input[]</code> is a required parameter that takes one or more tryptic peptides. Unipept will return all organisms associated with the UniProt records that contain any of the <code>input[]</code> peptides in their protein sequence. To pass multiple peptides at once, simply add multiple <code>input[]</code> parameters (see <a href="#apidocs-example-multiple">example</a>).
    </p>

    <div class="apidocs-callout apidocs-callout-warning">
      <h4>Input size</h4>
      <p>Unipept puts no restrictions on the number of peptides passed to the <code>input[]</code> parameter. Keep in mind that searching for lots of peptides at once may cause the request to timeout or, in the case of a <span class="initialism">GET</span>-request, exceed the maximum URL length. When performing bulk searches, we suggest splitting the input set over requests of 100 peptides each.</p>
    </div>

    <h3>equate_il</h3>
    <p>
      <code>equate_il</code> is an optional parameter and can either be <code>true</code> or <code>false</code>. When not set explicitly, the parameter defaults to <code>false</code>. When the parameter is set to <code>true</code>, isoleucine (I) and leucine (L) are equated when matching tryptic peptides to UniProt records. This setting is similar to checking the <i>Equate I and L?</i> checkbox when performing a search with the <%= link_to("Tryptic Peptide Analysis", search_single_path) %> in the web interface.
    </p>

    <h3>extra</h3>
    <p>
      <code>extra</code> is an optional parameter and can either be <code>true</code> or <code>false</code>. When not set explicitly, the parameter defaults to <code>false</code>. When the parameter is set to <code>true</code>, Unipept will return additional lineage information about the organism. See the <a href="#response">response</a> section for more information.
    </p>

    <h3>names</h3>
    <p>
      <code>names</code> is an optional parameter and can either be <code>true</code> or <code>false</code>. When not set explicitly, the parameter defaults to <code>false</code>. When both <code>names</code> and <code>extra</code> are set to <code>true</code>, Unipept will also return the names of all organisms in the lineage of each organism. Setting only <code>names</code> to <code>true</code> has no effect on the output. See the <a href="#response">response</a> section for more information.
    </p>

    <div class="apidocs-callout apidocs-callout-warning">
      <h4>Performance penalty</h4>
      <p>Setting <code>names</code> to <code>true</code> has a performance penalty inferred from additional database queries. Do not use this parameter unless the extra information fields are needed.</p>
    </div>

    <h2 id="response">Response</h2>
    <p>
      The organisms associated with matching UniProt records are returned as a list of <span class="initialism">JSON</span> objects. By default, each object contains the following information fields extracted from the UniProt record and <span class="initialism">NCBI</span> taxonomy:
    </p>

    <ul>
      <li><code>sequence</code>: the peptide that matched this record</li>
      <li><code>taxon_id</code>: the <span class="initialism">NCBI</span> taxon id of the organism associated with the matching record</li>
      <li><code>taxon_name</code>: the name of the organism associated with the matching record</li>
      <li><code>taxon_rank</code>: the taxonomic rank of the organism associated with the matching record</li>
    </ul>

    <p>When the <code>extra</code> parameter is set to <code>true</code>, objects contain additional lineage information extracted from the <span class="initialism">NCBI</span> taxonomy. For each of the ranks of the lineage, the taxon id is specified using the following fields:</p>
    <div class="row">
      <div class="col-xs-4">
        <ul>
          <li><code>superkingdom_id</code></li>
          <li><code>kingdom_id</code></li>
          <li><code>subkingdom_id</code></li>
          <li><code>superphylum_id</code></li>
          <li><code>phylum_id</code></li>
          <li><code>subphylum_id</code></li>
          <li><code>superclass_id</code></li>
          <li><code>class_id</code></li>
          <li><code>subclass_id</code></li>
          <li><code>infraclass_id</code></li>
        </ul>
      </div>
      <div class="col-xs-4">
        <ul>
          <li><code>superorder_id</code></li>
          <li><code>order_id</code></li>
          <li><code>suborder_id</code></li>
          <li><code>infraorder_id</code></li>
          <li><code>parvorder_id</code></li>
          <li><code>superfamily_id</code></li>
          <li><code>family_id</code></li>
          <li><code>subfamily_id</code></li>
          <li><code>tribe_id</code></li>
          <li><code>subtribe_id</code></li>
        </ul>
      </div>
      <div class="col-xs-4">
        <ul>
          <li><code>genus_id</code></li>
          <li><code>subgenus_id</code></li>
          <li><code>species_group_id</code></li>
          <li><code>species_subgroup_id</code></li>
          <li><code>species_id</code></li>
          <li><code>subspecies_id</code></li>
          <li><code>varietas_id</code></li>
          <li><code>forma_id</code></li>
        </ul>
      </div>
    </div>

    <p>When both the <code>name</code> and <code>extra</code> parameters are set to <code>true</code>, objects also contain the names of the ranks of the lineage. The following fields are used:</p>
    <div class="row">
      <div class="col-xs-4">
        <ul>
          <li><code>superkingdom_name</code></li>
          <li><code>kingdom_name</code></li>
          <li><code>subkingdom_name</code></li>
          <li><code>superphylum_name</code></li>
          <li><code>phylum_name</code></li>
          <li><code>subphylum_name</code></li>
          <li><code>superclass_name</code></li>
          <li><code>class_name</code></li>
          <li><code>subclass_name</code></li>
          <li><code>infraclass_name</code></li>
        </ul>
      </div>
      <div class="col-xs-4">
        <ul>
          <li><code>superorder_name</code></li>
          <li><code>order_name</code></li>
          <li><code>suborder_name</code></li>
          <li><code>infraorder_name</code></li>
          <li><code>parvorder_name</code></li>
          <li><code>superfamily_name</code></li>
          <li><code>family_name</code></li>
          <li><code>subfamily_name</code></li>
          <li><code>tribe_name</code></li>
          <li><code>subtribe_name</code></li>
        </ul>
      </div>
      <div class="col-xs-4">
        <ul>
          <li><code>genus_name</code></li>
          <li><code>subgenus_name</code></li>
          <li><code>species_group_name</code></li>
          <li><code>species_subgroup_name</code></li>
          <li><code>species_name</code></li>
          <li><code>subspecies_name</code></li>
          <li><code>varietas_name</code></li>
          <li><code>forma_name</code></li>
        </ul>
      </div>
    </div>

    <h2 id="parameters">Parameters</h2>

    <%= render "parameters", parameters: [
      {
        name: "input[]",
        required: true,
        optional: false,
        description: "Tryptic peptide to search for. Add multiple parameters to search for multiple peptides.",
        value: "String"
      },
      {
        name: "equate_il",
        required: false,
        optional: true,
        description: "Equate isoleucine (I) and leucine (L).",
        value: "Must be <code>true</code> or <code>false</code> (default)"
      },
      {
        name: "extra",
        required: false,
        optional: true,
        description: "Additionally return the lineage if <code>true</code>.",
        value: "Must be <code>true</code> or <code>false</code> (default)"
      },
      {
        name: "names",
        required: false,
        optional: true,
        description: "Additionally return the names of the lineage if <code>true</code>.",
        value: "Must be <code>true</code> or <code>false</code> (default)"
      }
    ]
    %>

    <h2 id="examples">Examples</h2>
    <%= render 'example',
      example_id: "fix_me",
      title: "Retrieve all UniProt records containing a given tryptic peptide",
      explanation: "<p>This example retrieves all UniProt records containing the peptide <i class='initialism'>AIPQLEVARPADAYETAEAYR</i>. The result is the same as " + link_to('this search', sequence_path('AIPQLEVARPADAYETAEAYR')) + " with the Tryptic Peptide Analysis in the web interface.</p>",
      post_request: "<span class='gp'>$</span> curl -X POST -H <span class='s2'>'Accept: application/json'</span> #{Rails.application.config.api_host}/api/v1/pept2prot \\
-d <span class='s1'>'input[]=AIPQLEVARPADAYETAEAYR'</span>",
      get_request: "<a href='http://#{Rails.application.config.api_host}/api/v1/pept2prot.json?input[]=AIPQLEVARPADAYETAEAYR' target='_blank'>http://#{Rails.application.config.api_host}/api/v1/pept2prot.json?input[]=AIPQLEVARPADAYETAEAYR</a>",
      response: "<span class='p'>[</span>
  <span class='p'>{</span>
    <span class='nx'>sequence</span><span class='o'>:</span> <span class='s2'>'AIPQLEVARPADAYETAEAYR'</span><span class='p'>,</span>
    <span class='nx'>uniprot_id</span><span class='o'>:</span> <span class='s2'>'A7A5N6'</span><span class='p'>,</span>
    <span class='nx'>taxon_id</span><span class='o'>:</span> <span class='mi'>411481</span>
  <span class='p'>},</span>
  <span class='p'>{</span>
    <span class='nx'>sequence</span><span class='o'>:</span> <span class='s2'>'AIPQLEVARPADAYETAEAYR'</span><span class='p'>,</span>
    <span class='nx'>uniprot_id</span><span class='o'>:</span> <span class='s2'>'A1A1M7'</span><span class='p'>,</span>
    <span class='nx'>taxon_id</span><span class='o'>:</span> <span class='mi'>367928</span>
  <span class='p'>}</span>
<span class='p'>]</span>"
    %>

    <pre class="prettyprint">
$ curl -X POST -H &quot;Accept: application/json&quot; api.unipept.ugent.be/api/v1/pept2taxa -d &#39;input[0]=SASLGR&#39;
[{&quot;sequence&quot;:&quot;SASLGR&quot;,&quot;taxon_id&quot;:3055,&quot;taxon_name&quot;:&quot;Chlamydomonas reinhardtii&quot;,&quot;taxon_parent_id&quot;:3052,&quot;taxon_rank&quot;:&quot;species&quot;},...]
  </pre>
  </div>
  <div class="col-xs-3">
    <%= render 'sidebar' %>
  </div>
</div>
