<div class="apidocs row">
  <div class="col-xs-9">
    <div class='page-header'>
      <h1 class='api-title'><span class="initialism">POST</span> /api/v1/taxa2tree
        <br>
        <small>Returns the taxonomic tree for a given list of taxon identifiers.</small>
      </h1>
    </div>
    <p>
      This method constructs and returns the taxonomic tree for a given list of <span class="initialism">NCBI</span> taxon identifiers.
    </p>
    <div class='card'>
      <div class='card-title card-title-colored'>
        <h2 class='card-title-text' id='request'>Request</h2>
      </div>
      <div class='card-supporting-text'>
        <p>
          The taxa2tree method can be used by doing a <span class="initialism">HTTP</span> <span class="initialism">POST</span>-request (preferred) or <span class="initialism">GET</span>-request to <code>http://<%= Rails.application.config.api_host %>/api/v1/taxa2tree</code>. <a href="#parameters">Parameters</a> can be included in the request body (<span class="initialism">POST</span>) or in the query string (<span class="initialism">GET</span>). The only required parameter is <code>input[]</code>, which takes at least one taxon identifier.
        </p>
        <h3>input</h3>
        <p>
          <code>input[]</code> is a required parameter that takes at least one taxon identifier. Unipept will compute and return the taxonomic tree for the given taxa. To pass multiple taxon identifiers, simply add multiple <code>input[]</code> parameters (see <a href="#apidocs-example-multiple">example</a>).
        </p>
      </div>
    </div>
    <div class='card'>
      <div class='card-title card-title-colored'>
        <h2 class='card-title-text' id='response'>Response</h2>
      </div>
      <div class='card-supporting-text'>
        <p>
          The taxonomic tree for the given list of taxon identifiers is returned as a <span class="initialism">JSON</span> object. This object is a tree that's represented by a hierarchical construction of nodes. By default, the object contains the following information fields extracted from the <span class="initialism">NCBI</span> taxonomy:
        </p>
        <ul>
          <li><code>id</code>: the <span class="initialism">NCBI</span> taxon id of the node.</li>
          <li><code>name</code>: the name of the node.</li>
          <li><code>rank</code>: the taxonomic rank of the node.</li>
          <li><code>data</code>: extra information associated with this node.</li>
          <ul>
            <li><code>count</code>: how many of the given taxa are directly or indirectly associated with this node? (e.g. correspond to the node itself or one of it's children)</li>
            <li><code>self_count</code>: how many of the given taxa are directly associated with this node?</li>
          </ul>
          <li><code>children</code>: a list of nodes that are the children of this node in the NCBI-taxonomy. These have the same structure as the root JSON-object.</li>
        </ul>
      </div>
    </div>
    <div class='card'>
      <div class='card-title card-title-colored'>
        <h2 class='card-title-text' id='parameters'>GET-parameters</h2>
      </div>
      <div class='card-supporting-text'>
        <%= render "parameters", parameters: [
          {
            name: "input[]",
            required: true,
            optional: false,
            description: "List of taxon identifiers to calculate the taxonomic tree for. Add multiple parameters to specify multiple taxon id's.",
            value: "Integer"
          },
          {
            name: "link",
            required: false,
            optional: true,
            description: "Return an URL that points to a GitHub gist in which the visualization code for this sample is stored.",
            value: "boolean"
          }
        ]
        %>
      </div>
    </div>

    <div class='card'>
      <div class='card-title card-title-colored'>
        <h2 class='card-title-text' id='parameters'>POST-parameters</h2>
      </div>
      <div class='card-supporting-text'>
        <%= render "parameters", parameters: [
            {
                name: "count",
                required: true,
                optional: false,
                description: "List of taxon identifiers and associated counts to calculate the taxonomic tree for. Should be a JSON-object with taxon id's as keys and counts as values.",
                value: "object"
            },
            {
                name: "link",
                required: false,
                optional: true,
                description: "Return an URL that points to a GitHub gist in which the visualization code for this sample is stored.",
                value: "boolean"
            }
        ]
        %>
      </div>
    </div>
    <h2 id="examples">Examples</h2>
    <%= render 'example',
      example_id: "apidocs-example-multiple",
      title: "Calculate the taxonomic tree for a given list of taxon identifiers",
      explanation: "<p>This example calculates and retrieves the taxonomic tree of <i>Bacteroides fragilis</i> (taxon id <a href='http://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?mode=Info&amp;id=817' target='_blank' title='Open in NCBI'>817</a>), <i>Bacteroides intestinalis</i> (taxon id <a href='http://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?mode=Info&amp;id=329854' target='_blank' title='Open in NCBI'>329854</a>) and <i>Coprobacter fastidiosus</i> (taxon id <a href='http://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?mode=Info&amp;id=1099853' target='_blank' title='Open in NCBI'>1099853</a>).</p>",
      post_request: "<span class='gp'>$</span> curl -X POST -H <span class='s2'>'Accept: application/json'</span> #{Rails.application.config.api_host}/api/v1/taxa2lca \\
-d <span class='s1'>'input[]=817'</span> \\
-d <span class='s1'>'input[]=329854'</span> \\
-d <span class='s1'>'input[]=1099853'</span>",
      get_request: "<a href='http://#{Rails.application.config.api_host}/api/v1/taxa2tree.json?input[]=817&input[]=329854&input[]=1099853' target='_blank'>http://#{Rails.application.config.api_host}/api/v1/taxa2lca.json?input[]=817&amp;input[]=329854&amp;input[]=1099853</a>",
      response: '<span class="p">{</span>
    <span class="nt">&quot;id&quot;</span><span class="p">:</span> <span class="mi">1</span><span class="p">,</span>
    <span class="nt">&quot;name&quot;</span><span class="p">:</span> <span class="s2">&quot;Organism&quot;</span><span class="p">,</span>
    <span class="nt">&quot;rank&quot;</span><span class="p">:</span> <span class="s2">&quot;root&quot;</span><span class="p">,</span>
    <span class="nt">&quot;data&quot;</span><span class="p">:</span> <span class="p">{</span>
        <span class="nt">&quot;count&quot;</span><span class="p">:</span> <span class="mi">3</span><span class="p">,</span>
        <span class="nt">&quot;self_count&quot;</span><span class="p">:</span> <span class="mi">0</span>
    <span class="p">},</span>
    <span class="nt">&quot;children&quot;</span><span class="p">:</span> <span class="p">[</span>
        <span class="p">{</span>
            <span class="nt">&quot;id&quot;</span><span class="p">:</span> <span class="mi">2</span><span class="p">,</span>
            <span class="nt">&quot;name&quot;</span><span class="p">:</span> <span class="s2">&quot;Bacteria&quot;</span><span class="p">,</span>
            <span class="nt">&quot;rank&quot;</span><span class="p">:</span> <span class="s2">&quot;superkingdom&quot;</span><span class="p">,</span>
            <span class="nt">&quot;data&quot;</span><span class="p">:</span> <span class="p">{</span>
                <span class="nt">&quot;count&quot;</span><span class="p">:</span> <span class="mi">3</span><span class="p">,</span>
                <span class="nt">&quot;self_count&quot;</span><span class="p">:</span> <span class="mi">0</span>
            <span class="p">},</span>
            <span class="nt">&quot;children&quot;</span><span class="p">:</span> <span class="p">[</span>
                <span class="p">{</span>
                    <span class="nt">&quot;id&quot;</span><span class="p">:</span> <span class="mi">976</span><span class="p">,</span>
                    <span class="nt">&quot;name&quot;</span><span class="p">:</span> <span class="s2">&quot;Bacteroidetes&quot;</span><span class="p">,</span>
                    <span class="nt">&quot;rank&quot;</span><span class="p">:</span> <span class="s2">&quot;phylum&quot;</span><span class="p">,</span>
                    <span class="nt">&quot;data&quot;</span><span class="p">:</span> <span class="p">{</span>
                        <span class="nt">&quot;count&quot;</span><span class="p">:</span> <span class="mi">3</span><span class="p">,</span>
                        <span class="nt">&quot;self_count&quot;</span><span class="p">:</span> <span class="mi">0</span>
                    <span class="p">},</span>
                    <span class="nt">&quot;children&quot;</span><span class="p">:</span> <span class="p">[</span>
                        <span class="p">{</span>
                            <span class="nt">&quot;id&quot;</span><span class="p">:</span> <span class="mi">200643</span><span class="p">,</span>
                            <span class="nt">&quot;name&quot;</span><span class="p">:</span> <span class="s2">&quot;Bacteroidia&quot;</span><span class="p">,</span>
                            <span class="nt">&quot;rank&quot;</span><span class="p">:</span> <span class="s2">&quot;class_&quot;</span><span class="p">,</span>
                            <span class="nt">&quot;data&quot;</span><span class="p">:</span> <span class="p">{</span>
                                <span class="nt">&quot;count&quot;</span><span class="p">:</span> <span class="mi">3</span><span class="p">,</span>
                                <span class="nt">&quot;self_count&quot;</span><span class="p">:</span> <span class="mi">0</span>
                            <span class="p">},</span>
                            <span class="nt">&quot;children&quot;</span><span class="p">:</span> <span class="p">[</span>
                                <span class="p">{</span>
                                    <span class="nt">&quot;id&quot;</span><span class="p">:</span> <span class="mi">171549</span><span class="p">,</span>
                                    <span class="nt">&quot;name&quot;</span><span class="p">:</span> <span class="s2">&quot;Bacteroidales&quot;</span><span class="p">,</span>
                                    <span class="nt">&quot;rank&quot;</span><span class="p">:</span> <span class="s2">&quot;order&quot;</span><span class="p">,</span>
                                    <span class="nt">&quot;data&quot;</span><span class="p">:</span> <span class="p">{</span>
                                        <span class="nt">&quot;count&quot;</span><span class="p">:</span> <span class="mi">3</span><span class="p">,</span>
                                        <span class="nt">&quot;self_count&quot;</span><span class="p">:</span> <span class="mi">0</span>
                                    <span class="p">},</span>
                                    <span class="nt">&quot;children&quot;</span><span class="p">:</span> <span class="p">[</span>
                                        <span class="p">{</span>
                                            <span class="nt">&quot;id&quot;</span><span class="p">:</span> <span class="mi">815</span><span class="p">,</span>
                                            <span class="nt">&quot;name&quot;</span><span class="p">:</span> <span class="s2">&quot;Bacteroidaceae&quot;</span><span class="p">,</span>
                                            <span class="nt">&quot;rank&quot;</span><span class="p">:</span> <span class="s2">&quot;family&quot;</span><span class="p">,</span>
                                            <span class="nt">&quot;data&quot;</span><span class="p">:</span> <span class="p">{</span>
                                                <span class="nt">&quot;count&quot;</span><span class="p">:</span> <span class="mi">2</span><span class="p">,</span>
                                                <span class="nt">&quot;self_count&quot;</span><span class="p">:</span> <span class="mi">0</span>
                                            <span class="p">},</span>
                                            <span class="nt">&quot;children&quot;</span><span class="p">:</span> <span class="p">[</span>
                                                <span class="p">{</span>
                                                    <span class="nt">&quot;id&quot;</span><span class="p">:</span> <span class="mi">816</span><span class="p">,</span>
                                                    <span class="nt">&quot;name&quot;</span><span class="p">:</span> <span class="s2">&quot;Bacteroides&quot;</span><span class="p">,</span>
                                                    <span class="nt">&quot;rank&quot;</span><span class="p">:</span> <span class="s2">&quot;genus&quot;</span><span class="p">,</span>
                                                    <span class="nt">&quot;data&quot;</span><span class="p">:</span> <span class="p">{</span>
                                                        <span class="nt">&quot;count&quot;</span><span class="p">:</span> <span class="mi">2</span><span class="p">,</span>
                                                        <span class="nt">&quot;self_count&quot;</span><span class="p">:</span> <span class="mi">0</span>
                                                    <span class="p">},</span>
                                                    <span class="nt">&quot;children&quot;</span><span class="p">:</span> <span class="p">[</span>
                                                        <span class="p">{</span>
                                                            <span class="nt">&quot;id&quot;</span><span class="p">:</span> <span class="mi">817</span><span class="p">,</span>
                                                            <span class="nt">&quot;name&quot;</span><span class="p">:</span> <span class="s2">&quot;Bacteroides fragilis&quot;</span><span class="p">,</span>
                                                            <span class="nt">&quot;rank&quot;</span><span class="p">:</span> <span class="s2">&quot;species&quot;</span><span class="p">,</span>
                                                            <span class="nt">&quot;data&quot;</span><span class="p">:</span> <span class="p">{</span>
                                                                <span class="nt">&quot;count&quot;</span><span class="p">:</span> <span class="mi">1</span><span class="p">,</span>
                                                                <span class="nt">&quot;self_count&quot;</span><span class="p">:</span> <span class="mi">1</span>
                                                            <span class="p">},</span>
                                                            <span class="nt">&quot;children&quot;</span><span class="p">:</span> <span class="p">[]</span>
                                                        <span class="p">},</span>
                                                        <span class="p">{</span>
                                                            <span class="nt">&quot;id&quot;</span><span class="p">:</span> <span class="mi">329854</span><span class="p">,</span>
                                                            <span class="nt">&quot;name&quot;</span><span class="p">:</span> <span class="s2">&quot;Bacteroides intestinalis&quot;</span><span class="p">,</span>
                                                            <span class="nt">&quot;rank&quot;</span><span class="p">:</span> <span class="s2">&quot;species&quot;</span><span class="p">,</span>
                                                            <span class="nt">&quot;data&quot;</span><span class="p">:</span> <span class="p">{</span>
                                                                <span class="nt">&quot;count&quot;</span><span class="p">:</span> <span class="mi">1</span><span class="p">,</span>
                                                                <span class="nt">&quot;self_count&quot;</span><span class="p">:</span> <span class="mi">1</span>
                                                            <span class="p">},</span>
                                                            <span class="nt">&quot;children&quot;</span><span class="p">:</span> <span class="p">[]</span>
                                                        <span class="p">}</span>
                                                    <span class="p">]</span>
                                                <span class="p">}</span>
                                            <span class="p">]</span>
                                        <span class="p">},</span>
                                        <span class="p">{</span>
                                            <span class="nt">&quot;id&quot;</span><span class="p">:</span> <span class="mi">2005519</span><span class="p">,</span>
                                            <span class="nt">&quot;name&quot;</span><span class="p">:</span> <span class="s2">&quot;Barnesiellaceae&quot;</span><span class="p">,</span>
                                            <span class="nt">&quot;rank&quot;</span><span class="p">:</span> <span class="s2">&quot;family&quot;</span><span class="p">,</span>
                                            <span class="nt">&quot;data&quot;</span><span class="p">:</span> <span class="p">{</span>
                                                <span class="nt">&quot;count&quot;</span><span class="p">:</span> <span class="mi">1</span><span class="p">,</span>
                                                <span class="nt">&quot;self_count&quot;</span><span class="p">:</span> <span class="mi">0</span>
                                            <span class="p">},</span>
                                            <span class="nt">&quot;children&quot;</span><span class="p">:</span> <span class="p">[</span>
                                                <span class="p">{</span>
                                                    <span class="nt">&quot;id&quot;</span><span class="p">:</span> <span class="mi">1348911</span><span class="p">,</span>
                                                    <span class="nt">&quot;name&quot;</span><span class="p">:</span> <span class="s2">&quot;Coprobacter&quot;</span><span class="p">,</span>
                                                    <span class="nt">&quot;rank&quot;</span><span class="p">:</span> <span class="s2">&quot;genus&quot;</span><span class="p">,</span>
                                                    <span class="nt">&quot;data&quot;</span><span class="p">:</span> <span class="p">{</span>
                                                        <span class="nt">&quot;count&quot;</span><span class="p">:</span> <span class="mi">1</span><span class="p">,</span>
                                                        <span class="nt">&quot;self_count&quot;</span><span class="p">:</span> <span class="mi">0</span>
                                                    <span class="p">},</span>
                                                    <span class="nt">&quot;children&quot;</span><span class="p">:</span> <span class="p">[</span>
                                                        <span class="p">{</span>
                                                            <span class="nt">&quot;id&quot;</span><span class="p">:</span> <span class="mi">1099853</span><span class="p">,</span>
                                                            <span class="nt">&quot;name&quot;</span><span class="p">:</span> <span class="s2">&quot;Coprobacter fastidiosus&quot;</span><span class="p">,</span>
                                                            <span class="nt">&quot;rank&quot;</span><span class="p">:</span> <span class="s2">&quot;species&quot;</span><span class="p">,</span>
                                                            <span class="nt">&quot;data&quot;</span><span class="p">:</span> <span class="p">{</span>
                                                                <span class="nt">&quot;count&quot;</span><span class="p">:</span> <span class="mi">1</span><span class="p">,</span>
                                                                <span class="nt">&quot;self_count&quot;</span><span class="p">:</span> <span class="mi">1</span>
                                                            <span class="p">},</span>
                                                            <span class="nt">&quot;children&quot;</span><span class="p">:</span> <span class="p">[]</span>
                                                        <span class="p">}</span>
                                                    <span class="p">]</span>
                                                <span class="p">}</span>
                                            <span class="p">]</span>
                                        <span class="p">}</span>
                                    <span class="p">]</span>
                                <span class="p">}</span>
                            <span class="p">]</span>
                        <span class="p">}</span>
                    <span class="p">]</span>
                <span class="p">}</span>
            <span class="p">]</span>
        <span class="p">}</span>
    <span class="p">]</span>
<span class="p">}</span>'
    %>
    <%= render 'example',
      example_id: "apidocs-example-extra",
      title: "Retrieve the taxonomic tree and its lineage for a given list of taxon identifiers",
      explanation: "<p>This example calculates and retrieves the taxonomic lowest common ancestor of <i>Bacteroides fragilis</i> (taxon id <a href='http://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?mode=Info&amp;id=817' target='_blank' title='Open in NCBI'>817</a>), <i>Bacteroides intestinalis</i> (taxon id <a href='http://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?mode=Info&amp;id=329854' target='_blank' title='Open in NCBI'>329854</a>) and <i>Coprobacter fastidiosus</i> (taxon id <a href='http://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?mode=Info&amp;id=1099853' target='_blank' title='Open in NCBI'>1099853</a>), including its complete lineage.</p>",
      post_request: "<span class='gp'>$</span> curl -X POST -H <span class='s2'>'Accept: application/json'</span> #{Rails.application.config.api_host}/api/v1/taxa2tree \\
      --data '{\"counts\": {\"817\": 3, \"329854\": 5, \"1099853\": 7}}'",
      get_request: "Can only be performed with a POST-request",
      response: '<span class="p">{</span>
    <span class="nt">&quot;id&quot;</span><span class="p">:</span> <span class="mi">1</span><span class="p">,</span>
    <span class="nt">&quot;name&quot;</span><span class="p">:</span> <span class="s2">&quot;Organism&quot;</span><span class="p">,</span>
    <span class="nt">&quot;rank&quot;</span><span class="p">:</span> <span class="s2">&quot;root&quot;</span><span class="p">,</span>
    <span class="nt">&quot;data&quot;</span><span class="p">:</span> <span class="p">{</span>
        <span class="nt">&quot;count&quot;</span><span class="p">:</span> <span class="mi">15</span><span class="p">,</span>
        <span class="nt">&quot;self_count&quot;</span><span class="p">:</span> <span class="mi">0</span>
    <span class="p">},</span>
    <span class="nt">&quot;children&quot;</span><span class="p">:</span> <span class="p">[</span>
        <span class="p">{</span>
            <span class="nt">&quot;id&quot;</span><span class="p">:</span> <span class="mi">2</span><span class="p">,</span>
            <span class="nt">&quot;name&quot;</span><span class="p">:</span> <span class="s2">&quot;Bacteria&quot;</span><span class="p">,</span>
            <span class="nt">&quot;rank&quot;</span><span class="p">:</span> <span class="s2">&quot;superkingdom&quot;</span><span class="p">,</span>
            <span class="nt">&quot;data&quot;</span><span class="p">:</span> <span class="p">{</span>
                <span class="nt">&quot;count&quot;</span><span class="p">:</span> <span class="mi">15</span><span class="p">,</span>
                <span class="nt">&quot;self_count&quot;</span><span class="p">:</span> <span class="mi">0</span>
            <span class="p">},</span>
            <span class="nt">&quot;children&quot;</span><span class="p">:</span> <span class="p">[</span>
                <span class="p">{</span>
                    <span class="nt">&quot;id&quot;</span><span class="p">:</span> <span class="mi">976</span><span class="p">,</span>
                    <span class="nt">&quot;name&quot;</span><span class="p">:</span> <span class="s2">&quot;Bacteroidetes&quot;</span><span class="p">,</span>
                    <span class="nt">&quot;rank&quot;</span><span class="p">:</span> <span class="s2">&quot;phylum&quot;</span><span class="p">,</span>
                    <span class="nt">&quot;data&quot;</span><span class="p">:</span> <span class="p">{</span>
                        <span class="nt">&quot;count&quot;</span><span class="p">:</span> <span class="mi">15</span><span class="p">,</span>
                        <span class="nt">&quot;self_count&quot;</span><span class="p">:</span> <span class="mi">0</span>
                    <span class="p">},</span>
                    <span class="nt">&quot;children&quot;</span><span class="p">:</span> <span class="p">[</span>
                        <span class="p">{</span>
                            <span class="nt">&quot;id&quot;</span><span class="p">:</span> <span class="mi">200643</span><span class="p">,</span>
                            <span class="nt">&quot;name&quot;</span><span class="p">:</span> <span class="s2">&quot;Bacteroidia&quot;</span><span class="p">,</span>
                            <span class="nt">&quot;rank&quot;</span><span class="p">:</span> <span class="s2">&quot;class_&quot;</span><span class="p">,</span>
                            <span class="nt">&quot;data&quot;</span><span class="p">:</span> <span class="p">{</span>
                                <span class="nt">&quot;count&quot;</span><span class="p">:</span> <span class="mi">15</span><span class="p">,</span>
                                <span class="nt">&quot;self_count&quot;</span><span class="p">:</span> <span class="mi">0</span>
                            <span class="p">},</span>
                            <span class="nt">&quot;children&quot;</span><span class="p">:</span> <span class="p">[</span>
                                <span class="p">{</span>
                                    <span class="nt">&quot;id&quot;</span><span class="p">:</span> <span class="mi">171549</span><span class="p">,</span>
                                    <span class="nt">&quot;name&quot;</span><span class="p">:</span> <span class="s2">&quot;Bacteroidales&quot;</span><span class="p">,</span>
                                    <span class="nt">&quot;rank&quot;</span><span class="p">:</span> <span class="s2">&quot;order&quot;</span><span class="p">,</span>
                                    <span class="nt">&quot;data&quot;</span><span class="p">:</span> <span class="p">{</span>
                                        <span class="nt">&quot;count&quot;</span><span class="p">:</span> <span class="mi">15</span><span class="p">,</span>
                                        <span class="nt">&quot;self_count&quot;</span><span class="p">:</span> <span class="mi">0</span>
                                    <span class="p">},</span>
                                    <span class="nt">&quot;children&quot;</span><span class="p">:</span> <span class="p">[</span>
                                        <span class="p">{</span>
                                            <span class="nt">&quot;id&quot;</span><span class="p">:</span> <span class="mi">815</span><span class="p">,</span>
                                            <span class="nt">&quot;name&quot;</span><span class="p">:</span> <span class="s2">&quot;Bacteroidaceae&quot;</span><span class="p">,</span>
                                            <span class="nt">&quot;rank&quot;</span><span class="p">:</span> <span class="s2">&quot;family&quot;</span><span class="p">,</span>
                                            <span class="nt">&quot;data&quot;</span><span class="p">:</span> <span class="p">{</span>
                                                <span class="nt">&quot;count&quot;</span><span class="p">:</span> <span class="mi">8</span><span class="p">,</span>
                                                <span class="nt">&quot;self_count&quot;</span><span class="p">:</span> <span class="mi">0</span>
                                            <span class="p">},</span>
                                            <span class="nt">&quot;children&quot;</span><span class="p">:</span> <span class="p">[</span>
                                                <span class="p">{</span>
                                                    <span class="nt">&quot;id&quot;</span><span class="p">:</span> <span class="mi">816</span><span class="p">,</span>
                                                    <span class="nt">&quot;name&quot;</span><span class="p">:</span> <span class="s2">&quot;Bacteroides&quot;</span><span class="p">,</span>
                                                    <span class="nt">&quot;rank&quot;</span><span class="p">:</span> <span class="s2">&quot;genus&quot;</span><span class="p">,</span>
                                                    <span class="nt">&quot;data&quot;</span><span class="p">:</span> <span class="p">{</span>
                                                        <span class="nt">&quot;count&quot;</span><span class="p">:</span> <span class="mi">8</span><span class="p">,</span>
                                                        <span class="nt">&quot;self_count&quot;</span><span class="p">:</span> <span class="mi">0</span>
                                                    <span class="p">},</span>
                                                    <span class="nt">&quot;children&quot;</span><span class="p">:</span> <span class="p">[</span>
                                                        <span class="p">{</span>
                                                            <span class="nt">&quot;id&quot;</span><span class="p">:</span> <span class="mi">817</span><span class="p">,</span>
                                                            <span class="nt">&quot;name&quot;</span><span class="p">:</span> <span class="s2">&quot;Bacteroides fragilis&quot;</span><span class="p">,</span>
                                                            <span class="nt">&quot;rank&quot;</span><span class="p">:</span> <span class="s2">&quot;species&quot;</span><span class="p">,</span>
                                                            <span class="nt">&quot;data&quot;</span><span class="p">:</span> <span class="p">{</span>
                                                                <span class="nt">&quot;count&quot;</span><span class="p">:</span> <span class="mi">3</span><span class="p">,</span>
                                                                <span class="nt">&quot;self_count&quot;</span><span class="p">:</span> <span class="mi">3</span>
                                                            <span class="p">},</span>
                                                            <span class="nt">&quot;children&quot;</span><span class="p">:</span> <span class="p">[]</span>
                                                        <span class="p">},</span>
                                                        <span class="p">{</span>
                                                            <span class="nt">&quot;id&quot;</span><span class="p">:</span> <span class="mi">329854</span><span class="p">,</span>
                                                            <span class="nt">&quot;name&quot;</span><span class="p">:</span> <span class="s2">&quot;Bacteroides intestinalis&quot;</span><span class="p">,</span>
                                                            <span class="nt">&quot;rank&quot;</span><span class="p">:</span> <span class="s2">&quot;species&quot;</span><span class="p">,</span>
                                                            <span class="nt">&quot;data&quot;</span><span class="p">:</span> <span class="p">{</span>
                                                                <span class="nt">&quot;count&quot;</span><span class="p">:</span> <span class="mi">5</span><span class="p">,</span>
                                                                <span class="nt">&quot;self_count&quot;</span><span class="p">:</span> <span class="mi">5</span>
                                                            <span class="p">},</span>
                                                            <span class="nt">&quot;children&quot;</span><span class="p">:</span> <span class="p">[]</span>
                                                        <span class="p">}</span>
                                                    <span class="p">]</span>
                                                <span class="p">}</span>
                                            <span class="p">]</span>
                                        <span class="p">},</span>
                                        <span class="p">{</span>
                                            <span class="nt">&quot;id&quot;</span><span class="p">:</span> <span class="mi">2005519</span><span class="p">,</span>
                                            <span class="nt">&quot;name&quot;</span><span class="p">:</span> <span class="s2">&quot;Barnesiellaceae&quot;</span><span class="p">,</span>
                                            <span class="nt">&quot;rank&quot;</span><span class="p">:</span> <span class="s2">&quot;family&quot;</span><span class="p">,</span>
                                            <span class="nt">&quot;data&quot;</span><span class="p">:</span> <span class="p">{</span>
                                                <span class="nt">&quot;count&quot;</span><span class="p">:</span> <span class="mi">7</span><span class="p">,</span>
                                                <span class="nt">&quot;self_count&quot;</span><span class="p">:</span> <span class="mi">0</span>
                                            <span class="p">},</span>
                                            <span class="nt">&quot;children&quot;</span><span class="p">:</span> <span class="p">[</span>
                                                <span class="p">{</span>
                                                    <span class="nt">&quot;id&quot;</span><span class="p">:</span> <span class="mi">1348911</span><span class="p">,</span>
                                                    <span class="nt">&quot;name&quot;</span><span class="p">:</span> <span class="s2">&quot;Coprobacter&quot;</span><span class="p">,</span>
                                                    <span class="nt">&quot;rank&quot;</span><span class="p">:</span> <span class="s2">&quot;genus&quot;</span><span class="p">,</span>
                                                    <span class="nt">&quot;data&quot;</span><span class="p">:</span> <span class="p">{</span>
                                                        <span class="nt">&quot;count&quot;</span><span class="p">:</span> <span class="mi">7</span><span class="p">,</span>
                                                        <span class="nt">&quot;self_count&quot;</span><span class="p">:</span> <span class="mi">0</span>
                                                    <span class="p">},</span>
                                                    <span class="nt">&quot;children&quot;</span><span class="p">:</span> <span class="p">[</span>
                                                        <span class="p">{</span>
                                                            <span class="nt">&quot;id&quot;</span><span class="p">:</span> <span class="mi">1099853</span><span class="p">,</span>
                                                            <span class="nt">&quot;name&quot;</span><span class="p">:</span> <span class="s2">&quot;Coprobacter fastidiosus&quot;</span><span class="p">,</span>
                                                            <span class="nt">&quot;rank&quot;</span><span class="p">:</span> <span class="s2">&quot;species&quot;</span><span class="p">,</span>
                                                            <span class="nt">&quot;data&quot;</span><span class="p">:</span> <span class="p">{</span>
                                                                <span class="nt">&quot;count&quot;</span><span class="p">:</span> <span class="mi">7</span><span class="p">,</span>
                                                                <span class="nt">&quot;self_count&quot;</span><span class="p">:</span> <span class="mi">7</span>
                                                            <span class="p">},</span>
                                                            <span class="nt">&quot;children&quot;</span><span class="p">:</span> <span class="p">[]</span>
                                                        <span class="p">}</span>
                                                    <span class="p">]</span>
                                                <span class="p">}</span>
                                            <span class="p">]</span>
                                        <span class="p">}</span>
                                    <span class="p">]</span>
                                <span class="p">}</span>
                            <span class="p">]</span>
                        <span class="p">}</span>
                    <span class="p">]</span>
                <span class="p">}</span>
            <span class="p">]</span>
        <span class="p">}</span>
    <span class="p">]</span>
<span class="p">}</span>'
    %>
    <%= render 'example',
      example_id: "apidocs-example-link",
      title: "Retrieve the taxonomic lowest common ancestor and its lineage and names for a given list of taxon identifiers",
      explanation: "<p>This example retrieves the taxonomic tree of <i>Bacteroides fragilis</i> (taxon id <a href='http://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?mode=Info&amp;id=817' target='_blank' title='Open in NCBI'>817</a>), <i>Bacteroides intestinalis</i> (taxon id <a href='http://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?mode=Info&amp;id=329854' target='_blank' title='Open in NCBI'>329854</a>) and <i>Coprobacter fastidiosus</i> (taxon id <a href='http://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?mode=Info&amp;id=1099853' target='_blank' title='Open in NCBI'>1099853</a>), including its complete lineage with names.</p>",
      post_request: "<span class='gp'>$</span> curl -X POST -H <span class='s2'>'Accept: application/json'</span> #{Rails.application.config.api_host}/api/v1/taxa2lca \\
-d <span class='s1'>'input[]=817'</span> \\
-d <span class='s1'>'input[]=329854'</span> \\
-d <span class='s1'>'input[]=1099853'</span> \\
-d <span class='s1'>'link=true'</span>",
      get_request: "<a href='http://#{Rails.application.config.api_host}/api/v1/taxa2tree.json?input[]=817&input[]=329854&input[]=1099853&link=true' target='_blank'>http://#{Rails.application.config.api_host}/api/v1/taxa2tree.json?input[]=817&amp;input[]=329854&amp;input[]=1099853&amp;link=true</a>",
      response: '<span class="p">{</span><span class="nt">&quot;gist&quot;</span><span class="p">:</span><span class="s2">&quot;https://gist.github.com/1d3e41bf41c4ca5b97aa802c58484393&quot;</span><span class="p">}</span>'
    %>
    <%= render 'tryit',
      name: "taxa2tree",
      input: true,
      equate_il: false,
      extra: false,
      names: false,
      domains: false,
      link: true
    %>
  </div>
  <div class="col-xs-3">
    <%= render 'api/shared/sidebar' %>
  </div>
</div>
