<div class="apidocs row">
  <div class="col-xs-9">
    <div class='page-header'>
      <h1><span class="initialism">POST</span> /api/v1/taxa2lca
        <br>
        <small>Returns the taxonomic lowest common ancestor for a given list of taxon identifiers.</small>
      </h1>
    </div>

    <p>
      This method calculates and returns the taxonomic lowest common ancestor for a given list of <span class="initialism">NCBI</span> taxon identifiers.
    </p>

    <h2 id="request">Request</h2>
    <p>
      The pept2taxa method can be used by doing a <span class="initialism">HTTP</span> <span class="initialism">POST</span>-request (preferred) or <span class="initialism">GET</span>-request to <code>http://<%= Rails.application.config.api_host %>/api/v1/pept2lca</code>. <a href="#parameters">Parameters</a> can be included in the request body (<span class="initialism">POST</span>) or in the query string (<span class="initialism">GET</span>). The only required parameter is <code>input[]</code>, which takes at least two taxon identifiers.
    </p>

    <h3>input</h3>
    <p>
      <code>input[]</code> is a required parameter that takes at least two taxon identifiers. Unipept will calculate and return the taxonomic lowest common ancestor of the given taxa. To pass multiple taxon identifiers, simply add multiple <code>input[]</code> parameters (see <a href="#apidocs-example-multiple">example</a>).
    </p>

    <h3>extra</h3>
    <p>
      <code>extra</code> is an optional parameter and can either be <code>true</code> or <code>false</code>. When not set explicitly, the parameter defaults to <code>false</code>. When the parameter is set to <code>true</code>, Unipept will return the complete lineage of the taxonomic lowest common ancestor. See the <a href="#response">response</a> section for an overview of the information fields returned.
    </p>

    <h3>names</h3>
    <p>
      <code>names</code> is an optional parameter and can either be <code>true</code> or <code>false</code>. When not set explicitly, the parameter defaults to <code>false</code>. When both <code>names</code> and <code>extra</code> are set to <code>true</code>, Unipept will return the names of all ranks in the lineage of the taxonomic lowest common ancestor. Setting only <code>names</code> to <code>true</code> will not result in additional information fields being returned. See the <a href="#response">response</a> section for an overview of the information fields returned.
    </p>

    <div class="apidocs-callout apidocs-callout-warning">
      <h4>Performance penalty</h4>
      <p>Setting <code>names</code> to <code>true</code> has a performance penalty inferred from additional database queries. Do not use this parameter unless the extra information fields are needed.</p>
    </div>

    <h2 id="response">Response</h2>

    <p>
      The taxonomic lowest common ancestor for the given list of taxon identifiers is returned as a <span class="initialism">JSON</span> object. By default, the object contains the following information fields extracted from the <span class="initialism">NCBI</span> taxonomy:
    </p>

    <ul>
      <li><code>taxon_id</code>: the <span class="initialism">NCBI</span> taxon id of the taxonomic lowest common ancestor</li>
      <li><code>taxon_name</code>: the name of the taxonomic lowest common ancestor</li>
      <li><code>taxon_rank</code>: the taxonomic rank of the taxonomic lowest common ancestor</li>
    </ul>

    <p>When the <code>extra</code> parameter is set to <code>true</code>, the object contains additional information about the lineage of the taxonomic lowest common ancestor extracted from the <span class="initialism">NCBI</span> taxonomy. The taxon id of each rank in the lineage is specified using the following information fields:</p>
    <div class="row">
      <div class="col-xs-4">
        <ul>
          <li><code>superkingdom_id</code></li>
          <li><code>kingdom_id</code></li>
          <li><code>subkingdom_id</code></li>
          <li><code>superphylum_id</code></li>
          <li><code>phylum_id</code></li>
          <li><code>subphylum_id</code></li>
          <li><code>superclass_id</code></li>
          <li><code>class_id</code></li>
          <li><code>subclass_id</code></li>
          <li><code>infraclass_id</code></li>
        </ul>
      </div>
      <div class="col-xs-4">
        <ul>
          <li><code>superorder_id</code></li>
          <li><code>order_id</code></li>
          <li><code>suborder_id</code></li>
          <li><code>infraorder_id</code></li>
          <li><code>parvorder_id</code></li>
          <li><code>superfamily_id</code></li>
          <li><code>family_id</code></li>
          <li><code>subfamily_id</code></li>
          <li><code>tribe_id</code></li>
          <li><code>subtribe_id</code></li>
        </ul>
      </div>
      <div class="col-xs-4">
        <ul>
          <li><code>genus_id</code></li>
          <li><code>subgenus_id</code></li>
          <li><code>species_group_id</code></li>
          <li><code>species_subgroup_id</code></li>
          <li><code>species_id</code></li>
          <li><code>subspecies_id</code></li>
          <li><code>varietas_id</code></li>
          <li><code>forma_id</code></li>
        </ul>
      </div>
    </div>

    <p>When both the <code>names</code> and <code>extra</code> parameters are set to <code>true</code>, objects also contain the names for each rank in the lineage using the following information fields:</p>
    <div class="row">
      <div class="col-xs-4">
        <ul>
          <li><code>superkingdom_name</code></li>
          <li><code>kingdom_name</code></li>
          <li><code>subkingdom_name</code></li>
          <li><code>superphylum_name</code></li>
          <li><code>phylum_name</code></li>
          <li><code>subphylum_name</code></li>
          <li><code>superclass_name</code></li>
          <li><code>class_name</code></li>
          <li><code>subclass_name</code></li>
          <li><code>infraclass_name</code></li>
        </ul>
      </div>
      <div class="col-xs-4">
        <ul>
          <li><code>superorder_name</code></li>
          <li><code>order_name</code></li>
          <li><code>suborder_name</code></li>
          <li><code>infraorder_name</code></li>
          <li><code>parvorder_name</code></li>
          <li><code>superfamily_name</code></li>
          <li><code>family_name</code></li>
          <li><code>subfamily_name</code></li>
          <li><code>tribe_name</code></li>
          <li><code>subtribe_name</code></li>
        </ul>
      </div>
      <div class="col-xs-4">
        <ul>
          <li><code>genus_name</code></li>
          <li><code>subgenus_name</code></li>
          <li><code>species_group_name</code></li>
          <li><code>species_subgroup_name</code></li>
          <li><code>species_name</code></li>
          <li><code>subspecies_name</code></li>
          <li><code>varietas_name</code></li>
          <li><code>forma_name</code></li>
        </ul>
      </div>
    </div>

    <h2 id="parameters">Parameters</h2>
    <%= render "parameters", parameters: [
      {
        name: "input[]",
        required: true,
        optional: false,
        description: "List of taxon identifiers to calculate the lowest common ancestor for. Add multiple parameters to specify multiple taxon id's.",
        value: "Integer"
      },
      {
        name: "extra",
        required: false,
        optional: true,
        description: "Return additional lineage information fields if <code>true</code>.",
        value: "Must be <code>true</code> or <code>false</code> (default)"
      },
      {
        name: "names",
        required: false,
        optional: true,
        description: "Return names of ranks in the lineage if <code>true</code>.",
        value: "Must be <code>true</code> or <code>false</code> (default)"
      }
    ]
    %>

    <h2 id="examples">Examples</h2>
    <%= render 'example',
      example_id: "apidocs-example-multiple",
      title: "Calculate the taxonomic lowest common ancestor for a given list of taxon identifiers",
      explanation: "<p>This example calculates and retrieves the taxonomic lowest common ancestor of <i>Bacteroides fragilis</i> (taxon id <a href='http://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?mode=Info&amp;id=817' target='_blank' title='Open in NCBI'>817</a>), <i>Bacteroides intestinalis</i> (taxon id <a href='http://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?mode=Info&amp;id=329854' target='_blank' title='Open in NCBI'>329854</a>) and <i>Coprobacter fastidiosus</i> (taxon id <a href='http://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?mode=Info&amp;id=1099853' target='_blank' title='Open in NCBI'>1099853</a>).</p>",
      post_request: "<span class='gp'>$</span> curl -X POST -H <span class='s2'>'Accept: application/json'</span> #{Rails.application.config.api_host}/api/v1/taxa2lca \\
-d <span class='s1'>'input[]=817'</span> \\
-d <span class='s1'>'input[]=329854'</span> \\
-d <span class='s1'>'input[]=1099853'</span>",
      get_request: "<a href='http://#{Rails.application.config.api_host}/api/v1/taxa2lca.json?input[]=817&input[]=329854&input[]=1099853' target='_blank'>http://#{Rails.application.config.api_host}/api/v1/taxa2lca.json?input[]=817&amp;input[]=329854&amp;input[]=1099853</a>",
      response: "<span class='p'>{</span>
  <span class='nx'>taxon_id</span><span class='o'>:</span> <span class='mi'>171549</span><span class='p'>,</span>
  <span class='nx'>taxon_name</span><span class='o'>:</span> <span class='s2'>'Bacteroidales'</span><span class='p'>,</span>
  <span class='nx'>taxon_rank</span><span class='o'>:</span> <span class='s2'>'order'</span>
<span class='p'>}</span>"
    %>

    <%= render 'example',
      example_id: "apidocs-example-extra",
      title: "Retrieve the taxonomic lowest common ancestor and its lineage for a given list of taxon identifiers",
      explanation: "<p>This example calculates and retrieves the taxonomic lowest common ancestor of <i>Bacteroides fragilis</i> (taxon id <a href='http://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?mode=Info&amp;id=817' target='_blank' title='Open in NCBI'>817</a>), <i>Bacteroides intestinalis</i> (taxon id <a href='http://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?mode=Info&amp;id=329854' target='_blank' title='Open in NCBI'>329854</a>) and <i>Coprobacter fastidiosus</i> (taxon id <a href='http://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?mode=Info&amp;id=1099853' target='_blank' title='Open in NCBI'>1099853</a>), including its complete lineage.</p>",
      post_request: "<span class='gp'>$</span> curl -X POST -H <span class='s2'>'Accept: application/json'</span> #{Rails.application.config.api_host}/api/v1/taxa2lca \\
-d <span class='s1'>'input[]=817'</span> \\
-d <span class='s1'>'input[]=329854'</span> \\
-d <span class='s1'>'input[]=1099853'</span> \\
-d <span class='s1'>'extra=true'</span>",
      get_request: "<a href='http://#{Rails.application.config.api_host}/api/v1/taxa2lca.json?input[]=817&input[]=329854&input[]=1099853&extra=true' target='_blank'>http://#{Rails.application.config.api_host}/api/v1/taxa2lca.json?input[]=817&amp;input[]=329854&amp;input[]=1099853&amp;extra=true</a>",
      response: "<span class='p'>{</span>
  <span class='nx'>taxon_id</span><span class='o'>:</span> <span class='mi'>171549</span><span class='p'>,</span>
  <span class='nx'>taxon_name</span><span class='o'>:</span> <span class='s2'>'Bacteroidales'</span><span class='p'>,</span>
  <span class='nx'>taxon_rank</span><span class='o'>:</span> <span class='s2'>'order'</span><span class='p'>,</span>
  <span class='nx'>superkingdom_id</span><span class='o'>:</span> <span class='mi'>2</span><span class='p'>,</span>
  <span class='nx'>kingdom_id</span><span class='o'>:</span> <span class='kc'>null</span><span class='p'>,</span>
  <span class='nx'>subkingdom_id</span><span class='o'>:</span> <span class='kc'>null</span><span class='p'>,</span>
  <span class='nx'>superphylum_id</span><span class='o'>:</span> <span class='mi'>68336</span><span class='p'>,</span>
  <span class='nx'>phylum_id</span><span class='o'>:</span> <span class='mi'>976</span><span class='p'>,</span>
  <span class='nx'>subphylum_id</span><span class='o'>:</span> <span class='kc'>null</span><span class='p'>,</span>
  <span class='nx'>superclass_id</span><span class='o'>:</span> <span class='kc'>null</span><span class='p'>,</span>
  <span class='nx'>class_id</span><span class='o'>:</span> <span class='mi'>200643</span><span class='p'>,</span>
  <span class='nx'>subclass_id</span><span class='o'>:</span> <span class='kc'>null</span><span class='p'>,</span>
  <span class='nx'>infraclass_id</span><span class='o'>:</span> <span class='kc'>null</span><span class='p'>,</span>
  <span class='nx'>superorder_id</span><span class='o'>:</span> <span class='kc'>null</span><span class='p'>,</span>
  <span class='nx'>order_id</span><span class='o'>:</span> <span class='mi'>171549</span><span class='p'>,</span>
  <span class='nx'>suborder_id</span><span class='o'>:</span> <span class='kc'>null</span><span class='p'>,</span>
  <span class='nx'>infraorder_id</span><span class='o'>:</span> <span class='kc'>null</span><span class='p'>,</span>
  <span class='nx'>parvorder_id</span><span class='o'>:</span> <span class='kc'>null</span><span class='p'>,</span>
  <span class='nx'>superfamily_id</span><span class='o'>:</span> <span class='kc'>null</span><span class='p'>,</span>
  <span class='nx'>family_id</span><span class='o'>:</span> <span class='kc'>null</span><span class='p'>,</span>
  <span class='nx'>subfamily_id</span><span class='o'>:</span> <span class='kc'>null</span><span class='p'>,</span>
  <span class='nx'>tribe_id</span><span class='o'>:</span> <span class='kc'>null</span><span class='p'>,</span>
  <span class='nx'>subtribe_id</span><span class='o'>:</span> <span class='kc'>null</span><span class='p'>,</span>
  <span class='nx'>genus_id</span><span class='o'>:</span> <span class='kc'>null</span><span class='p'>,</span>
  <span class='nx'>subgenus_id</span><span class='o'>:</span> <span class='kc'>null</span><span class='p'>,</span>
  <span class='nx'>species_group_id</span><span class='o'>:</span> <span class='kc'>null</span><span class='p'>,</span>
  <span class='nx'>species_subgroup_id</span><span class='o'>:</span> <span class='kc'>null</span><span class='p'>,</span>
  <span class='nx'>species_id</span><span class='o'>:</span> <span class='kc'>null</span><span class='p'>,</span>
  <span class='nx'>subspecies_id</span><span class='o'>:</span> <span class='kc'>null</span><span class='p'>,</span>
  <span class='nx'>varietas_id</span><span class='o'>:</span> <span class='kc'>null</span><span class='p'>,</span>
  <span class='nx'>forma_id</span><span class='o'>:</span> <span class='kc'>null</span>
<span class='p'>}</span>"
    %>

    <%= render 'example',
      example_id: "apidocs-example-names",
      title: "Retrieve the taxonomic lowest common ancestor and its lineage and names for a given list of taxon identifiers",
      explanation: "<p>This example retrieves the taxonomic lowest common ancestor of <i>Bacteroides fragilis</i> (taxon id <a href='http://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?mode=Info&amp;id=817' target='_blank' title='Open in NCBI'>817</a>), <i>Bacteroides intestinalis</i> (taxon id <a href='http://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?mode=Info&amp;id=329854' target='_blank' title='Open in NCBI'>329854</a>) and <i>Coprobacter fastidiosus</i> (taxon id <a href='http://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?mode=Info&amp;id=1099853' target='_blank' title='Open in NCBI'>1099853</a>), including its complete lineage with names.</p>",
      post_request: "<span class='gp'>$</span> curl -X POST -H <span class='s2'>'Accept: application/json'</span> #{Rails.application.config.api_host}/api/v1/taxa2lca \\
-d <span class='s1'>'input[]=817'</span> \\
-d <span class='s1'>'input[]=329854'</span> \\
-d <span class='s1'>'input[]=1099853'</span> \\
-d <span class='s1'>'extra=true'</span> \\
-d <span class='s1'>'names=true'</span>",
      get_request: "<a href='http://#{Rails.application.config.api_host}/api/v1/taxa2lca.json?input[]=817&input[]=329854&input[]=1099853&extra=true&names=true' target='_blank'>http://#{Rails.application.config.api_host}/api/v1/taxa2lca.json?input[]=817&amp;input[]=329854&amp;input[]=1099853&amp;extra=true&amp;names=true</a>",
      response: "<span class='p'>{</span>
  <span class='nx'>taxon_id</span><span class='o'>:</span> <span class='mi'>171549</span><span class='p'>,</span>
  <span class='nx'>taxon_name</span><span class='o'>:</span> <span class='s2'>'Bacteroidales'</span><span class='p'>,</span>
  <span class='nx'>taxon_rank</span><span class='o'>:</span> <span class='s2'>'order'</span><span class='p'>,</span>
  <span class='nx'>superkingdom_id</span><span class='o'>:</span> <span class='mi'>2</span><span class='p'>,</span>
  <span class='nx'>superkingdom_name</span><span class='o'>:</span> <span class='s2'>'Bacteria'</span><span class='p'>,</span>
  <span class='nx'>kingdom_id</span><span class='o'>:</span> <span class='kc'>null</span><span class='p'>,</span>
  <span class='nx'>kingdom_name</span><span class='o'>:</span> <span class='s2'>''</span><span class='p'>,</span>
  <span class='nx'>subkingdom_id</span><span class='o'>:</span> <span class='kc'>null</span><span class='p'>,</span>
  <span class='nx'>subkingdom_name</span><span class='o'>:</span> <span class='s2'>''</span><span class='p'>,</span>
  <span class='nx'>superphylum_id</span><span class='o'>:</span> <span class='mi'>68336</span><span class='p'>,</span>
  <span class='nx'>superphylum_name</span><span class='o'>:</span> <span class='s2'>'Bacteroidetes/Chlorobi group'</span><span class='p'>,</span>
  <span class='nx'>phylum_id</span><span class='o'>:</span> <span class='mi'>976</span><span class='p'>,</span>
  <span class='nx'>phylum_name</span><span class='o'>:</span> <span class='s2'>'Bacteroidetes'</span><span class='p'>,</span>
  <span class='nx'>subphylum_id</span><span class='o'>:</span> <span class='kc'>null</span><span class='p'>,</span>
  <span class='nx'>subphylum_name</span><span class='o'>:</span> <span class='s2'>''</span><span class='p'>,</span>
  <span class='nx'>superclass_id</span><span class='o'>:</span> <span class='kc'>null</span><span class='p'>,</span>
  <span class='nx'>superclass_name</span><span class='o'>:</span> <span class='s2'>''</span><span class='p'>,</span>
  <span class='nx'>class_id</span><span class='o'>:</span> <span class='mi'>200643</span><span class='p'>,</span>
  <span class='nx'>class_name</span><span class='o'>:</span> <span class='s2'>'Bacteroidia'</span><span class='p'>,</span>
  <span class='nx'>subclass_id</span><span class='o'>:</span> <span class='kc'>null</span><span class='p'>,</span>
  <span class='nx'>subclass_name</span><span class='o'>:</span> <span class='s2'>''</span><span class='p'>,</span>
  <span class='nx'>infraclass_id</span><span class='o'>:</span> <span class='kc'>null</span><span class='p'>,</span>
  <span class='nx'>infraclass_name</span><span class='o'>:</span> <span class='s2'>''</span><span class='p'>,</span>
  <span class='nx'>superorder_id</span><span class='o'>:</span> <span class='kc'>null</span><span class='p'>,</span>
  <span class='nx'>superorder_name</span><span class='o'>:</span> <span class='s2'>''</span><span class='p'>,</span>
  <span class='nx'>order_id</span><span class='o'>:</span> <span class='mi'>171549</span><span class='p'>,</span>
  <span class='nx'>order_name</span><span class='o'>:</span> <span class='s2'>'Bacteroidales'</span><span class='p'>,</span>
  <span class='nx'>suborder_id</span><span class='o'>:</span> <span class='kc'>null</span><span class='p'>,</span>
  <span class='nx'>suborder_name</span><span class='o'>:</span> <span class='s2'>''</span><span class='p'>,</span>
  <span class='nx'>infraorder_id</span><span class='o'>:</span> <span class='kc'>null</span><span class='p'>,</span>
  <span class='nx'>infraorder_name</span><span class='o'>:</span> <span class='s2'>''</span><span class='p'>,</span>
  <span class='nx'>parvorder_id</span><span class='o'>:</span> <span class='kc'>null</span><span class='p'>,</span>
  <span class='nx'>parvorder_name</span><span class='o'>:</span> <span class='s2'>''</span><span class='p'>,</span>
  <span class='nx'>superfamily_id</span><span class='o'>:</span> <span class='kc'>null</span><span class='p'>,</span>
  <span class='nx'>superfamily_name</span><span class='o'>:</span> <span class='s2'>''</span><span class='p'>,</span>
  <span class='nx'>family_id</span><span class='o'>:</span> <span class='kc'>null</span><span class='p'>,</span>
  <span class='nx'>family_name</span><span class='o'>:</span> <span class='s2'>''</span><span class='p'>,</span>
  <span class='nx'>subfamily_id</span><span class='o'>:</span> <span class='kc'>null</span><span class='p'>,</span>
  <span class='nx'>subfamily_name</span><span class='o'>:</span> <span class='s2'>''</span><span class='p'>,</span>
  <span class='nx'>tribe_id</span><span class='o'>:</span> <span class='kc'>null</span><span class='p'>,</span>
  <span class='nx'>tribe_name</span><span class='o'>:</span> <span class='s2'>''</span><span class='p'>,</span>
  <span class='nx'>subtribe_id</span><span class='o'>:</span> <span class='kc'>null</span><span class='p'>,</span>
  <span class='nx'>subtribe_name</span><span class='o'>:</span> <span class='s2'>''</span><span class='p'>,</span>
  <span class='nx'>genus_id</span><span class='o'>:</span> <span class='kc'>null</span><span class='p'>,</span>
  <span class='nx'>genus_name</span><span class='o'>:</span> <span class='s2'>''</span><span class='p'>,</span>
  <span class='nx'>subgenus_id</span><span class='o'>:</span> <span class='kc'>null</span><span class='p'>,</span>
  <span class='nx'>subgenus_name</span><span class='o'>:</span> <span class='s2'>''</span><span class='p'>,</span>
  <span class='nx'>species_group_id</span><span class='o'>:</span> <span class='kc'>null</span><span class='p'>,</span>
  <span class='nx'>species_group_name</span><span class='o'>:</span> <span class='s2'>''</span><span class='p'>,</span>
  <span class='nx'>species_subgroup_id</span><span class='o'>:</span> <span class='kc'>null</span><span class='p'>,</span>
  <span class='nx'>species_subgroup_name</span><span class='o'>:</span> <span class='s2'>''</span><span class='p'>,</span>
  <span class='nx'>species_id</span><span class='o'>:</span> <span class='kc'>null</span><span class='p'>,</span>
  <span class='nx'>species_name</span><span class='o'>:</span> <span class='s2'>''</span><span class='p'>,</span>
  <span class='nx'>subspecies_id</span><span class='o'>:</span> <span class='kc'>null</span><span class='p'>,</span>
  <span class='nx'>subspecies_name</span><span class='o'>:</span> <span class='s2'>''</span><span class='p'>,</span>
  <span class='nx'>varietas_id</span><span class='o'>:</span> <span class='kc'>null</span><span class='p'>,</span>
  <span class='nx'>varietas_name</span><span class='o'>:</span> <span class='s2'>''</span><span class='p'>,</span>
  <span class='nx'>forma_id</span><span class='o'>:</span> <span class='kc'>null</span><span class='p'>,</span>
  <span class='nx'>forma_name</span><span class='o'>:</span> <span class='s2'>''</span>
<span class='p'>}</span>"
    %>

    <h2 id="try-it">Try it</h2>
    <%= render 'tryit',
      name: "taxa2lca",
      input: true,
      equate_il: false,
      extra: true,
      names: true
    %>

  </div>
  <div class="col-xs-3">
    <%= render 'sidebar' %>
  </div>
</div>
