<h1>Peptidome Analysis</h1>
<p>The peptidome analysis uses the tryptic peptide information in the Unipept database. By indexing the INSDC cross-references in the Uniprot database, a mapping could be made between the tryptic peptides and the completed refseq genomes. The complete set of tryptic peptides corresponding with a genome is what we call the peptidome.</p>

<div id="buttons-pancore"></div>

<ul id="tabs" class="nav nav-tabs">
  <li class="<%= @tab == "peptidefinder" ? "active" : ""%>"><a href="#pancore_graph_wrapper" id="unique-peptide-finder-tab" data-toggle="tab">Unique Peptide Finder</a></li>
  <li class="<%= @tab == "peptidomeclustering" ? "active" : ""%>"><a href="#sim_matrix_wrapper" id="peptidome-clustering-tab" data-toggle="tab">Peptidome Clustering</a></li>
</ul>

<div class="tab-help" id="tab-help">
  <div id="unique-peptide-finder-help">
    <p>Find unique peptides for a species of your choice, based on the data of the completed refseq genomes. These peptides can be downloaded and used for targeted proteomics experiments.</p>
    <p>When you add a genome to the set, the union and intersection of the peptides of that genome and the ones already added are calculated. The size of the union (pan peptidome) is represented by blue dots and the size of the intersection (core peptidome) by orange dots. Additionally, a more restrictive version of the core peptidome is calculated (green dots) by only including peptides that are unique for the selected genomes. These unique peptides have the same Lowest Common Ancestor (LCA) as the LCA of the selected genomes.</p>
    <div class="row features">
      <div class="col-xs-4">
        <p class="text-center help-icon"><span class="glyphicon glyphicon-plus-sign"></span></p>
        <h3>1. Add genomes</h3>
        <p>You can add genomes by selecting a species from the drop-down list and clicking the 'Add species' button, or by dragging individual genomes from the tree on the left to the table on the right.</p>
      </div>
      <div class="col-xs-4">
        <p class="text-center help-icon"><span class="glyphicon glyphicon-random"></span></p>
        <h3>2. Reorder</h3>
        <p>You can easily reorder the genomes by dragging them to the desired position on the graph or table. Alternatively, you can use one of the automatic sort options.</p>
      </div>
      <div class="col-xs-4">
        <p class="text-center help-icon"><span class="glyphicon glyphicon-download"></span></p>
        <h3>3. Download unique peptides</h3>
        <p>You can download a list of peptides present in all of the selected genomes but nowhere outside of this taxonomic group, by clicking on the rightmost datapoint in de graph. Next, use the 'Download peptides' button and select 'Unique peptides'.</p>
      </div>
    </div>
  </div>
  <div id="peptidome-clustering-help">
    <p>Find similarities between a selection of genomes and view the results in a similarity matrix or a phylogenetic tree.</p>
    <div class="row features">
      <div class="col-xs-4">
        <p class="text-center help-icon"><span class="glyphicon glyphicon-plus-sign"></span></p>
        <h3>1. Add genomes</h3>
        <p>You can add genomes by selecting a species from the drop-down list and clicking the 'Add species' button, or by dragging individual genomes from the tree on the left to the table on the right.</p>
      </div>
      <div class="col-xs-4">
        <p class="text-center help-icon"><span class="glyphicon glyphicon-th"></span></p>
        <h3>2. Cluster</h3>
        <p>You can easily cluster the genomes by clicking the blurred phylogenetic tree next to the similarity matrix.</p>
      </div>
      <div class="col-xs-4">
        <p class="text-center help-icon"><span class="glyphicon glyphicon-download"></span></p>
        <h3>3. Download results</h3>
        <p>You can download the similarity data by clicking the 'Download data' button in the top-right corner. The similarities between the genomes are offered as a Microsoft Excel-compatible CSV file, the phylogenetic tree in the newick format.</p>
      </div>
    </div>
  </div>
</div>

<div class="tab-content">
  <div class="tab-pane fade <%= @tab == "peptidefinder" ? "in active" : ""%>" id="pancore_graph_wrapper">
    <div id="pancore_graph">
      <div id="popovers"></div>
    </div>
  </div>
  <div class="tab-pane fade <%= @tab == "peptidomeclustering" ? "in active" : ""%>" id="sim_matrix_wrapper">
    <div id="sim_matrix"></div>
  </div>
</div>
<hr>
<div class="split">
  <div class="split-left">
    <p class="intro">
      To add all genomes from a species, select one from the drop-down and click the load button.
    </p>
    <%= form_tag(:pancore_analyze, :method => "get", :class => "form-inline") do %>
        <div class="form-group"><%= select_tag(:species_id, options_for_select(@species, params[:species_id]), :class => "form-control") %></div>
        <div class="form-group"><%= button_tag(raw("Add species <span class='glyphicon glyphicon-chevron-right'></span>"), :type => "button", :class => "btn btn-primary", :id => "add_species_peptidome", :"data-loading-text" => "Loading...") %></div>
    <% end %>
    <div id="ownGenomes" class="hide">
      <p class="intro">
        <br>Own genomes
      </p>
      <ul id='ownGenomesList'></ul>
      <button type="button" id='addOwnGenomeButton' class='btn btn-primary'><span class='glyphicon glyphicon-plus'></span> Add your own genome</button>
      <div id="owngenomes-popover-head" class="hide">Add your own genome</div>
      <div id="owngenomes-popover-content" class="hide">
        <form>
        <div class="form-group">
          <label for="ownGenomeName" class="control-label">Name</label>
          <input type="text" id="ownGenomeName" class="form-control" placeholder="name" data-toggle="tooltip" title="Enter a name. The one of the organism would be a good choice.">
        </div>
        <div class="form-group">
          <label for="ownGenomeFile" class="control-label">FASTA file</label>
          <div class="input-group"  data-toggle="tooltip" title="Select a FASTA file containing one or more protein sequences.">
            <span class="input-group-btn">
              <span class="btn btn-default btn-file">
                Browse… <input type="file" id="ownGenomeFile">
              </span>
            </span>
            <input type="text" class="form-control" readonly="">
          </div>
        </div>
        <div class="form-group text-center">
          <button type="button" id="processOwnGenomeButton" class="btn btn-primary form-control">Process FASTA file</button>
        </div>
        <small><span class="glyphicon glyphicon-info-sign"></span> The genomes you add will only be visible in your browser. Nothing will be stored on the Unipept servers.</small>
      </form>
      </div>
    </div>
    <p class="intro">
      <br>
       To add individual genomes, drag a node from the tree to the table on the right.
    </p>
    <div id="treeView" class="treeView pancore">
      <div class="input-group" id="treeSearchDiv">
      <%= search_field_tag(:treeSearch, "", :placeholder => "type to filter the tree by name or bioproject id", :class => "form-control") %><span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
      </div>
    </div>
  </div>

  <div class="split-right">
    <span id="table-message"><span class="glyphicon glyphicon-chevron-left"></span> Select a species to analyze and click the load button.</span>
    <div id="genomes-table-div">
      <div style="overflow: hidden; height: 0px; width: 0px;">&nbsp;</div>
      <table class="table table-condensed" id="genomes_table">
        <thead>
          <tr>
            <th class="handle">
              <div class="btn-group" id="autosort">
                <a class="btn btn-xs btn-primary dropdown-toggle" data-toggle="dropdown" id="autosort-button">
                  <span class="glyphicon glyphicon-random"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><a data-type="name" data-toggle="tooltip" title="Sorts the genomes alphabetically from A-Z." href="#">Sort by name</a></li>
                  <li><a data-type="size" data-toggle="tooltip" title="Sorts the genomes by the number of peptides from high to low." href="#">Sort by genome size</a></li>
                  <li><a data-type="clustered" data-toggle="tooltip" title="Clusters the genomes by similarity and uses that order." href="#">Sort by similarity</a></li>
                  <li><a data-type="minpan" data-toggle="tooltip" title="Heuristically minimizes the pan line. Starts from the current first node." href="#">Minimize the pan</a></li>
                  <li><a data-type="maxcore" data-toggle="tooltip" title="Heuristically maximizes the core line. Starts from the current first node." href="#">Maximize the core</a></li>
                  <li><a data-type="optimal" data-toggle="tooltip" title="Heuristically minimizes the distance between the pan and core line. Starts from the current first node." href="#">Optimize pan and core</a></li>
                </ul>
              </div>
            </th>
            <th class="name">Genome</th>
            <th class="status"></th>
            <th class="action"><a id="remove-all" class="btn btn-xs btn-danger" title="remove all genomes"><span class="glyphicon glyphicon-trash"></span></a></th>
          </tr>
          <tr id="reorder-header" class="hidden warning">
              <td colspan="4" align="center">
                  The order of the genomes in this table currently doesn't correspond with the order in the similarity matrix<br>
                  <a id='use-cluster-order' class="btn btn-primary btn-xs" title="reorder the table to correspond with the clustered order"><span class="glyphicon glyphicon-random"></span> Use clustered order</a>
                  <a id='decluster-matrix' class="btn btn-default btn-xs" title="decluster the matrix and keep using the order of the table">Undo clustering</a>
              </td>
          <tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
          <tr><th colspan=4><span class="glyphicon glyphicon-plus"></span> Drop genomes here</th></tr>
        </tfoot>
      </table>
    </div>
    <div class="visualClear"></div>
  </div>
</div>

<script type="text/javascript">
  $(function () {
    if (typeof(Worker)!=="undefined") {
        constructPancore({
            data : <%= raw(@genomes) %>,
            taxa : <%= raw(@taxa) %>
        });
    } else {
      error(null, "Sorry, this page uses Web Workers, an advanced JavaScript technology that's not supported by your browser. Try using an up to date version of Google Chrome, Firefox or Internet Explorer 10.")
    }
  });
</script>

<%= render 'shared/save_image_modal' %>
