<h1>Unique peptide finder</h1>
<p>This application lets you find unique peptides for a species of your choice, based on the data of the completed refseq genomes. These peptides can be downloaded and used for targeted proteomics experiments.</p>
<p>When you add a genome to the set (e.g., by dragging one from the tree to the graph or table), the union and intersection of the peptides of that genome and the ones already added are calculated. The size of the union (pan peptidome) is represented by the blue dots and the size of the intersection (core peptidome) is represented by the orange dots. Additionally, a more restrictive version of the core peptidome is calculated (green dots) by only including peptides that are unique for the selected genomes. These unique peptides have the same Lowest Common Ancestor (LCA) as the LCA of the selected genomes.</p>
<p>You can easily reorder the genomes by dragging them to the desired position or by using one of the automatic sort options. By clicking on one of the data points on the graph, you can download a list of peptides.</p>

<div id="buttons-pancore"></div>

<ul class="nav nav-tabs">
  <li class="active"><a href="#pancore_graph_wrapper" data-toggle="tab">Graph</a></li>
  <li><a href="#sim_matrix_wrapper" data-toggle="tab">Similarity Matrix</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="pancore_graph_wrapper">
    <div id="pancore_graph">
      <div id="popovers"></div>
    </div>
  </div>
  <div class="tab-pane" id="sim_matrix_wrapper">
    <div id="sim_matrix"></div>
    <div id='cluster-div'>
        <div id='cluster-btn-wrapper'>
            <button id='cluster-matrix-btn' class='btn btn-default'><i class='glyphicon glyphicon-refresh'></i> Cluster</button>
        </div>
        <div id="sim_graph">
        </div>
    </div>
  </div>
</div>


<div class="split">
  <div class="split-left">
    <p class="intro">
      To analyze some genomes, select a species from the list and click the load button or drag a node from the tree to the table on the right.
    </p>
    <%= form_tag(:pancore_analyze, :method => "get", :class => "form-inline") do %>
        <div class="form-group"><%= select_tag(:species_id, options_for_select(@species, params[:species_id]), :class => "form-control") %></div>
        <div class="form-group"><%= button_tag(raw("Add species <i class='glyphicon glyphicon-chevron-right'></i>"), :type => "button", :class => "btn btn-primary", :id => "add_species_peptidome", :"data-loading-text" => "Loading...") %></div>
    <% end %>
    <div id="treeView" class="treeView pancore">
      <div class="input-group" id="treeSearchDiv">
      <%= search_field_tag(:treeSearch, "", :placeholder => "type to filter the tree by name or bioproject id", :class => "form-control") %><span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
      </div>
    </div>
  </div>

  <div class="split-right">
    <span id="table-message"><i class="glyphicon glyphicon-chevron-left"></i> Select a species to analyze and click the load button.</span>
    <div id="genomes-table-div">
      <div style="overflow: hidden; height: 0px; width: 0px;">&nbsp;</div>
      <table class="table table-condensed" id="genomes_table">
        <thead>
          <tr>
            <th class="handle">
              <div class="btn-group" id="autosort">
                <a class="btn btn-xs btn-primary dropdown-toggle" data-toggle="dropdown" id="autosort-button">
                  <i class="glyphicon glyphicon-random"></i>
                </a>
                <ul class="dropdown-menu">
                  <li><a data-type="name" data-toggle="tooltip" title="Sorts the genomes alphabetically from A-Z." href="#">Sort by name</a></li>
                  <li><a data-type="size" data-toggle="tooltip" title="Sorts the genomes by the number of peptides from high to low." href="#">Sort by genome size</a></li>
                  <li><a data-type="minpan" data-toggle="tooltip" title="Heuristically minimizes the pan line. Starts from the current first node." href="#">Minimize the pan</a></li>
                  <li><a data-type="maxcore" data-toggle="tooltip" title="Heuristically maximizes the core line. Starts from the current first node." href="#">Maximize the core</a></li>
                  <li><a data-type="optimal" data-toggle="tooltip" title="Heuristically minimizes the distance between the pan and core line. Starts from the current first node." href="#">Optimize pan and core</a></li>
                  <li><a data-type="clustered" data-toggle="tooltip" title="Cluster the matrix and use the order calculated." href="#">Cluster matrix</a></li>
                </ul>
              </div>
            </th>
            <th class="name">Genome</th>
            <th class="status">Status</th>
            <th class="action"><a id="remove-all" class="btn btn-xs btn-danger" title="remove all genomes"><i class="glyphicon glyphicon-trash"></i></a></th>
          </tr>
          <tr id="reorder-header" class="hidden">
              <td colspan="4" align="center">
                  <a id='use-cluster-order' class="btn btn-danger btn-xs">Use clustered order <i class="glyphicon glyphicon-random"></i></a>
                  <a id='decluster-matrix' class="btn btn-danger btn-xs">decluster matrix <i class="glyphicon glyphicon-random"></i></a>
              </td>
          <tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
          <tr><th colspan=4><i class="glyphicon glyphicon-plus"></i> Drop genomes here</th></tr>
        </tfoot>
      </table>
    </div>
    <div class="visualClear"></div>
  </div>
</div>

<script type="text/javascript">
  $(function () {
    if (typeof(Worker)!=="undefined") {
        constructPancore({
            data : <%= raw(@genomes) %>,
            taxa : <%= raw(@taxa) %>
        });
    } else {
      error(null, "Sorry, this page uses Web Workers, an advanced JavaScript technology that's not supported by your browser. Try using an up to date version of Google Chrome, Firefox or Internet Explorer 10.")
    }
  });
</script>

<%= render 'shared/save_image_modal' %>
