<div class="apidocs row">
  <div class="col-xs-9">
    <h1 class='api-title'>Unipept
      <span class="initialism">CLI</span>
      documentation
      <small>v<%= Rails.application.config.versions[:gem] %></small>
    </h1>
    <p class='lead'>
      The Unipept command line interface (<span class='initialism'>CLI</span>) offers an easy way to integrate Unipept metaproteomics functionality into your data processing pipelines and scripts.
    </p>
    <p>
      These tools provide a command line interface to the <%= link_to("Unipept web services", api_apidocs_path) %> and a few utility commands for handling proteins using the command line. All tools support fasta and plain text input, multiple output formats (csv, xml and json) and parallel web requests for improved performance.
    </p>
    <p>
      The Unipept command line tools are open source under the <span class='initialism'>MIT</span> License and all code is available on <a href='https://github.com/unipept/unipept-cli' target='_blank'>Github</a>. Changes between releases are listed in the <a href='https://github.com/unipept/unipept-cli/releases' target='_blank'>changelog</a>. In case you have encountered an issue using these tools, have feature requests or found a bug, don't hesitate to contact us by email (<a href='mailto:unipept@ugent.be'>unipept@ugent.be</a>), or <a href='https://github.com/unipept/unipept-cli/issues' target='_blank'>create an issue</a> on Github.
    </p>
    <dl class='dl-horizontal'>
      <dt>uniprot</dt>
      <dd>Fetches UniProt entries based on their accession numbers.</dd>
      <dt>prot2pept</dt>
      <dd>Splits proteins into peptides based on (trypsin) digest.</dd>
      <dt>peptfilter</dt>
      <dd>Filters peptides based on length and amino acid occurrence.</dd>
      <dt>unipept pept2prot</dt>
      <dd>Returns the set of UniProt entries containing a given tryptic peptide.</dd>
      <dt>unipept pept2taxa</dt>
      <dd>Returns the set of taxa extracted from the UniProt entries containing a given tryptic peptide.</dd>
      <dt>unipept pept2lca</dt>
      <dd>Returns the taxonomic lowest common ancestor for a given tryptic peptide.</dd>
      <dt>unipept taxa2lca</dt>
      <dd>Returns the taxonomic lowest common ancestor of a given list of taxon identifiers.</dd>
      <dt>unipept taxonomy</dt>
      <dd>Returns the taxonomic information for a given <span class='initialism'>NCBI</span> taxon identifier.</dd>
    </dl>
    <div class='card'>
        <div class='card-title card-title-colored'>
          <h2 id="installation" class='card-title-text'>Installation</h2>
        </div>
        <div class='card-supporting-text'>
    <p>
      To use the Unipept command line tools, Ruby needs to be installed on your system. We recommend using Ruby 2.4, but all versions since Ruby 2.0.0, as well as JRuby are supported. To check if you have the correct Ruby version installed, open a terminal and run
      <code>ruby --version</code>.
    </p>

    <pre>
<b>$</b> ruby --version
ruby 2.4.0p0 (2016-12-24 revision 57164) [x86_64-darwin16]</pre>

    <div class="apidocs-callout apidocs-callout-info">
      <h4>Installing Ruby</h4>
      <p>
        If the
        <code>ruby --version</code>
        command returns
        <samp>command not found</samp>, Ruby is not yet installed on your system. More information on installing Ruby can be found at
        <a href='https://www.ruby-lang.org/en/installation/' target='_blank'>https://www.ruby-lang.org/en/installation/</a>.
      </p>
    </div>

    <p>
      The Unipept CLI is available as a <a href='http://rubygems.org/gems/unipept' target='_blank'><i>gem</i></a>. This means it can easily be installed with the <code>gem install unipept</code> command:
    </p>

    <pre>
<b>$</b> gem install unipept
Fetching: unipept-<%= Rails.application.config.versions[:gem] %>.gem (100%)
Successfully installed unipept-<%= Rails.application.config.versions[:gem] %>
Parsing documentation for unipept-<%= Rails.application.config.versions[:gem] %>
Installing ri documentation for unipept-<%= Rails.application.config.versions[:gem] %>
Done installing documentation for unipept after 0 seconds
1 gem installed</pre>

    <p>
      After successful installation, the unipept command should be available. To check if unipept was installed correctly, run
      <code>unipept --version</code>. This should print the version number:
    </p>

    <pre>
<b>$</b> unipept --version
<%= Rails.application.config.versions[:gem] %></pre>

    <p>
      More information about the installed command can be found on these pages, or by running the
      <code>unipept -h</code>
      command.
    </p>

    <div class="apidocs-callout apidocs-callout-info">
      <h4>Permission problems</h4>
      <p>
        When trying to install a gem, you might run into permission problems if you don't have write access to the default installation directory. This can be fixed by doing a <i>user install</i>, which installs the gem in your home directory. Simply run <code>gem install unipept --user-install</code> instead of the normal installation command. More  information can be found on the <a href='http://guides.rubygems.org/faqs/#user-install' target='_blank'>RubyGems website</a>.
      </p>
    </div>
  </div>
</div>
<div class='card'>
    <div class='card-title card-title-colored'>
      <h2 id="updates" class='card-title-text'>Updates</h2>
    </div>
    <div class='card-supporting-text'>
    <p>
      To update the Unipept command line tools to the latest version, simply run <code>gem update unipept</code>. The changes between releases are listed in the <a href='https://github.com/unipept/unipept-cli/releases' target='_blank'>changelog</a>.
    </p>
    <pre>
<b>$</b> gem update unipept
Updating installed gems
Updating unipept
Fetching: unipept-<%= Rails.application.config.versions[:gem] %>.gem (100%)
Successfully installed unipept-<%= Rails.application.config.versions[:gem] %>
Parsing documentation for unipept-<%= Rails.application.config.versions[:gem] %>
Installing ri documentation for unipept-<%= Rails.application.config.versions[:gem] %>
Installing darkfish documentation for unipept-<%= Rails.application.config.versions[:gem] %>
Done installing documentation for unipept after 0 seconds
Gems updated: unipept</pre>
</div>
</div>

<div class='card'>
    <div class='card-title card-title-colored'>
      <h2 id="configuration" class='card-title-text'>Configuration</h2>
    </div>
    <div class='card-supporting-text'>
    <p>
      The Unipept command line tools require no additional configuration and can be used immediately after installation. By default, the public Unipept server will be used for all commands. If you have a local Unipept server running, and wish to use it with the command line tools, simply run the
      <code>unipept config host http://local.server</code>
      command, where you substitute
      <code>http://local.server</code>
      with the address of your local Unipept server:
    </p>

    <pre>
$ unipept config host http://local.server
host was set to http://local.server</pre>

    <div class="apidocs-callout apidocs-callout-info">
      <h4>Default settings</h4>
      <p>If you changed the host settings and wish to return to the default host, simply run
        <code>unipept config host http://api.unipept.ugent.be</code>.
      </p>
    </div>
  </div>
</div>
  </div>
  <div class="col-xs-3">
    <%= render 'api/shared/sidebar' %>
  </div>
</div>
