<p>
  <b>Environment:</b>
  <%= dataset.environment %> 
	<% if session[:admin] && !load %>
		<%= link_to 'Edit', edit_dataset_path(dataset) %> |
		<%= link_to 'Delete', dataset, :confirm => 'Are you sure?', :method => :delete %>
	<% end %>
	<br/>

  <b>Reference:</b>
  <%= dataset.reference %> (<%= link_to "link", dataset.url, :target => "_blank" %>). 
	<%= link_to "Project website", dataset.project_website, :target => "_blank" %>
</p>

<ul>
<% for item in dataset.dataset_items %>
	<% if load %>
	<li><span class="name"><%= item.name %></span> (<%= link_to "Load dataset", item.path, :class => "datasetLink" %>)</li>
	<% else %>	
	<li><%= item.name %></li>
	<% end %>
<% end %>
</ul>