<% edit = false unless defined? edit %>
<% load = false unless defined? load %>

<p>
  <b>Environment:</b>
  <%= dataset.environment %>
    <% if session[:admin] && edit %>
        <%= link_to raw("<i class='glyphicon glyphicon-pencil'></i> Edit"), edit_dataset_path(dataset), :class => 'btn btn-default btn-xs' %>
        <%= link_to raw("<i class='glyphicon glyphicon-trash'></i> Delete"), dataset, :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-xs btn-danger' %>
    <% end %>
    <br/>

  <b>Reference:</b>
  <%= dataset.reference %> <%= link_to raw("<i class='glyphicon glyphicon-share-alt'></i>"), dataset.url, :target => "_blank", :title => "Article website" %>.
    <%= link_to "Project website", dataset.project_website, :target => "_blank" %>

<% if load %>
    <br/>
    Load dataset
    <span class="form-inline">
    <%= select("dataset", dataset.id, dataset.dataset_items.map {|item| [item.name,dataset_item_path(item)]}, {}, :class => "form-control") %>
    <%= button_tag(raw("Load"), { :type => "button", :class => "load-dataset btn btn-default", :"data-loading-text" => "Loading..." }) %>
    </span>
<% else %>
    <ul>
    <% for item in dataset.dataset_items %>
        <li><%= item.name %></li>
    <% end %>
    </ul>
<% end %>
</p>
