<p>
  <b>Environment:</b>
  <%= dataset.environment %> 
	<% if session[:admin] && !load %>
		<%= link_to 'Edit', edit_dataset_path(dataset) %> |
		<%= link_to 'Delete', dataset, :confirm => 'Are you sure?', :method => :delete %>
	<% end %>
	<br/>

  <b>Reference:</b>
  <%= dataset.reference %> <%= link_to image_tag("externesite.gif", :alt => "Article website", :title => "Article website"), dataset.url, :target => "_blank" %>. 
	<%= link_to "Project website", dataset.project_website, :target => "_blank" %>

<% if load %>
	<br/>
	Load dataset 
	<span class="form-inline">
	<%= select("dataset", dataset.id, dataset.dataset_items.map {|item| [item.name,item.path]}) %>
	<%= button_tag(raw("Load"), { :type => "button", :class => "load-dataset btn" }) %>
	</span>
<% else %>
	<ul>
	<% for item in dataset.dataset_items %>
		<li><%= item.name %></li>
	<% end %>
	</ul>
<% end %>
</p>
