<p>
  <b>Environment:</b>
  <%= dataset.environment %> 
	<% if session[:admin] && !load %>
		<%= link_to 'Edit', edit_dataset_path(dataset) %> |
		<%= link_to 'Delete', dataset, :confirm => 'Are you sure?', :method => :delete %>
	<% end %>
	<br/>

  <b>Reference:</b>
  <%= dataset.reference %> (<%= link_to "link", dataset.url, :target => "_blank" %>). 
	<%= link_to "Project website", dataset.project_website, :target => "_blank" %>
</p>

<% if load %>
	Load dataset 
	<span>
	<%= select("dataset", dataset.id, dataset.dataset_items.map {|item| [item.name,item.path]}) %>
	<%= submit_tag("Load", { :type => "button", :class => "load-dataset btn" }) %>
	</span>
<% else %>
	<ul>
	<% for item in dataset.dataset_items %>
		<li><%= item.name %></li>
	<% end %>
	</ul>
<% end %>

