<div class="fields">
	<div class="field">
	  <%= f.label :name %>
	  <%= f.text_field :name %>
		<%= f.label :data %>
		<%= f.text_area :data , :rows => 3 %>
		<i class="icon-minus"></i> <%= link_to_remove_fields "remove item", f %>
	</div>
</div>
