<div class="fields">
	<div class="field">
	  <%= f.label :name %>
	  <%= f.text_field :name %>
		<%= link_to_remove_fields "remove", f %>
	</div>
	<div class="field">
	  <%= f.label :path %>
	  <%= f.text_field :path %>
	</div>
</div>
