<% content_for :javascripts do %>
  <%= javascript_pack_tag 'datasets' %>
<% end %>

<div class="row">
  <div class="col-xs-6">
    <%= render 'shared/sequence_multi_search' %>
  </div>
  <div class="col-xs-6">
    <%= render 'shared/load_datasets_form' %>
  </div>
</div>

<div class="row">
  <div class="col-xs-6">
      <div class='card'>
        <div class='card-title card-title-colored'>
          <h2 class='card-title-text'>MPA2</h2>
        </div>
        <div class='card-supporting-text'>
          <%= form_tag(:mpa, :method => "post") do %>
            <div id="search_elements" class='form-group'>
              <label for="peptides">Peptide list</label>
              <%= text_area_tag(:peptides, nil, :rows => 7, :spellcheck => "false", :class => "form-control", autofocus: "true") %>
            </div>
            <div class="checkbox">
              <%= label_tag(:il, check_box_tag(:il, 1, true) + " Equate I and L", title: "Equate isoleucine (I) and leucine (L) when matching peptides to UniProt entries.", class: 'js-has-hover-tooltip') %>
            </div>
            <div class="checkbox">
              <%= label_tag(:dupes, check_box_tag(:dupes, 1, true) + " Filter duplicate peptides", title: "Remove duplicate peptides from the input before searching.", class:'js-has-hover-tooltip') %>
            </div>
            <div class="checkbox">
              <%= label_tag(:missed, check_box_tag(:missed, 1, false) + " Advanced missed cleavage handling", title: "Recombine subpeptides of miscleavages. Enabling this has a serious performance impact!", class: 'js-has-hover-tooltip') %>
            </div>
            <div class="checkbox">
              <%= label_tag(:export, check_box_tag(:export, 1, false) + " Export to CSV", title: "Download results instead of loading result page.", class: 'js-has-hover-tooltip') %>
            </div>
            <div id="search_button" class='search-buttons-centered'>
              <%= button_tag(raw("<span class='glyphicon glyphicon-search grow'></span> Search"), :type => "submit", :class => "btn btn-primary btn-animate", :id =>"search-multi-form", :"data-loading-text" => "Loading...") %>
              <%= button_tag(raw("<span class='glyphicon glyphicon-repeat spin'></span> Start Over"), { :name => 'reset', :id => 'reset_button', :type => "reset", :class => "btn btn-default btn-animate" }) %>
            </div>
          <% end %>
        </div>
      </div>
  </div>
</div>

<%= render 'shared/multi_search_intro' %>

<script type="text/javascript">
  $(document).ready(initDatasets);
</script>
