<div class='card card-nav datasets' style="height: 100%;">
  <div class='card-title card-title-colored'>
    <ul class="nav nav-tabs">
      <li class="active"><a href="#database" data-toggle="tab">Sample data</a></li>
      <li><a href="#pride" data-toggle="tab">PRIDE</a></li>
      <li><a href="#local-storage" data-toggle="tab">Local storage</a></li>
    </ul>
  </div>
  <div class='card-supporting-text'>
    <div class="tab-content">
      <div class="tab-pane active" id="database">
        <%= render @datasets, :load => true, :edit => true %>
      </div>
      <div class="tab-pane" id="pride">
        <h3>Load data from the PRIDE archive</h3>
        <p>You can easily load data from the <a href="http://www.ebi.ac.uk/pride/" target="_blank">PRIDE</a> data repository. Simply enter an assay id (e.g. 8500) in the field below and click the 'Load PRIDE Dataset' button. The corresponding dataset will then be fetched using the PRIDE API and loaded into the search form on the left.</p>
        <div class="form-group">
          <label for="pride_exp_id">Assay id</label>
          <%= text_field_tag('pride_exp_id', nil, :placeholder => 'e.g. 8500', :class => "form-control")%>
        </div>
        <%= render 'pride_progress' %>
        <div class='search-buttons-centered'>
          <%= button_tag(raw("Load PRIDE dataset"), { :type => "button", :class => "load-pride btn btn-default" , :"data-loading-text" => "Loading..."}) %>
        </div>
      </div>
      <div class="tab-pane" id="local-storage">
        <div class="list">
          <div class="list-item">
            <span class="list-item-primary-action">
              <input type="checkbox" />
            </span>
            <span class="list-item-primary-content">
              PRIDE assay 8500
            </span>
          </div>
        </div>
        <div class='search-buttons-centered' id='search-button'>
          <%= button_tag(raw("<span class='glyphicon glyphicon-plus grow'></span> Select"), :type => "submit", :class => "btn btn-primary btn-animate", :id =>"search_selected_datasets_button", :"data-loading-text" => "Loading...") %>
        </div>
      </div>
    </div>
  </div>
</div>
