<%= form_tag(:sequence_multi_search, :method => "post") do %>
    <div id="search_elements">
        <%= text_area_tag(:qs, nil, :rows => 7, :spellcheck => "false", :class => "form-control") %>
    </div>

    <div id="multisearch-warning" class='alert alert-warning' role='alert'><strong>Oh snap!</strong> You're trying to analyse <strong class="multisearch-warning-amount">9001</strong> peptides. Searching for this many peptides might take a while and the resulting visualisations will probably be suboptimal. Our <a href="<%= api_apidocs_path %>">webservice</a> might provide a better solution.</div>

    <div id="more_options"><span class="glyphicon glyphicon-plus"></span> <%= link_to("More options", "#") %></div>
    <div id="more_options_form">
        <h4>Advanced search options</h4>
        <div class="checkbox">
          <%= label_tag(:il, check_box_tag(:il, 1, true) + " Equate I and L") %>
        </div>
        <div class="checkbox">
          <%= label_tag(:dupes, check_box_tag(:dupes, 1, true) + " Filter duplicate peptides") %>
        </div>
        <div class="checkbox">
          <%= label_tag(:missed, check_box_tag(:missed, 1, false) + " Advanced missed cleavage handling") %>
        </div>
        <div class="checkbox">
          <%= label_tag(:export, check_box_tag(:export, 1, false) + " Export to CSV") %>
        </div>
        <div class="form-group">
        <label for="search_name">Name this search</label>
        <%= text_field_tag('search_name', nil, :placeholder => 'e.g. Sample B5', :class => "form-control")%>
        </div>
    </div>
    <div id="search_button">
        <%= button_tag(raw("<span class='glyphicon glyphicon-search'></span> Search"), :type => "submit", :class => "btn btn-primary", :id =>"search-multi-form", :"data-loading-text" => "Loading...") %>
        <%= button_tag(raw("<span class='glyphicon glyphicon-repeat'></span> Start Over"), { :name => 'reset', :id => 'reset_button', :type => "reset", :class => "btn btn-default" }) %>
    </div>
    <div id="form-progress" class="progress hide">
      <div class="progress-bar progress-bar-striped active"  role="progressbar" style="width: 100%">
        <span>Processing data...</span>
      </div>
    </div>

<% end %>
