<%= form_tag(:sequence_multi_search, :method => "post", :class => "form-inline") do %>
	<div id="search_elements">
	<%= text_area_tag(:qs, nil, :rows => 7, :spellcheck => "false") %>
	</div>
	
	<div id="more_options"><i class="icon-plus"></i> <%= link_to("More options", "#") %></div>
	<div id="more_options_form">
	<h4>Advanced search options</h4>
	<%= check_box_tag(:il, 1, true) %>
	<%= label_tag(:il, "Equate I and L") %>
	<br/>
	<%= check_box_tag(:dupes, 1, true) %>
	<%= label_tag(:dupes, "Filter duplicate peptides") %>
	<br/>
	<%= check_box_tag(:missed, 1, false) %>
	<%= label_tag(:missed, "Process missed cleavages") %>
	<br/>
	<%= check_box_tag(:export, 1, false) %>
	<%= label_tag(:export, "Export to CSV") %>
	<br/>
	<%= label_tag(:search_name, "Name this search") %>
	<%= text_field_tag('search_name', nil, :placeholder => 'e.g. Sample B5')%>
	</div>
	<div id="search_button">
	<%= button_tag(raw("<i class='icon-search icon-white'></i> Search"), :type => "submit", :class => "btn btn-primary") %>
	<%= button_tag(raw("<i class='icon-repeat'></i> Start Over"), { :name => 'reset', :id => 'reset_button', :type => "reset", :class => "btn" }) %>
	</div>
  
<% end %>

<script type="text/javascript">
$(document).ready(function(){
	$("#more_options_form").hide();
	$("#more_options a").click(function(){
		$("#more_options_form").slideDown("slow");
		$("#more_options").hide("fast");
		return false;
	});
 });
</script>