<%= form_tag(:sequence_multi_search, :method => "post") do %>
	<div id="search_elements">
	<%= label_tag(:qs, "Search for") %>
	<%= text_area_tag(:qs, nil, :cols => 60, :rows => 7) %>
	</div>
	
	<div id="more_options"><%= image_tag("plus.gif") %> <%= link_to("More options", "#") %></div>
	<div id="more_options_form">
	<fieldset>
	<legend>Advanced search options</legend>
	<%= check_box_tag(:il, 1, true) %>
	<%= label_tag(:il, "Equate I and L?") %>
	<br/>
	<%= check_box_tag(:dupes, 1, true) %>
	<%= label_tag(:dupes, "Filter duplicate peptides?") %>
	<br/>
	<%= check_box_tag(:export, 1, false) %>
	<%= label_tag(:export, "Export to CSV") %>
	<br/>
	<%= label_tag(:search_name, "Name this search") %>
	<%= text_field_tag('search_name', nil, :placeholder => 'e.g. Sample B5')%>
	</fieldset>
	</div>
	<div id="search_button">
	<%= submit_tag("Start Over", { :name => 'reset', :id => 'reset_button', :type => "reset" }) %>
	<%= submit_tag("Search") %>
	</div>
  
<% end %>

<script type="text/javascript">
$(document).ready(function(){
	$("#more_options_form").hide();
	$("#more_options a").click(function(){
		$("#more_options_form").show("fast");
		$("#more_options").hide("fast");
		return false;
	});
 });
</script>