<div class='card' style="height: 100%;">
  <div class='card-title card-title-colored'>
    <h2 class='card-title-text'>Metaproteomics Analysis</h2>
  </div>
  <div class='card-supporting-text'>
    <div id="search_elements" class='form-group'>
      <label for="qs">Peptide list</label>
      <%= text_area_tag(:qs, nil, :rows => 7, :spellcheck => "false", :class => "form-control input-item", autofocus: "true") %>
    </div>
    <div id="multisearch-warning" class='alert alert-warning' role='alert'><strong>Oh snap!</strong> You're trying to analyse <strong class="multisearch-warning-amount">a lot of</strong> peptides. Searching for this many peptides might take a while and the resulting visualisations will probably be suboptimal. Our <a href="<%= api_apidocs_path %>">webservices</a> are a great alternative.</div>
    <div class="form-group" id="search-input-group">
      <label class="control-label" for="search_name">Name this dataset <small class='secondary-text hidden' id="name_optional_text">optional</small></label>
      <%= text_field_tag('search_name', nil, :placeholder => 'e.g. Sample B5', :class => "form-control js-has-focus-tooltip input-item", title: "This name will be shown on the results page. Handy if you have many open tabs.")%>
      <span class="help-block hidden" id="help-block-name">Name is required when the dataset is set to be saved</span>
    </div>
    <div class="checkbox">
      <%= label_tag(:save_dataset, check_box_tag(:save_dataset, 1, true, class: "input-item") + " Save dataset", title: "Store dataset in browser's local storage", class: 'js-has-hover-tooltip') %>
    </div>
    <div class='search-buttons-centered'>
      <%= button_tag(raw("<span class='glyphicon glyphicon-plus grow'></span> Add"), { :name => 'add', :id => 'add_dataset_button', :class => "btn btn-default btn-animate input-item" }) %>
    </div>
    <hr/>
    <div id="selected-datasets">
      <label>Selected datasets</label>
      <div class="list" id="selected-datasets-list" style="max-height: 150px; overflow-y: auto;">
      </div>
    </div>
    <label>Search settings</label>
    <div class="checkbox">
      <%= label_tag(:il, check_box_tag(:il, 1, true, class: "input-item") + " Equate I and L", title: "Equate isoleucine (I) and leucine (L) when matching peptides to UniProt entries.", class: 'js-has-hover-tooltip') %>
    </div>
    <div class="checkbox">
      <%= label_tag(:dupes, check_box_tag(:dupes, 1, true, class: "input-item") + " Filter duplicate peptides", title: "Remove duplicate peptides from the input before searching.", class:'js-has-hover-tooltip') %>
    </div>
    <div class="checkbox">
      <%= label_tag(:missed, check_box_tag(:missed, 1, false, class: "input-item") + " Advanced missed cleavage handling", title: "Recombine subpeptides of miscleavages. Enabling this has a serious performance impact!", class: 'js-has-hover-tooltip') %>
    </div>
    <div id="search_button" class='search-buttons-centered'>
      <%= button_tag(raw("<span class='glyphicon glyphicon-search grow'></span> Search"), :type => "submit", :class => "btn btn-primary btn-animate input-item", :id =>"search-multi-form", :"data-loading-text" => "Loading...") %>
      <%= button_tag(raw("<span class='glyphicon glyphicon-repeat spin'></span> Start Over"), { :name => 'reset', :id => 'reset_button', :type => "reset", :class => "btn btn-default btn-animate input-item" }) %>
    </div>
    <div id="form-progress" class="progress hide">
      <div class="progress-bar progress-bar-striped active"  role="progressbar" style="width: 100%">
        <span>Processing data...</span>
      </div>
    </div>
  </div>
</div>
