<div class="about">
  <h1>About Unipept</h1>
  <div class="row">
    <div class="col-xs-8">
      <p>The Unipept web application supports biodiversity analysis of large and complex metaproteome samples. Its underlying index structure is designed to quickly retrieve all occurrences of a tryptic peptide in UniProt entries. Taxon-specificity of the tryptic peptide is successively derived from these occurrences using a novel lowest common ancestor approach that is robust against taxonomic misarrangements, misidentifications and inaccuracies. This application consists of four separate functionalities: the <a href="<%= search_single_path %>">Tryptic Peptide Analysis</a>, the <a href="<%= datasets_path %>">Metaproteomics Analysis</a>, the <a href="<%= peptide_finder_path %>">Unique Peptide Finder</a> and the <a href="<%= peptidome_clustering_path %>">Peptidome Clustering</a>.</p>
      <p>The initial Unipept publication can be found at <a href="https://doi.org/10.1021/pr300576s">Unipept: tryptic peptide-based biodiversity analysis of metaproteome samples</a>, a follow up publication can be found at <a href="https://doi.org/10.1002/pmic.201400361">The Unipept Metaproteomics Analysis Pipeline</a>. The API was published as <a href="https://doi.org/10.1093/bioinformatics/btw039">Unipept Web Services for Metaproteomics Analysis</a>.</p>
      <div class='card'>
        <div class='card-title card-title-colored'>
          <h2 class='card-title-text'>How to cite Unipept</h2>
        </div>
        <div class='card-supporting-text'>
          <p>
            If you use Unipept for your research, please cite:
          </p>
          <ul>
            <li>CLI: Mesuere et al. (2017) Journal of Proteomics <a target="_blank" href="https://doi.org/10.1016/j.jprot.2017.05.022">doi:10.1016/j.jprot.2017.05.022</a></li>
            <li>Peptidome Analysis: Mesuere et al. (2016) Proteomics <a target="_blank" href="https://doi.org/10.1002/pmic.201600023">doi:10.1002/pmic.201600023</a></li>
            <li>API: Mesuere et al. (2016) Bioinformatics <a href="https://doi.org/10.1093/bioinformatics/btw039" target="_blank">doi:10.1093/bioinformatics/btw039</a></li>
            <li>General: Mesuere et al. (2015) Proteomics <a href="https://doi.org/10.1002/pmic.201400361" target="_blank">doi:10.1002/pmic.201400361</a></li>
            <li>General: Mesuere et al. (2012) J. Proteome Res. <a href="https://doi.org/10.1021/pr300576s" target="_blank">doi:10.1021/pr300576s</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-xs-4">
      <a target="_blank" href="<%= asset_path('poster.png') %>">
        <div class="card feature">
          <div class="card-media">
            <img src="<%= asset_path('poster.jpg') %>" alt="poster">
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <h2>Team</h2>
      <ul>
        <li><strong>Bart Mesuere</strong> Postdoc and lead developer</li>
        <li><strong>Felix Van der Jeugt</strong> PhD student</li>
        <li><strong>Peter Dawyndt</strong> P.I.</li>
        <li><strong>Lennart Martens</strong> P.I.</li>
      </ul>
      <strong>Former members</strong>
      <ul>
        <li><strong>Toon Willems</strong> Master's student 2013-2014</li>
        <li><strong>Tom Naessens</strong> Master's student 2014-2015</li>
        <li><strong>Peter Vandamme</strong> Advisor</li>
        <li><strong>Bart Devreese</strong> Advisor</li>
      </ul>
      <p>For indivitual contributions, <a href="https://github.com/unipept/unipept/graphs/contributors">the github contributors page</a> is the most informative.</p>
    </div>
    <div class="col-xs-6">
      <h2>Technology</h2>
      <p>All unipept code is open source and available on <a href="http://github.com/unipept/unipept">github</a>.</p>
      <p>Unipept itself also uses several open source projects:</p>
      <ul>
        <li><a href="https://github.com/rails/rails">Ruby on Rails</a>: web framework</li>
        <li><a href="http://getbootstrap.com">Bootstrap</a>: front-end framework</li>
        <li><a href="http://d3js.org/">D3.js</a>: JavaScript library for manipulating documents based on data</li>
      </ul>
    </div>
  </div>
  <h2>Disclaimer</h2>
  <p>
    We make no warranties regarding the correctness of the data, and disclaim liability for damages resulting from its use.
    </p>
</div>
