<h1>Welcome</h1>

<div class="split">
	
	<div class="split-left no-border">
		<p class="intro">
The Unipept web application supports biodiversity analysis of large and complex metaproteome samples. Its underlying index structure is designed to quickly retrieve all occurrences of a tryptic peptide in UniProtKB records. Taxon-specificity of the tryptic peptide is successively derived from these occurrences using a novel lowest common ancestor approach that is robust against taxonomic misarrangements, misidentifications and inaccuracies. Not taking into account this identification noise would otherwise result in drastic loss of information. This application consists of two basic functionalities: a peptide-based taxonomic identification and a multi-peptide dynamic diversity treemap analysis.
		</p>
	</div>
	
	<div class="split-right">
		<div id="news">
		  <h2>News</h2>
		  <div>
		    <%= render @post %>
		    <p class="pull-right"><%= link_to '> more news', posts_path %></p>
		  </div>
			<div class="visualClear"></div>
		</div>
	</div>
	<div class="visualClear"></div>
</div>


<h2>Single peptide analysis</h2>
<div class="split">
<div class="split-left">
<p>
With single peptide analysis, you can submit a single <em>tryptic peptide</em> that is shorter than <em>8 to 50 residues long</em>. The application will respond with a list of all UniProtKB records wherein the peptide was found along with a complete taxonomic lineage derived from the NCBI taxonomy. These lineages are presented as a comprehensible table and using an interactive tree view.
</p>
</div>
<div class="split-right">
<h3>Try searching for a tryptic peptide</h3>
<%= render 'shared/sequence_search' %>
</div>
<div class="visualClear"></div>
</div>

<h2>Multi-peptide analysis</h2>
<div class="split">
<div class="split-left">
<p>
Multi-peptide analysis helps you analyze lists of tryptic peptides, e.g. extracted from an environmental sample using shotgun tandem mass spectrometric methods. You can submit a list of peptides of which the lowest common ancestors (LCA) will be calculated. These LCAs will be bundled and displayed in an interactive treemap giving you insight into the biodiversity of your sample.
</p>
<p>
Advanced options lets you filter duplicate peptides, equate isoleucine and leucine or export the results to an Microsoft Excel compatible file.
</p>
<h3>Sample data</h3>
<%= render @datasets, :load => true %>
</div>
<div class="split-right">
<h3>Analyze a list of peptides</h3>
<%= render 'shared/sequence_multi_search' %>
</div>
<div class="visualClear"></div>
</div>

<script type="text/javascript">
	$(document).ready(initHome);
</script>