<h1>Welcome</h1>

<div class="row">
    <div class="col-xs-6">
        <p class="intro">
            The Unipept web application supports biodiversity analysis of large and complex metaproteome samples. Its underlying index structure is designed to quickly retrieve all occurrences of a tryptic peptide in UniProtKB records. Taxon-specificity of the tryptic peptide is successively derived from these occurrences using a novel lowest common ancestor approach that is robust against taxonomic misarrangements, misidentifications and inaccuracies. This application consists of four separate functionalities: the <a href="<%= search_single_path %>">Tryptic Peptide Analysis</a>, the <a href="<%= datasets_path %>">Metaproteomics Analysis</a>, the <a href="<%= peptide_finder_path %>">Unique Peptide Finder</a> and the <a href="<%= peptidome_clustering_path %>">Peptidome Clustering</a>.
        </p>
    </div>
    <% unless @post.nil? %>
    <div class="col-xs-6">
        <div id="news">
            <h2>News</h2>
            <div>
                <%= render @post, :well => false %>
                <p class="pull-right"><%= link_to '> more news', posts_path %></p>
            </div>
            <div class="visualClear"></div>
        </div>
    </div>
    <% end %>
</div>

<div class="row features">
    <div class="col-xs-4">
        <a href="<%= search_single_path %>">
            <div class="thumbnail">
                <img src="<%= asset_path('home_feature_single.png') %>" alt="Tryptic Peptide Analysis" width="275" height="275">
                <div class="caption title">
                    <h3>Tryptic Peptide Analysis</h3>
                </div>
                <div class="caption">
                    <p>With tryptic peptide analysis, you can submit a single tryptic peptide that can be 5 to 50 residues long. The application will respond with a list of all UniProtKB records wherein the peptide was found along with a complete taxonomic lineage derived from the <span class="initialism">NCBI</span> taxonomy. These lineages are presented as a comprehensible table and using an interactive tree view.</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-xs-4">
        <a href="<%= datasets_path %>">
            <div class="thumbnail">
                <object data="<%= asset_path('home_feature_multi.svg') %>" type="image/svg+xml"></object>
                <div class="click-catcher"></div>
                <div class="caption title">
                    <h3>Metaproteomics Analysis</h3>
                </div>
                <div class="caption">
                    <p>Metaproteomics analysis helps you analyze lists of tryptic peptides, e.g. extracted from an environmental sample using shotgun tandem mass spectrometric methods. Of these peptides, the lowest common ancestors (<span class="initialism">LCA</span>) will be calculated. These <span class="initialism">LCA</span>s will be bundled and displayed in an interactive treemap giving you insight into the biodiversity of your sample.</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-xs-4">
        <a href="<%= peptide_finder_path %>">
            <div class="thumbnail">
                <object data="<%= asset_path('home_feature_pancore.svg') %>" type="image/svg+xml"></object>
                <div class="click-catcher"></div>
                <div class="caption title">
                    <h3>Unique Peptide Finder</h3>
                </div>
                <div class="caption">
                    <p>The unique peptide finder is an interactive web application that lets you find unique tryptic peptides for a species or genus of your choice. The user friendly application is powered by Uniprot and the refseq genomes or your own set of genomes and lets you download lists of unique peptides, which can be used for targeted proteomics experiments.</p>
                </div>
            </div>
        </a>
    </div>
</div>
<div class="row features">
    <div class="col-xs-4">
        <a href="<%= peptidome_clustering_path %>">
            <div class="thumbnail">
                <object data="<%= asset_path('home_feature_cluster.svg') %>" type="image/svg+xml"></object>
                <div class="click-catcher"></div>
                <div class="caption title">
                    <h3>Peptidome Clustering</h3>
                </div>
                <div class="caption">
                    <p><span class="label label-success">New</span> Peptidome clustering builds on the foundations of the user friendly unique peptide finder interface to let you select a set of genomes of your choice, and calculate similarities between them based on their tryptic peptidome. The result is shown as a similarity matrix and a phylogenetic tree.</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-xs-4">
        <a href="<%= api_apidocs_path %>">
            <div class="thumbnail">
                <div class="feature-documentation">
                    <div class="feature-circle">
                        <span class="glyphicon glyphicon-cloud"></span>
                        <span class="glyphicon glyphicon-transfer"></span>
                    </div>
                </div>
                <div class="click-catcher"></div>
                <div class="caption title">
                    <h3>API Documentation</h3>
                </div>
                <div class="caption">
                    <p><span class="label label-success">New</span> Unipept offers most of its peptide analysis features as a web service. This enables the integration of Unipept functionality into other applications and the creation of batch processing scripts. These documentation pages describe the available features of the <span class="initialism">API</span> and how to best access them.</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-xs-4">
        <a href="<%= api_clidocs_path %>">
            <div class="thumbnail">
                <div class="feature-documentation">
                    <div class="feature-terminal">
                        <span class="feature-terminal-prompt">&gt;<span class="feature-terminal-flicker">_</span></span>
                    </div>
                </div>
                <div class="click-catcher"></div>
                <div class="caption title">
                    <h3>Command Line Interface</h3>
                </div>
                <div class="caption">
                    <p><span class="label label-success">New</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis hendrerit bibendum fringilla. Nulla at lorem nec odio convallis vehicula. In purus nunc, vulputate ut turpis id, interdum lacinia ex. Cras facilisis libero diam, a cursus nisl laoreet tempus. Sed a velit accumsan, ullamcorper ligula eu, elementum nibh.</p>
                </div>
            </div>
        </a>
    </div>
</div>
