<h1>Welcome</h1>

<div class="row">
    <div class="col-xs-6">
        <p class="intro">
            The Unipept web application supports biodiversity analysis of large and complex metaproteome samples. Its underlying index structure is designed to quickly retrieve all occurrences of a tryptic peptide in UniProtKB records. Taxon-specificity of the tryptic peptide is successively derived from these occurrences using a novel lowest common ancestor approach that is robust against taxonomic misarrangements, misidentifications and inaccuracies. Not taking into account this identification noise would otherwise result in drastic loss of information. This application consists of two basic functionalities: a peptide-based taxonomic identification and a multi-peptide dynamic diversity treemap analysis.
        </p>
    </div>
    <% unless @post.nil? %>
    <div class="col-xs-6">
        <div id="news">
            <h2>News</h2>
            <div>
                <%= render @post, :well => false %>
                <p class="pull-right"><%= link_to '> more news', posts_path %></p>
            </div>
            <div class="visualClear"></div>
        </div>
    </div>
    <% end %>
</div>

<div class="row features">
    <div class="col-xs-4">
        <a href="<%= search_single_path %>">
            <div class="thumbnail">
                <img src="/assets/home_feature_single.png" alt="Single Peptide Analysis">
                <div class="caption title">
                    <h3>Single Peptide Analysis</h3>
                </div>
                <div class="caption">
                    <p>This is some text.</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-xs-4">
        <a href="<%= datasets_path %>">
            <div class="thumbnail">
                <object data="/assets/home_feature_multi.svg" type="image/svg+xml"></object>
                <div class="caption title">
                    <h3>Multi-peptide Analysis</h3>
                </div>
                <div class="caption">
                    <p>This is some text.</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-xs-4">
        <a href="<%= pancore_analyze_path %>">
            <div class="thumbnail">
                <object data="/assets/home_feature_pancore.svg" type="image/svg+xml"></object>
                <div class="caption title">
                    <h3>Unique Peptide Finder</h3>
                </div>
                <div class="caption">
                    <p>This is some text.</p>
                </div>
            </div>
        </a>
    </div>
</div>