<h1>Welcome</h1>
<h2>Peptide identification</h2>
<p>Try searching for a tryptic peptide:</p>
<%= render 'shared/sequence_search' %>
<h2>Multi peptide analysis</h2>
<p>Analyze a list of peptides:</p>
<%= render 'shared/sequence_multi_search' %>
<h3>Sample data</h3>
<p>ORNL - Jansson Study on Characterization of the Human Gut Microbial Metaproteome (<%= link_to "project website" , "http://compbio.ornl.gov/human_gut_microbial_metaproteome/", :target => "_blank" %> <%= image_tag("externesite.gif", :alt => "external website")%>)</p>
<ul>
	<li><a href="#" id="s7">Load sample 7</a></li>
	<li><a href="#" id="s8">Load sample 8</a></li>
</ul>

<p>Community proteogenomics reveals insights into the physiology of phyllosphere bacteria (<%= link_to "article website" , "http://www.pnas.org/content/106/38/16428", :target => "_blank" %> <%= image_tag("externesite.gif", :alt => "Blast")%>)</p>
<ul>
	<li><a href="#" id="delmotte">Load phyllosphere dataset</a></li>
</ul>

<p>Morris et al. - Comparative metaproteomics reveals ocean-scale shifts in microbial nutrient utilization and energy transduction (<%= link_to "article website" , "http://www.nature.com/ismej/journal/v4/n5/full/ismej20104a.html", :target => "_blank" %> <%= image_tag("externesite.gif", :alt => "external website")%>)</p>
<ul>
	<li><a href="#" id="marine_sample">Load marine sample</a></li>
</ul>

<script type="text/javascript">
	$(document).ready(function(){
		$("#s7").click(function(){
			$.get('sampledata/sample7_peptides.txt', function(data) {
			  $("#qs").val(data);
			});
			return false;
		});
		$("#s8").click(function(){
			$.get('sampledata/sample8_peptides.txt', function(data) {
			  $("#qs").val(data);
			});
			return false;
		});
<<<<<<< HEAD
		$("#marine_sample").click(function(){
			$.get('sampledata/marine_peptides.txt', function(data) {
=======
		$("#delmotte").click(function(){
			$.get('sampledata/delmotte_peptides.txt', function(data) {
>>>>>>> hotfix/extraData
			  $("#qs").val(data);
			});
			return false;
		});
	 });
</script>