<div class="row">
  <div class="col-xs-6">
    <h1>Welcome</h1>
    <p class="intro">
      Unipept is an open source web application developed at <a href="http://www.ugent.be/en" target="_blank">Ghent University</a> that is designed for metaproteomics data analysis with a focus on <b>interactive datavisualizations</b>. Unipept is powered by an index containing all UniProt entries, a tweaked version of the NCBI taxonomy and a custom <i>lowest common ancestor</i> algorithm. This combination enables a blazingly fast <b>biodiversity analysis</b> of large and complex <b>metaproteome samples</b>. This functionality is also available via an API and a set of command line tools. Next to these core functions, Unipept also has a tool for selecting unique peptides for <b>targeted proteomics</b> and for <b>comparing genomes</b> based on peptide similarity.
    </p>
  </div>
  <% unless @post.nil? %>
    <div class="col-xs-6">
      <div class='card news'>
        <div class='card-title card-title-colored'>
          <h2 class='card-title-text'><%= @post.title %></h2>
          <h3 class='card-subtitle-text'>posted on <%= @post.date %></h3>
        </div>
        <div class='card-supporting-text'>
          <%= @post.content.html_safe %>
        </div>
        <div class="card-actions card-border">
          <%= link_to 'more news', posts_path, class: 'btn-text pull-right' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<br>
<div class="row features">
  <div class="col-xs-4">
    <a href="<%= search_single_path %>">
      <div class="card feature">
        <div class="card-media">
          <img src="<%= asset_path('home_feature_single.png') %>" alt="Tryptic Peptide Analysis">
        </div>
        <div class="card-title card-title-image">
          <h2 class="card-title-text">Tryptic Peptide Analysis</h2>
        </div>
        <div class="card-supporting-text">
          With tryptic peptide analysis, you can submit a single <b>tryptic peptide</b> that can be 5 to 50 residues long. The application will respond with a list of <b>all UniProt entries</b> wherein the peptide was found along with a complete taxonomic lineage derived from the <span class="initialism">NCBI</span> taxonomy. These lineages are presented as a comprehensible table and using an interactive tree view.
        </div>
      </div>
    </a>
  </div>
  <div class="col-xs-4">
    <a href="<%= datasets_path %>">
      <div class="card feature">
        <div class="card-media">
          <object data="<%= asset_path('home_feature_multi.svg') %>" type="image/svg+xml"></object>
          <div class="click-catcher"></div>
        </div>
        <div class="card-title card-title-image">
          <h2 class="card-title-text">Metaproteome Analysis</h2>
        </div>
        <div class="card-supporting-text">
          Metaproteomics analysis helps you analyze <b>lists of tryptic peptides</b>, e.g. extracted from an environmental sample using shotgun tandem mass spectrometric methods. Of these peptides, the lowest common ancestors (<span class="initialism">LCA</span>) will be calculated. These <span class="initialism">LCA</span>s will be bundled and displayed in an interactive treemap giving you insight into the <b>biodiversity of your sample</b>.
        </div>
      </div>
    </a>
  </div>
  <div class="col-xs-4">
    <a href="<%= peptide_finder_path %>">
      <div class="card feature">
        <div class="card-media">
          <object data="<%= asset_path('home_feature_pancore.svg') %>" type="image/svg+xml"></object>
          <div class="click-catcher"></div>
        </div>
        <div class="card-title card-title-image">
          <h2 class="card-title-text">Unique Peptide Finder</h2>
        </div>
        <div class="card-supporting-text">
          The unique peptide finder is an interactive web application that lets you find <b>unique tryptic peptides</b> for a species or genus of your choice. The user friendly application is powered by the UniProt proteomes with the possibility of adding your genomes and lets you download lists of unique peptides, which can be used for <b>targeted proteomics</b> experiments.
        </div>
      </div>
    </a>
  </div>
</div>
<div class="row features">
  <div class="col-xs-4">
    <a href="<%= peptidome_clustering_path %>">
      <div class="card feature">
        <div class="card-media">
          <object data="<%= asset_path('home_feature_cluster.svg') %>" type="image/svg+xml"></object>
          <div class="click-catcher"></div>
        </div>
        <div class="card-title card-title-image">
          <h2 class="card-title-text">Peptidome Clustering</h2>
        </div>
        <div class="card-supporting-text">
          Peptidome clustering builds on the foundations of the user friendly unique peptide finder interface to let you select a <b>set of genomes</b> of your choice, and <b>calculate similarities</b> between them based on their tryptic peptidome. The result is shown as a similarity matrix and a phylogenetic tree.
        </div>
      </div>
    </a>
  </div>
  <div class="col-xs-4">
    <a href="<%= api_apidocs_path %>">
      <div class="card feature">
        <div class="card-media">
          <div class="feature-documentation">
            <div class="feature-circle">
              <span class="glyphicon glyphicon-cloud"></span>
              <span class="glyphicon glyphicon-transfer"></span>
            </div>
          </div>
        </div>
        <div class="card-title card-title-image">
          <h2 class="card-title-text">API Documentation</h2>
        </div>
        <div class="card-supporting-text">
          Unipept offers most of its peptide analysis features as a <b>web service</b>. This enables the integration of Unipept functionality into other applications and the creation of batch processing scripts. These <b>documentation pages</b> describe the available features of the <span class="initialism">API</span>, how to access them and plenty examples.
        </div>
      </div>
    </a>
  </div>
  <div class="col-xs-4">
    <a href="<%= api_clidocs_path %>">
      <div class="card feature">
        <div class="card-media">
          <div class="feature-documentation">
            <div class="feature-terminal">
              <span class="feature-terminal-prompt">&gt;<span class="feature-terminal-flicker">_</span></span>
            </div>
          </div>
        </div>
        <div class="card-title card-title-image">
          <h2 class="card-title-text">CLI Documentation</h2>
        </div>
        <div class="card-supporting-text">
          <span class="label label-success">New</span> The Unipept <b>command line interface</b> (<span class='initialism'>CLI</span>) is a wrapper around the Unipept <span class='initialism'>API</span> that offers an easy way to <b>integrate Unipept</b> functionality into your data processing <b>pipelines and scripts</b>. These pages cover installation and usage instructions, an overview of all available options and several use cases.
        </div>
      </div>
    </a>
  </div>
</div>
