<div class="publications">
  <h1>Publications</h1>
  <p class="lead">This page lists all Unipept peer-reviewed journal articles in reverse-chronological order.</p>

  <div class='card'>
    <div class='card-supporting-text'>
      <h2>High-throughput metaproteomics data analysis with Unipept: <br>a tutorial
        <br>
        <small>Bart Mesuere, Felix Van der Jeugt, Toon Willems, Tom Naessens, Bart Devreese, Lennart Martens, and Peter Dawyndt</small></h2>
      <div class="row">
        <div class="col-xs-9">
          <h3>Abstract</h3>
          <p>In recent years, shotgun metaproteomics has established itself as an important tool to study the composition of complex ecosystems and microbial communities. Two key steps in metaproteomics data analysis are the inference of proteins from the identified peptides, and the determination of the taxonomic origin and function of these proteins. This tutorial therefore introduces the Unipept command line interface (<a href="http://unipept.ugent.be/clidocs" target="_blank">http://unipept.ugent.be/clidocs</a>) as a platform-independent tool for such metaproteomics data analyses. First, a detailed overview is given of the available Unipept commands and their functions. Next, the power of the Unipept command line interface is illustrated using two case studies that analyze a single tryptic peptide, and a set of peptides retrieved from a shotgun metaproteomics experiment, respectively. Finally, the analysis results obtained using these command line tools are compared with the interactive taxonomic analysis that is available on the Unipept website.</p>
          <h3>Citation</h3>
          <p class="citation">
            <span class="authors">Bart Mesuere, Felix Van der Jeugt, Toon Willems, Tom Naessens, Bart Devreese, Lennart Martens, and Peter Dawyndt</span><br>
            <span class="title">High-throughput metaproteomics data analysis with Unipept: A tutorial</span><br>
            <span class="journal">Journal of Proteomics, 2017</span><br>
            <span class="link">
             <span class="glyphicon glyphicon-link"></span> <a target="_blank" href="http://dx.doi.org/10.1016/j.jprot.2017.05.022">doi:10.1016/j.jprot.2017.05.022</a>
            </span>
            <span class="link">
               <span class="glyphicon glyphicon-link"></span> <a target="_blank" href="https://scholar.google.be/scholar?q=high+throughput+unipept+tutorial&btnG=&hl=en&as_sdt=0%2C5">Google Scholar</a>
            </span>
          </p>
        </div>
        <div class="col-xs-3">
          <a href="http://dx.doi.org/10.1016/j.jprot.2017.05.022" class="thumbnail">
            <img src="<%= asset_path('publications-2017.jpg') %>" alt="Publication page 1">
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class='card'>
    <div class='card-supporting-text'>
      <h2>The unique peptidome: Taxon-specific tryptic peptides <br>as biomarkers for targeted metaproteomics
        <br>
        <small>Bart Mesuere, Felix Van der Jeugt, Bart Devreese, Peter Vandamme, and Peter Dawyndt</small></h2>
      <div class="row">
        <div class="col-xs-9">
          <h3>Abstract</h3>
          <p>The Unique Peptide Finder (<a href="http://unipept.ugent.be/peptidefinder" target="_blank">http://unipept.ugent.be/peptidefinder</a>) is an interactive web application to quickly hunt for tryptic peptides that are unique to a particular species, genus, or any other taxon. Biodiversity within the target taxon is represented by a set of proteomes selected from a monthly updated list of complete and nonredundant UniProt proteomes, supplemented with proprietary proteomes loaded into persistent local browser storage. The software computes and visualizes pan and core peptidomes as unions and intersections of tryptic peptides occurring in the selected proteomes. In addition, it also computes and displays unique peptidomes as the set of all tryptic peptides that occur in all selected proteomes but not in any UniProt record not assigned to the target taxon. As a result, the unique peptides can serve as robust biomarkers for the target taxon, for example, in targeted metaproteomics studies. Computations are extremely fast since they are underpinned by the Unipept database, the lowest common ancestor algorithm implemented in Unipept and modern web technologies that facilitate in-browser data storage and parallel processing.</p>
          <h3>Citation</h3>
          <p class="citation">
            <span class="authors">Bart Mesuere, Felix Van der Jeugt, Bart Devreese, Peter Vandamme, and Peter Dawyndt</span><br>
            <span class="title">The unique peptidome: Taxon-specific tryptic peptides as biomarkers for targeted metaproteomics</span><br>
            <span class="journal">Proteomics, 2016, 16 (17), pp 2313–2318</span><br>
            <span class="link">
             <span class="glyphicon glyphicon-link"></span> <a target="_blank" href="http://dx.doi.org/10.1002/pmic.201600023">doi:10.1002/pmic.201600023</a>
            </span>
            <span class="link">
               <span class="glyphicon glyphicon-link"></span> <a target="_blank" href="https://scholar.google.com/scholar?cluster=10033728957067620724&hl=en&as_sdt=0,5">Google Scholar</a>
            </span>
          </p>
        </div>
        <div class="col-xs-3">
          <a href="http://dx.doi.org/10.1002/pmic.201600023" class="thumbnail">
            <img src="<%= asset_path('publications-2016b.jpg') %>" alt="Publication page 1">
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class='card'>
    <div class='card-supporting-text'>
      <h2>Unipept Web Services for Metaproteomics Analysis
        <br>
        <small>Bart Mesuere, Toon Willems, Felix Van der Jeugt, Bart Devreese, Peter Vandamme, and Peter Dawyndt</small></h2>
      <div class="row">
        <div class="col-xs-9">
          <h3>Abstract</h3>
          <p>Unipept is an open source web application that is designed for metaproteomics analysis with a focus on interactive datavisualization. It is underpinned by a fast index built from UniProtKB and the NCBI taxonomy that enables quick retrieval of all UniProt entries in which a given tryptic peptide occurs. Unipept version 2.4 introduced web services that provide programmatic access to the metaproteomics analysis features. This enables integration of Unipept functionality in custom applications and data processing pipelines. Availability and Implementation The web services are freely available at <a href="http://api.unipept.ugent.be" target="_blank">http://api.unipept.ugent.be</a> and are open sourced under the MIT license.</p>
          <h3>Citation</h3>
          <p class="citation">
            <span class="authors">Bart Mesuere, Toon Willems, Felix Van der Jeugt, Bart Devreese, Peter Vandamme, and Peter Dawyndt</span><br>
            <span class="title">Unipept Web Services for Metaproteomics Analysis</span><br>
            <span class="journal">Bioinformatics, 2016, 32 (11), pp 1746-1748</span><br>
            <span class="link">
             <span class="glyphicon glyphicon-link"></span> <a target="_blank" href="http://dx.doi.org/10.1093/bioinformatics/btw039">doi:10.1093/bioinformatics/btw039</a>
            </span>
            <span class="link">
               <span class="glyphicon glyphicon-link"></span> <a target="_blank" href="https://scholar.google.be/scholar?cluster=6023517943371055318&hl=en&as_sdt=0,5">Google Scholar</a>
            </span>
          </p>
        </div>
        <div class="col-xs-3">
          <a href="http://dx.doi.org/10.1093/bioinformatics/btw039" class="thumbnail">
            <img src="<%= asset_path('publications-2016.jpg') %>" alt="Publication page 1">
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class='card'>
    <div class='card-supporting-text'>
      <h2>The Unipept Metaproteomics Analysis Pipeline
        <br>
        <small>Bart Mesuere, Griet Debyser, Maarten Aerts, Bart Devreese, Peter Vandamme, and Peter Dawyndt</small></h2>
      <div class="row">
        <div class="col-xs-9">
          <h3>Abstract</h3>
          <p>Unipept (<a href="http://unipept.ugent.be">http://unipept.ugent.be</a>) is a web application that offers a user-friendly way to explore the biodiversity of complex metaproteome samples by providing interactive visualizations. In this article, the updates and changes to Unipept since its initial release are presented. This includes the addition of interactive sunburst and treeview visualizations to the multipeptide analysis, the foundations of an application programming interface (API) and a command line interface, updated data sources, and the open-sourcing of the entire application under the MIT license.</p>
          <h3>Citation</h3>
          <p class="citation">
            <span class="authors">Bart Mesuere, Griet Debyser, Maarten Aerts, Bart Devreese, Peter Vandamme, and Peter Dawyndt</span><br>
            <span class="title">The Unipept Metaproteomics Analysis Pipeline</span><br>
            <span class="journal">Proteomics, 2015, 15 (8), pp 1437–1442</span><br>
            <span class="link">
             <span class="glyphicon glyphicon-link"></span> <a target="_blank" href="http://dx.doi.org/10.1002/pmic.201400361">doi:10.1002/pmic.201400361</a>
            </span>
            <span class="link">
               <span class="glyphicon glyphicon-link"></span> <a target="_blank" href="https://scholar.google.be/scholar?cluster=4081421507601531351&hl=en&as_sdt=0,5">Google Scholar</a>
            </span>
          </p>
        </div>
        <div class="col-xs-3">
          <a href="http://dx.doi.org/10.1002/pmic.201400361" class="thumbnail">
            <img src="<%= asset_path('publications-2015.jpg') %>" alt="Publication page 1">
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class='card'>
    <div class='card-supporting-text'>
      <h2>Unipept: Tryptic Peptide-Based Biodiversity Analysis of Metaproteome Samples
    <br>
        <small>Bart Mesuere, Bart Devreese, Griet Debyser, Maarten Aerts, Peter Vandamme, and Peter Dawyndt</small></h2>
      <div class="row">
        <div class="col-xs-9">
          <h3>Abstract</h3>
          <p>The Unipept web application (<a href="http://unipept.ugent.be">http://unipept.ugent.be</a>) supports biodiversity analysis of large and complex metaproteome samples using tryptic peptide information obtained from shotgun MS/MS experiments. Its underlying index structure is designed to quickly retrieve all occurrences of a tryptic peptide in UniProt entries. Taxon-specificity of the tryptic peptide is successively derived from these occurrences using a novel lowest common ancestor approach that is robust against taxonomic misarrangements, misidentifications, and inaccuracies. Not taking into account this identification noise would otherwise result in drastic loss of information. Dynamic treemaps visualize the biodiversity of metaproteome samples, which eases the exploration of samples with highly complex compositions. The potential of Unipept to gain novel insights into the biodiversity of a sample is evaluated by reanalyzing publicly available metaproteome data sets taken from the bacterial phyllosphere and the human gut.</p>
          <h3>Citation</h3>
          <p class="citation">
            <span class="authors">Bart Mesuere, Bart Devreese, Griet Debyser, Maarten Aerts, Peter Vandamme, and Peter Dawyndt</span><br>
            <span class="title">Unipept: Tryptic Peptide-Based Biodiversity Analysis of Metaproteome Samples</span><br>
            <span class="journal">J. Proteome Res., 2012, 11 (12), pp 5773–5780</span><br>
            <span class="link">
             <span class="glyphicon glyphicon-link"></span> <a target="_blank" href="http://dx.doi.org/10.1021/pr300576s">doi:10.1021/pr300576s</a>
            </span>
            <span class="link">
               <span class="glyphicon glyphicon-link"></span> <a target="_blank" href="https://scholar.google.be/scholar?cluster=13083723326591523916&hl=en&as_sdt=2005&sciodt=0,5">Google Scholar</a>
            </span>
          </p>
        </div>
        <div class="col-xs-3">
          <a href="http://dx.doi.org/10.1021/pr300576s" class="thumbnail">
            <img src="<%= asset_path('publications-2012.jpg') %>" alt="Publication page 1">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
