<div class="apidocs casestudies row">
  <div class="col-xs-9">
    <h1 class='api-title'>
      <span class="initialism">UMGAP</span>
      Case Studies
    </h1>
    <p class='lead'>
      This page explores several uses of the Unipept MetaGenomics Analysis Pipeline.
    </p>

    <div class="card">
      <div class="card-title card-title-colored"><h2 class="card-title-text">Introduction</h2></div>
      <div class="card-supporting-text">
        <p>
          The Unipept Metagenomics Analysis Pipeline (<span class="initialism">UMGAP</span>) is a tool for mapping (short) metagenomics reads to taxa,
          rivalling state of the art alternatives such as Kraken (2014)
          with the additional benefit of species level identification.
          <span class="initialism">UMGAP</span> achieves this by transforming the mapping task into a metaproteomics problem
          by using various alternative gene predictors on the metagenomics reads
          and processing the resulting data with the existing Unipept Metaproteomics Analysis Pipeline.
          Each step in <span class="initialism">UMGAP</span> is highly configurable.
        </p>
        <p>
          These case studies assume you have already followed the
          <a href='<%= api_umgap_casestudies_path %>#installation'>installation instructions</a>.
        </p>
      </div>
    </div>

    <div class='card'>
      <div class='card-title card-title-colored'>
        <h2 class='card-title-text'>Preconfigured analysis of a metagenomics dataset</h2>
      </div>
      <div class='card-supporting-text'>
        The easiest way to use UMGAP for a taxonomic analysis of a metagenomic dataset
        is with one of the 6 preconfigured pipelines.
        This case study walks you through the complete analysis of 2 short FASTQ files.
      </div>
      <div class="card-actions card-border">
        <a href='<%= api_umgap_casestudy_basic_path %>' class='btn-text pull-right'>get started</a>
      </div>
    </div>

    <div class='card'>
      <div class='card-title card-title-colored'>
        <h2 class='card-title-text'>Complete configuration walkthrough</h2>
      </div>
      <div class='card-supporting-text'>
        This case study shows how to use UMGAP for the taxonomic analysis of a metagenomics dataset.
        It shows every step of the pipeline in detail, refering to the documentation for alternative options.
      </div>
      <div class="card-actions card-border">
        <a href='<%= api_umgap_casestudy_advanced_path %>' class='btn-text pull-right'>get started</a>
      </div>
    </div>

    <div class='card'>
      <div class='card-title card-title-colored'>
        <h2 class='card-title-text'>Comparative analysis walkthrough</h2>
      </div>
      <div class='card-supporting-text'>
        This case study shows how to use UMGAP for the comparative taxonomic analysis of multiple metagenomics datasets.
        Using a preconfigured pipeline and the visualize script, we show how to create a comparative graphic.
      </div>
      <div class="card-actions card-border">
        <a href='<%= api_umgap_casestudy_comparative_path %>' class='btn-text pull-right'>get started</a>
      </div>
    </div>
  </div>

  <div class="col-xs-3">
    <%= render 'api/shared/sidebar' %>
  </div>
</div>
