<h1>Pan and core proteome</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nunc felis, sodales vel scelerisque nec, viverra sit amet elit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent a ligula ut erat pharetra hendrerit. Vivamus ac mauris massa, a rutrum felis. Mauris placerat massa ut neque lacinia sed consectetur nisi mattis. Aenean arcu nunc, eleifend eu tincidunt sit amet, congue a augue. Sed sed eleifend nisi. Vestibulum ac eros vel velit fringilla aliquam. Pellentesque ipsum leo, suscipit quis fermentum mollis, adipiscing nec libero. Phasellus sed est libero. In hac habitasse platea dictumst. Donec id orci dui, ut rhoncus libero. Fusce consequat risus in felis luctus iaculis porttitor dui luctus. Ut lobortis neque eget neque fermentum quis lacinia felis rutrum.</p>

<div id="buttons-pancore"></div>

<div id="pancore_graph"></div>

<div class="split">
  <div class="split-left">
    <p class="intro">
      Select a species for which you want to analyze the proteome and click the load button.
    </p>
    <%= form_tag(:pancore_analyze, :method => "get", :class => "form-inline") do %>
    <%= select_tag(:species_id, options_for_select(@species, params[:species_id])) %>
    <%= button_tag(raw("Load species <i class='icon-chevron-right icon-white'></i>"), :type => "button", :class => "btn btn-primary", :id => "load_species_proteome", :"data-loading-text" => "Loading...") %>
    <% end %>
    <div id="treeView">
      <div class="input-append" id="treeSearchDiv">
      <%= search_field_tag(:treeSearch, "", :placeholder => "type to filter the tree by name or bioproject id") %><span class="add-on"><i class="icon-search"></i></span>
      </div>
    </div>
  </div>

  <div class="split-right">
    <span id="table-message"><i class="icon-chevron-left"></i> Select a species to analyze and click the load button.</span>
    <table class="table table-condensed" id="genomes_table">
      <thead>
        <tr>
          <th class="handle"></th>
          <th class="genome">Genome</th>
          <th class="status">Status</th>
          <th class="action"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
        </tr>
      </tbody>
    </table>
    <div class="visualClear"></div>
  </div>
</div>

<script type="text/javascript">
  $(function () {
    if (typeof(Worker)!=="undefined") {
      init_pancore();
      init_selection_tree(<%= raw(@genomes) %>, <%= raw(@taxa) %>);
    } else {
      error(null, "Sorry, this page uses Web Workers, an advanced JavaScript technology that's not supported by your browser. Try using an up to date version of Google Chrome, Firefox or Internet Explorer 10.")
    }
  });
</script>

<%= render 'shared/save_image_modal' %>
