<h1>Pan and core proteome</h1>
<br/>
<%= form_tag(:pancore_analyze, :method => "get", :class => "form-inline") do %>
<%= select_tag(:species_id, options_for_select(@species, params[:species_id])) %>
<%= button_tag(raw("Load"), :type => "button", :class => "btn btn-primary", :id => "load_proteome", :"data-loading-text" => "Loading...") %>
<% end %>

<h2>Chart</h2>
<div id="pancore_graph"></div>

<h2>Similarity matrix</h2>
<div id="sim_matrix"></div>

<script id="worker1" type="javascript/worker">
// This script won't be parsed by JS engines
// because its type is javascript/worker.

// Paste worker code here
</script>

<script type="text/javascript">
  var genomes = <%= raw @genomes %>
  var sims = <%= raw @sims %>
  var order = <%= raw @order %>
  $(function () {
    if (typeof(Worker)!=="undefined") {
      init_pancore();
    } else {
      error(null, "Sorry, this page uses Web Workers, an advanced JavaScript technology that's not supported by your browser. Try using an up to date version of Google Chrome, Firefox or Internet Explorer 10.")
    }
    init_sim_matrix(genomes, sims, order);
  });
</script>