<% well = false unless defined? well %>
<% if well %>
<div class="well well-small">
<% end %>

<h3>
  <%= post.title %>
  <small> posted on <%= post.date %></small>
    <% if session[:admin] %>
        <%= link_to raw("<span class='glyphicon glyphicon-pencil'></span> Edit"), edit_post_path(post), :class => 'btn btn-default btn-xs' %>
        <%= link_to raw("<span class='glyphicon glyphicon-trash'></span> Delete"), post, data: {confirm: 'Are you sure?'}, :method => :delete, :class => 'btn btn-xs btn-danger' %>
    <% end %>
</h3>

<%= post.content.html_safe %>

<% if well %>
</div>
<% end %>