<h3>
  <%= post.title %>
  <small> posted on <%= post.date %></small>
</h3>

<%= post.content.html_safe %>

<% if session[:admin] %>
	<br/>
	<%= link_to 'Edit', edit_post_path(post) %> |
	<%= link_to 'Delete', post, :confirm => 'Are you sure?', :method => :delete %>
<% end %>