<div class="card news">
  <div class='card-title card-title-colored'>
    <h2 class='card-title-text'><%= post.title %></h2>
    <h3 class='card-subtitle-text'>posted on <%= post.date %></h3>
  </div>
  <div class='card-supporting-text'>
    <%= post.content.html_safe %>
  </div>
  <% if user_signed_in? && current_user.admin? %>
    <div class="card-actions card-border">
      <%= link_to raw("<span class='glyphicon glyphicon-pencil'></span> Edit"), edit_post_path(post), :class => 'btn btn-default' %>
      <%= link_to raw("<span class='glyphicon glyphicon-trash'></span> Delete"), post, data: {confirm: 'Are you sure?'}, :method => :delete, :class => 'btn btn-danger' %>
    </div>
  <% end %>
</div>
