<div id='topbar'>
	<% if session[:cas_user] %>
	<div id="user">
		<ul>
	  	<li class="separator"><i class="icon-user"></i> <%= session[:cas_user] %></li>
			<li><a href="/cas/logout">Sign out</a></li>
	  </ul>
	</div>
	<% else %>
	<div id='user'><ul><li><i class="icon-lock"></i> <a href='/cas/auth'>Sign in</a></li></ul></div>
	<% end %>
</div>

<header id='header'>
	<div id='headerleft'>
		<h1>
			<% logo = image_tag("universiteit_gent.gif", :alt => "Ghent University", :height => "68px", :width => "95px") %>
			<%= link_to(logo, "http://www.ugent.be", :title => "Ghent University") %>
		</h1>
		<h2>
			<%= link_to("Unipept", root_path) %>
		</h2>
	</div>
	<div id='headerright'>
		<div id="utility">
			<ul>
				<li class="separator"><%= link_to("Contact", contact_path, :title => "Contact") %></li>
				<li><%= link_to("About", about_path, :title => "About") %></li>
			</ul>
		</div>
	</div>
</header>
<nav id="subbar">
	<ul>
		<li><%= link_to("Home", root_path) %></li>
		<li><%= link_to("Datasets", datasets_path) %></li>
		<li><%= link_to("About", about_path) %></li>
		<li><%= link_to("Contact", contact_path) %></li>
		<% if session[:admin] %><li><%= link_to("Admin", admin_path) %></li><% end %>
	</ul>
</nav>
