<div id='topbar'>
  <% if user_signed_in? %>
  <div id="user">
    <ul>
      <li class="separator"><span class="glyphicon glyphicon-user"></span> <%= current_user.username %></li>
      <li><%= link_to("Sign out", destroy_user_session_path, :method => :delete) if Rails.application.config.unipept_enable_auth %></li>
    </ul>
  </div>
  <% else %>
  <div id='user'><ul><li><span class="glyphicon glyphicon-lock"></span> <%= link_to("Sign in", new_user_session_path) %></li></ul></div>
  <% end %>
</div>

<header id='header'>
  <div id='headerleft'>
    <h1>
      <% logo = image_tag("universiteit_gent.png", :alt => "Ghent University", :height => "69", :width => "95") %>
      <%= link_to(logo, "http://www.ugent.be", :title => "Ghent University") %>
    </h1>
    <h2>
      <%= link_to("Unipept", root_path) %>
    </h2>
  </div>
  <div id='headerright'>
    <div id="utility">
      <ul>
        <li class="separator"><%= link_to("Contact", contact_path, :title => "Contact") %></li>
        <li><%= link_to("About", about_path, :title => "About") %></li>
      </ul>
    </div>
  </div>
</header>
<nav id="subbar">
  <ul>
    <li><%= link_to("Home", root_path) %></li>
    <li><%= link_to("Tryptic Peptide Analysis", search_single_path) %></li>
    <li><%= link_to("Metaproteomics Analysis", datasets_path) %></li>
    <li><%= link_to("Peptidome Analysis", pancore_analyze_path) %></li>
    <% if user_signed_in? && current_user.is_admin? %><li><%= link_to("Admin", admin_path) %></li><% end %>
  </ul>
</nav>
