<header class='header'>
  <div class="header-row">
    <span class="header-title"><%= link_to("Unipept", root_path) %></span>
    <div class="header-spacer"></div>
    <nav class="header-navigation">
      <%= link_to("Publications", publications_path, class: "header-navigation-link") %>
      <%= link_to("About", about_path, class: "header-navigation-link") %>
      <% if user_signed_in? %>
        <%= link_to("Sign out", destroy_user_session_path, :method => :delete, class: "header-navigation-link") if Rails.application.config.unipept_enable_auth %>
      <% else %>
        <%= link_to(new_user_session_path, class: "header-navigation-link header-btn-login btn-icon") do %>
          <span class="glyphicon glyphicon-lock"></span>
        <% end %>
      <% end %>
    </nav>
  </div>
  <div class="header-row">
    <nav class="header-navigation">
      <%= link_to("Tryptic Peptide Analysis", search_single_path, class: "header-navigation-link" + (@header_class == "TPA" ? ' active' : '')) %>
      <%= link_to("Metaproteomics Analysis", datasets_path, class: "header-navigation-link" + (@header_class == "MPA" ? ' active' : '')) %>
      <%= link_to("Peptidome Analysis", pancore_analyze_path, class: "header-navigation-link" + (@header_class == "peptidome" ? ' active' : '')) %>
      <%= link_to("API", api_apidocs_path, class: "header-navigation-link" + (@header_class == "API" ? ' active' : '')) %>
      <%= link_to("CLI", api_clidocs_path, class: "header-navigation-link" + (@header_class == "CLI" ? ' active' : '')) %>
      <%= link_to("Metagenomics", api_umgap_path, class: "header-navigation-link" + (@header_class == "metagenomics" ? ' active' : '')) %>
    </nav>
  </div>
</header>
