<!DOCTYPE html>
<html>
<head>
  <title><%=title%></title>
  <%= render 'layouts/stylesheets' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id='container'>
	<%= render 'layouts/topbar' %>
	<%= render 'layouts/header' %>
	<div id='breadcrumb' class='swapUnderline'>
		<span id='breadcrumbs-you-are-here'>You are here:</span> 
		<%= link_to("Home", root_path, :class => "br-act") %>
	</div>
	<div class='visualClear' id='clear-space-before-wrapper-table'>
		<!-- -->
	</div>
	<div id='main'>
		<%= render 'layouts/navigation' %>
		<section id='content' class='normal'>
			<div class='documentActions'>
				<ul>
					<li>
						<% img = image_tag("print_icon.gif", :alt => "Print", :title => "Print", :id => "icon-print") %>
						<%= link_to(img, "javascript:this.print();") %>
					</li>
				</ul>
			</div>
			<%= yield %>
		</section>
	</div>
</div>
<div class='visualClear'></div>
<div id='footer-wrap'>
	<%= render 'layouts/footer' %>
</div>
</body>
</html>