<!DOCTYPE html>
<html>
<head>
    <title><%=title%></title>

    <%= render 'layouts/stylesheets' %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>

    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="application-name" content="Unipept">
    <meta name="theme-color" content="#104B7D">
    <meta name="msapplication-TileColor" content="#FFB300"/>
    <meta name="msapplication-TileImage" content="logo-ts.png"/>

    <link rel="icon" sizes="192x192" href="logo.png">
    <link rel="apple-touch-icon-precomposed" href="logo.png"/>
    <link rel="shortcut icon" href="/favicon.ico" />

    <% if Rails.application.config.unipept_analytics %>
    <!-- Google Analytics -->
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '<%= Rails.application.config.unipept_analytics_key %>']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
    <% end %>

</head>
<body>
<div class='container main'>
    <%= render 'layouts/header' %>

    <div class='content'>

    <!-- message of the day -->
    <% unless @motd.nil? %>
        <div class="alert alert-info">
      	<strong>Message of the Day: </strong><%= @motd %>
        </div>
    <% end %>

    <!-- flash messages -->
    <div id="messages">
        <!--[if lt IE 9]>
        <div class='alert alert-danger'><strong>Oh snap!</strong> The browser you are using is not supported by this website. Please use Google Chrome, Firefox or Internet Explorer 9 or higher.</div>
        <![endif]-->

        <% if Rails.env.development? %>
            <div class="alert alert-info">
              <strong>Development server: </strong>This is the development version of UniPept. Please use the website at <a href="http://unipept.ugent.be" class="alert-link">Unipept.UGent.be</a> for more stable results.
            </div>
        <% end %>

        <% flash.each do |key, value| %>
            <% unless value.nil? %>
                <%= content_tag(:div, raw("<strong>Heads up!</strong> ")+value, :class => "alert alert-info") if key == "notice" %>
                <%= content_tag(:div, raw("<strong>Oh snap!</strong> ")+value, :class => "alert alert-danger") if key == "error" %>
                <%= content_tag(:div, raw("<strong>Holy guacamole!</strong> ")+value, :class => "alert-warning") if key == "alert" %>
                <%= content_tag(:div, raw("<strong>Great!</strong> ")+value, :class => "alert alert-success") if key == "success" %>
            <% end %>
        <% end %>
    </div>

    <!-- actual page content -->
    <%= yield %>

    <div class="visualClear"><!-- --></div>
    <%= debug(params) if Rails.env.development? %>
    </div>
    <div id="footerpush"></div>
</div>
<div class="container footer-wrap">
    <%= render 'layouts/footer' %>
</div>
</body>
</html>