Peptides matched: <%= @sequences.length %> </br>
EC numbers found: <%= @grouped_ecs.length %> </br>
Pathways found: <%= @pathways.length %> </br>

<div class="split">
<div class="split-left">
  <h3>EC numbers</h3>
  <ul>
  <% for @ec in @grouped_ecs do %>
    <li><%= @ec[0] %>: <%= @ec[1] %></li>
  <% end %>
  </ul>
</div>
<div class="split-right">
  <h3>Pathways</h3>
  <ul>
    <% for @pathway in @pathways do %>
      <li><a target="_blank" href="http://www.genome.jp/kegg-bin/show_pathway?scale=1.0&map=<%= @pathway[0] %>&multi_query=<%= @pathway[1].join("+%23fffe00%0D%0A") %>+%23fffe00%0D%0A"><%= @pathway[0] %></a>: <%= @pathway[1].length %></li>
    <% end %>
  </ul>
</div>
<div class="visualClear"></div>
</div>