<h1><%= @title %></h1>
<div class="row">
    <div class="col-xs-9">
        <p><%= @intro_text %></p>
        <% if @prideURL.present? %>
          <p>This dataset was loaded from <span class="initialism">PRIDE</span>. <%= link_to "View in PRIDE" , @prideURL, :target => "_blank" %> <span class='glyphicon glyphicon-share-alt'></span></p>
        <% end %>
    </div>
    <div class="col-xs-3 text-right">
        <%= form_tag(:sequence_multi_search, :method => "post", :class => "form-inline") do %>
            <%= hidden_field_tag(:qs, @p[:qs]) %>
            <%= hidden_field_tag(:il, @p[:il]) %>
            <%= hidden_field_tag(:dupes, @p[:dupes]) %>
            <%= hidden_field_tag(:missed, @p[:missed]) %>
            <%= hidden_field_tag(:export, 1) %>
            <%= hidden_field_tag(:nonce, "") %>
            <%= hidden_field_tag(:search_name, @p[:search_name])%>
            <%= button_tag(raw("<span class='glyphicon glyphicon-download'></span> Download these results"), :type => "submit", :class => "btn btn-primary", :"data-loading-text" => raw("<span class='glyphicon glyphicon-time'></span> Please wait..."), :id => "downloadDataset" ) %>
        <% end %>
    </div>
</div>

<% if @number_found > 0 %>
    <div id="buttons"></div>
    <ul class="nav nav-tabs" id="viz-tabs">
        <li class="active"><a href="#sunburstWrapper" data-toggle="tab">Sunburst</a></li>
        <li><a href="#d3TreeMapWrapper" data-toggle="tab">Treemap</a></li>
        <li><a href="#d3TreeViewWrapper" data-toggle="tab">Treeview</a></li>
    </ul>
    <div class="tab-content multi-search">
        <div class="tab-pane active" id="sunburstWrapper">
            <h2 class="ghead">
              <span class="dir">
                <a class="btn btn-xs btn-default" id="sunburst-reset" title="reset visualisation"><i class="glyphicon glyphicon-repeat"></i></a>
              </span>
              <span class="dir text">Click a slice to zoom in and the center node to zoom out</span>
            </h2>
            <div id="sunburst">
                <div id="sunburstSettings">
                    <h4>settings</h4>
                    <div class="checkbox">
                        <label title="Enabling this will assign fixed colors to taxa making it easier to compare samples.">
                          <input type="checkbox" id="colorswap-checkbox"> Use fixed colors
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="d3TreeMapWrapper">
            <h2 class="ghead">
              <span class="dir">
                <a class="btn btn-xs btn-default" id="treemap-reset" title="reset visualisation"><i class="glyphicon glyphicon-repeat"></i></a>
              </span>
              <span class="dir text">Click a square to zoom in and right click to zoom out</span>
            </h2>
            <div id="d3TreeMap"></div>
        </div>
        <div class="tab-pane" id="d3TreeViewWrapper">
            <h2 class="ghead">
              <span class="dir">
                <a class="btn btn-xs btn-default" id="treeview-reset" title="reset visualisation"><i class="glyphicon glyphicon-repeat"></i></a>
              </span>
              <span class="dir text">Scroll to zoom, drag to pan, click a node to expand, right click a node to set as root</span>
            </h2>
            <div id="d3TreeView"></div>
        </div>
    </div>
<% end %>

<ul class="nav nav-tabs" id="outline-mismatch-tabs">
    <li class="active"><a href="#outline" data-toggle="tab">Hierarchical outline</a></li>
    <li><a href="#mismatches" data-toggle="tab">Mismatches</a></li>
</ul>
<div class="tab-content multi-search">
    <div class="tab-pane active" id="outline">
        <div class="input-group" id="tree_search_group">
            <%= search_field_tag(:tree_search, "", :placeholder => "search for an organism...", :class => "form-control") %>
            <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
        </div>
        <div class="visualClear"></div>
        <div id="searchtree" class="treeView multi"></div>
        <div id="tree_data"><p>Click on a node in the tree to see the peptides associated with that organism.</p></div>
    </div>
    <div class="tab-pane" id="mismatches">
        <% if @json_missed.length > 2 %>
        <div class="row">
  <div class="col-md-6">
            <ul class="mismatches">
            </ul>
            </div>
              <div class="col-md-6">
                <div id="copy-missed" class="zero-clipboard"><span class="btn-clipboard">Copy</span></div>
                <div class="well">
                  <h3>Sorry,</h3>
                  <p>We didn't manage to find some of your peptides. You can <strong><span class="initialism">BLAST</span></strong> them by clicking the links on the left or <strong>copy</strong> them to your clipboard with the top right link.</p>
                </div>
              </div>
            </div>
        <% else %>
            <p>There are no mismatches, we found all your peptides!</p>
        <% end %>
    </div>
</div>

<% if @number_found > 0 %>
<script type="text/javascript">
    var data = <%= raw(@json_tree)%>;
    var sequences = <%= raw(@json_sequences)%>;
    var missed = <%= raw(@json_missed)%>

    $(function () {
        constructMultisearch({
            data : data,
            equateIL : <%=@equate_il %>,
            missed : missed,
            sequences : sequences});
    });
</script>
<% end %>

<%= render 'shared/save_image_modal' %>
