<% if @search_name != "" %>
<h1>Results of <%= @search_name %></h1>
<% else %>
<h1>Results</h1>
<% end %>
<p><%= @number_found %> out of <%= pluralize(@number_searched_for, "peptide") %> were matched. 

<% if @filter_duplicates || @equate_il %>
(<%= "peptides were deduplicated" if @filter_duplicates %><%= ", " if @filter_duplicates && @equate_il %><%= "I and L residues were equated" if @equate_il %>)
<% end %>

<% if @number_found > 0 %>
<h2>Treemap</h2>
<div id="treeMap"></div>

<h2>List</h2>
<%= search_field_tag(:jstree_search, "", :size => 70, :placeholder => "search the tree...") %>
<div id="jstree"></div>
<div id="jstree_data"><p>Click a node to see the peptides.</p></div>
<% end %>

<% if @misses.size > 0 %>
<div class="visualClear"><!-- --></div>
<h2>Blast mismatches</h2>
<ul>
	<% for @seq in @misses do %>
	<li><%= link_to @seq , "http://blast.ncbi.nlm.nih.gov/Blast.cgi?PAGE_TYPE=BlastSearch&SET_SAVED_SEARCH=on&USER_FORMAT_DEFAULTS=on&PAGE=Proteins&PROGRAM=blastp&QUERY="+@seq+"&GAPCOSTS=11%201&EQ_MENU=Enter%20organism%20name%20or%20id--completions%20will%20be%20suggested&DATABASE=nr&BLAST_PROGRAMS=blastp&MAX_NUM_SEQ=100&SHORT_QUERY_ADJUST=on&EXPECT=10&WORD_SIZE=3&MATRIX_NAME=BLOSUM62&COMPOSITION_BASED_STATISTICS=2&SHOW_OVERVIEW=on&SHOW_LINKOUT=on&ALIGNMENT_VIEW=Pairwise&MASK_CHAR=2&MASK_COLOR=1&GET_SEQUENCE=on&NEW_VIEW=on&NUM_OVERVIEW=100&DESCRIPTIONS=100&ALIGNMENTS=100&FORMAT_OBJECT=Alignment&FORMAT_TYPE=HTML&OLD_BLAST=false", :target => "_blank" %> <%= image_tag("externesite.gif", :alt => "Blast")%></li>
	<% end %>
</ul>
<% end %>

<% if @number_found > 0 %>
<!-- JIT Library File --> 
<!--[if IE]><%= javascript_include_tag "jit/Extras/excanvas.js"%><![endif]-->
<%= javascript_include_tag "jit/jit-yc.js", "multi_search.js", "jstree/jquery.jstree" %>
<script type="text/javascript">
	window.onload=init(<%= raw(@root.to_json)%>, <%=@equate_il %>);
</script>
<% end %>