<h1><%= @title %></h1>
<div class="row">
  <div class="col-xs-9">
    <p><%= @intro_text %></p>
    <% if @pride_url.present? %>
      <p>This dataset was loaded from <span class="initialism">PRIDE</span>. <%= link_to "View in PRIDE" , @pride_url, :target => "_blank" %> <span class='glyphicon glyphicon-share-alt'></span></p>
    <% end %>
  </div>
  <div class="col-xs-3 text-right">
    <%= form_tag(:sequence_multi_search, :method => "post", :class => "form-inline") do %>
      <%= hidden_field_tag(:qs, @p[:qs]) %>
      <%= hidden_field_tag(:il, @p[:il]) %>
      <%= hidden_field_tag(:dupes, @p[:dupes]) %>
      <%= hidden_field_tag(:missed, @p[:missed]) %>
      <%= hidden_field_tag(:export, 1) %>
      <%= hidden_field_tag(:nonce, "") %>
      <%= hidden_field_tag(:search_name, @p[:search_name])%>
      <%= button_tag(raw("<span class='glyphicon glyphicon-download down'></span> Download these results"), :type => "submit", :class => "btn btn-primary btn-animate", :"data-loading-text" => raw("<span class='glyphicon glyphicon-time'></span> Please wait..."), :id => "downloadDataset" ) %>
    <% end %>
  </div>
</div>
<% if @number_found > 0 %>
  <div class='card card-nav'>
    <div class='card-title card-title-colored'>
      <ul class="nav nav-tabs visualisations" id="viz-tabs">
        <li class="active"><a id="biodiversityAnalysis-tab" href="#biodiversityAnalysis" data-toggle="tab">Biodiversity Analysis</a></li>
        <li><a id="functionalAnalysis-tab" href="#functionalAnalysis" data-toggle="tab">Functional Analysis</a></li>
      </ul>
    </div>
    <div class='card-supporting-text multi-results'>
      <div class="full-screen-container tab-content multi-search not-full-screen">
        <div id="buttons" class='buttons-single'></div>
        <div class="full-screen-bar">
          <div class="logo"><img src="<%= asset_path('trans_logo.png') %>" alt="logo" width="40" height="40"></div>
          <nav class="fullScreenNav">
            <ul class="visualisations">
              <li class="active"><a href="#biodiversityAnalysis" data-toggle="tab">Biodiversity Analysis</a></li>
              <li><a href="#functionalAnalysis" data-toggle="tab">Functional Analysis</a></li>
            </ul>
          </nav>
          <div class="fullScreenActions">
            <a title="Reset the visualisation" class="btn-animate reset"><span class="glyphicon glyphicon-repeat spin"></span></a>
            <a title="Download the current view as an svg or png image" class="btn-animate download"><span class="glyphicon glyphicon-download down"></span></a>
            <a title="Exit full screen mode" class="btn-animate exit"><span class="glyphicon glyphicon-resize-small shrink"></span></a>
          </div>
        </div>
        <div class="tab-content">
          <div class="tab-pane active" id="biodiversityAnalysis">
            <div class='card-supporting-text multi-results-sub'>
              <ul class="nav nav-tabs sub-navigation">
                <li class="active"><a class="subnav-link" href="#sunburstWrapper" data-toggle="tab">Sunburst</a></li>
                <li><a class="subnav-link" href="#d3TreeMapWrapper" data-toggle="tab">Treemap</a></li>
                <li><a class="subnav-link" href="#d3TreeViewWrapper" data-toggle="tab">Treeview</a></li>
              </ul>
            </div>
            <div class="tab-content tab-nav">
              <div class="tab-pane active" id="sunburstWrapper">
                <h2 class="ghead">
                  <span class="dir">
                    <a class="btn btn-xs btn-default btn-animate reset" id="sunburst-reset" title="reset visualisation"><span class="glyphicon glyphicon-repeat spin"></span></a>
                  </span>
                  <span class="dir">
                    <div class="btn-group colorswap" id="colorswap">
                      <a class="btn btn-xs btn-default dropdown-toggle colorswap-button" data-toggle="dropdown" id="colorswap-button"><span class="glyphicon glyphicon-cog"></span></a>
                      <ul class="dropdown-menu dropdown-menu-right dropdown-menu-form">
                        <li title="Enabling this will assign fixed colors to taxa making it easier to compare samples.">
                          <div class="checkbox"><label class="checkbox"><input class="colorswap-checkbox" type="checkbox" id="colorswap-checkbox">Use fixed colors</label></div>
                        </li>
                      </ul>
                    </div>
                  </span>
                  <span class="dir text">Click a slice to zoom in and the center node to zoom out</span>
                </h2>
                <div class="sunburst" id="sunburst">
                  <div class="sunburstPanel" id="sunburstPanel">&nbsp;</div>
                </div>
              </div>
              <div class="tab-pane" id="d3TreeMapWrapper">
                <h2 class="ghead">
                  <span class="dir">
                    <a class="btn btn-xs btn-default btn-animate" id="treemap-reset" title="reset visualisation"><span class="glyphicon glyphicon-repeat spin"></span></a>
                  </span>
                  <span class="dir text">Click a square to zoom in and right click to zoom out</span>
                </h2>
                <div id="d3TreeMap"></div>
              </div>
              <div class="tab-pane" id="d3TreeViewWrapper">
                <h2 class="ghead">
                  <span class="dir">
                    <a class="btn btn-xs btn-default btn-animate" id="treeview-reset" title="reset visualisation"><span class="glyphicon glyphicon-repeat spin"></span></a>
                  </span>
                  <span class="dir text">Scroll to zoom, drag to pan, click a node to expand, right click a node to set as root</span>
                </h2>
                <div id="d3TreeView"></div>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="functionalAnalysis">
            <div class='card-supporting-text multi-results-sub'>
              <ul class="nav nav-tabs sub-navigation">
                <li class="active"><a class="subnav-link" href="#ecSunburstWrapper" data-toggle="tab">Sunburst</a></li>
                <li><a class="subnav-link" href="#goTreeViewWrapper" data-toggle="tab">GO Treeview</a></li>
                <li><a class="subnav-link" href="#pieChart" data-toggle="tab">Piechart</a></li>
                <li><a class="subnav-link" href="#barChart" data-toggle="tab">Barchart</a></li>
              </ul>
            </div>

            <div class="tab-content tab-nav">
              <div class="tab-pane active" id="ecSunburstWrapper">
                <h2 class="ghead">
                  <span class="dir">
                    <a class="btn btn-xs btn-default btn-animate reset" id="ecSunburst-reset" title="reset visualisation"><span class="glyphicon glyphicon-repeat spin"></span></a>
                  </span>
                  <span class="dir">
                    <div class="btn-group colorswap" id="ecColorswap">
                      <a class="btn btn-xs btn-default dropdown-toggle colorswap-button" data-toggle="dropdown" id="ecColorswap-button"><span class="glyphicon glyphicon-cog"></span></a>
                      <ul class="dropdown-menu dropdown-menu-right dropdown-menu-form">
                        <li title="Enabling this will assign fixed colors to taxa making it easier to compare samples.">
                          <div class="checkbox"><label class="checkbox"><input class="colorswap-checkbox" type="checkbox" id="ecColorswap-checkbox">Use fixed colors</label></div>
                        </li>
                      </ul>
                    </div>
                  </span>
                  <span class="dir text">Click a slice to zoom in and the center node to zoom out</span>
                </h2>
                <div class="sunburst" id="ecSunburst">
                  <div class="sunburstPanel" id="ecSunburstPanel">&nbsp;</div>
                </div>
              </div>
              <div class="tab-pane" id="goTreeViewWrapper">
                <h2 class="ghead">
                  <span class="dir">
                    <a class="btn btn-xs btn-default btn-animate" id="treeview-reset" title="reset visualisation"><span class="glyphicon glyphicon-repeat spin"></span></a>
                  </span>
                  <span class="dir text">Scroll to zoom, drag to pan, click a node to expand, right click a node to set as root</span>
                </h2>
                <div id="goTreeView"></div>
              </div>
              <div class="tab-pane" id="pieChart"></div>
              <div class="tab-pane" id="barChart"></div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
<div class='card card-nav'>
  <div class='card-title card-title-colored'>
    <ul class="nav nav-tabs">
      <li class="active"><a href="#outline" data-toggle="tab">Hierarchical outline</a></li>
      <li><a href="#mismatches" data-toggle="tab">Mismatches</a></li>
    </ul>
  </div>
  <div class='card-supporting-text'>
    <div class="tab-content multi-search">
      <div class="tab-pane active" id="outline">
        <div class="input-group" id="tree_search_group">
          <%= search_field_tag(:tree_search, "", :placeholder => "search for an organism...", :class => "form-control") %>
          <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
        </div>
        <div class="visualClear"></div>
        <div id="searchtree" class="treeView multi"></div>
        <div id="tree_data">
          <p>Click on a node in the tree to see the peptides associated with that organism.</p>
        </div>
      </div>
      <div class="tab-pane" id="mismatches">
        <% if @json_missed.length > 2 %>
          <div class="row">
            <div class="col-md-6">
              <ul class="mismatches">
              </ul>
            </div>
            <div class="col-md-6">
              <div id="copy-missed" class="zero-clipboard"><span class="btn-clipboard">Copy</span></div>
              <div class="well">
                <h3>Sorry,</h3>
                <p>We didn't manage to find some of your peptides. You can <strong><span class="initialism">BLAST</span></strong> them by clicking the links on the left or <strong>copy</strong> them to your clipboard with the top right link.</p>
              </div>
            </div>
          </div>
        <% else %>
          <p>There are no mismatches, we found all your peptides!</p>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div id="tooltip" class="tip"></div>
<% if @number_found > 0 %>
  <script type="text/javascript">
    var diversityData = <%= raw(@json_tree)%>;
    var sequences = <%= raw(@json_sequences)%>;
    var missed = <%= raw(@json_missed)%>;
    var functionalData = <%= raw(@ec_root)%>;
    var barchartEcData = <%= raw(@ecBarChart)%>;
    var go_tree = <%= raw(@go_root)%>;

    $(function () {
        constructMultisearch({
            diversityData : diversityData,
            equateIL : <%=@equate_il %>,
            missed : missed,
            functionalData: functionalData,
            barchartEcData: barchartEcData,
            go_tree: go_tree,
            sequences : sequences});
    });
  </script>
<% end %>
