<p>We matched <%= @number_found %> of the <%= pluralize(@number_searched_for, "peptide") %>.</p>
<ul>
<% @matches.each do |taxon, number| %>
	<li><%= taxon.name %> (<%= taxon.rank %>): <%= number %></li>
<% end %>
</ul>