<h1><%= @title %></h1>

<p><%= @intro_text %></p>

<% if @number_found > 0 %>
	<ul class="nav nav-tabs" id="viz-tabs">
		<li class="active"><a href="#sunburstWrapper" data-toggle="tab">Sunburst</a></li>
	  <li><a href="#treeMapWrapper" data-toggle="tab">Treemap</a></li>
	</ul>
	
	<div id="buttons"></div>
	
	<div class="tab-content multi-search">
		<div class="tab-pane active" id="sunburstWrapper">
			<h2 class="ghead"><span class="dir">Click a slice to zoom in and the center node to zoom out</span></h2>
			<div id="sunburst"></div>
		</div>	
		<div class="tab-pane active" id="treeMapWrapper">
			<h2 class="ghead"><span class="dir">Click a square to zoom in and right click to zoom out</span></h2>
			<div id="treeMap"></div>
		</div>
	</div>

<h2>Hierarchical outline</h2>
<div class="input-append">
<%= search_field_tag(:jstree_search, "", :placeholder => "search for an organism...") %><span class="add-on"><i class="icon-search"></i></span>
</div>
<div class="visualClear"></div>
<div id="jstree"></div>
<div id="jstree_data"><p>Click on a node in the tree to see the peptides associated with that organism.</p></div>

<% end %>

<% if @misses.size > 0 %>
<div class="visualClear"><!-- --></div>
<h2>Mismatches</h2>
<p>We didn't manage to find some of your peptides. You can BLAST them by clicking the links below.</p>
<ul class="mismatches">
	<% for @seq in @misses do %>
	<li><%= link_to @seq , "http://blast.ncbi.nlm.nih.gov/Blast.cgi?PAGE_TYPE=BlastSearch&SET_SAVED_SEARCH=on&USER_FORMAT_DEFAULTS=on&PAGE=Proteins&PROGRAM=blastp&QUERY="+@seq+"&GAPCOSTS=11%201&EQ_MENU=Enter%20organism%20name%20or%20id--completions%20will%20be%20suggested&DATABASE=nr&BLAST_PROGRAMS=blastp&MAX_NUM_SEQ=100&SHORT_QUERY_ADJUST=on&EXPECT=10&WORD_SIZE=3&MATRIX_NAME=BLOSUM62&COMPOSITION_BASED_STATISTICS=2&SHOW_OVERVIEW=on&SHOW_LINKOUT=on&ALIGNMENT_VIEW=Pairwise&MASK_CHAR=2&MASK_COLOR=1&GET_SEQUENCE=on&NEW_VIEW=on&NUM_OVERVIEW=100&DESCRIPTIONS=100&ALIGNMENTS=100&FORMAT_OBJECT=Alignment&FORMAT_TYPE=HTML&OLD_BLAST=false", :target => "_blank" %> <i class='icon-share-alt'></i></li>
	<% end %>
</ul>
<% end %>

<% if @number_found > 0 %>
<!--[if IE]><%= javascript_include_tag "jit/Extras/excanvas.js"%><![endif]-->
<script type="text/javascript">
	var data1 = <%= raw(@treemap_json)%>
	var data2 = <%= raw(@sunburst_json)%>
	$(function () {init_multi(data1, data2, <%=@equate_il %>);});
</script>
<% end %>

<div id='save-as-modal' class='modal hide fade'>
	<div class='modal-header'>
		<button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button>
		<h3>Right click the image to save to disk</h3>
	</div>
	<div class='modal-body'></div>
	<div class="modal-footer">If you use this figure in a publication, please cite: <br/> Mesuere et al. (2012) J. Proteome Res. <a href="http://dx.doi.org/10.1021/pr300576s" target="_blank">doi:10.1021/pr300576s</a></div>
</div>
