<h1><%= @sequence.sequence %></h1>
<% if @organisms.empty? %>
	<span>No results were found for this sequence.</span>
<% else %>
	<span>
		The sequence <%= @sequence.sequence %> occurs in 
		<%= pluralize(@organisms.count, "organism") %>, 
		<%= pluralize(@species.count, "species") %> and 
		<%= pluralize(@genera.count, "genus") %>.
	</span>
	<ul class="peptides">
		<%= render @organisms %>
	</ul>
<% end %>