<h1><%= @title %></h1>
<% if @lineages.empty? %>
  <p class="lead">No results were found for <%= @original_sequence %>.</p>
<% else %>
  <p class="lead"><span class="initialism"><%= @original_sequence %></span> was found in <b><%= @entries.size %></b> <%= 'UniProt entry'.pluralize(@entries.size) %> with a lowest common ancestor of <b><%= @lca_taxon.name %></b>.</p>
  <p>Summary of the analysis:</p>
  <ul>
    <li>Lowest common ancestor: <%= link_to @lca_taxon.name, "http://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?mode=Info&id=" + @lca_taxon.id.to_s, :target => "_blank", :title => @lca_taxon.rank %> (<%=@lca_taxon.rank%>)</li>
    <li>Common lineage: <%= raw @common_lineage.length==0 ? "nothing" : @common_lineage.map{|t| link_to t.name, "http://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?mode=Info&id=" + t.id.to_s, :target => "_blank", :title => t.rank }.join(" > ") %></li>
    <li><%= link_to "Blast "+@original_sequence , "http://blast.ncbi.nlm.nih.gov/Blast.cgi?PAGE_TYPE=BlastSearch&SET_SAVED_SEARCH=on&USER_FORMAT_DEFAULTS=on&PAGE=Proteins&PROGRAM=blastp&QUERY="+@original_sequence+"&GAPCOSTS=11%201&EQ_MENU=Enter%20organism%20name%20or%20id--completions%20will%20be%20suggested&DATABASE=nr&BLAST_PROGRAMS=blastp&MAX_NUM_SEQ=100&SHORT_QUERY_ADJUST=on&EXPECT=10&WORD_SIZE=3&MATRIX_NAME=BLOSUM62&COMPOSITION_BASED_STATISTICS=2&SHOW_OVERVIEW=on&SHOW_LINKOUT=on&ALIGNMENT_VIEW=Pairwise&MASK_CHAR=2&MASK_COLOR=1&GET_SEQUENCE=on&NEW_VIEW=on&NUM_OVERVIEW=100&DESCRIPTIONS=100&ALIGNMENTS=100&FORMAT_OBJECT=Alignment&FORMAT_TYPE=HTML&OLD_BLAST=false", :target => "_blank", :title => "Open in BLAST"%></li>
  </ul>
  <div class='card card-nav'>
    <div class='card-title card-title-colored'>
      <div id="single-peptide-tabs">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#lineage-tree" id="lineage-tree-tab" data-toggle="tab">Lineage tree <span class="small glyphicon glyphicon-question-sign help btn-icon"></span></a></li>
          <li><a href="#lineage-table" id="lineage-table-tab" data-toggle="tab">Lineage table <span class="small glyphicon glyphicon-question-sign help btn-icon"></span></a></li>
          <li><a href="#proteins" data-toggle="tab">Protein matches <span class="badge"><%= @entries.size %></span></a></li>
          <li><a href="#ec-tree" id="ec-tree-tab" data-toggle="tab">EC number tree <span class="small glyphicon glyphicon-question-sign help btn-icon"></span></a></li>
          <li><a href="#ec-table" data-toggle="tab">EC number table <span class="small glyphicon glyphicon-question-sign help btn-icon"></span></a></li>
        </ul>
      </div>
    </div>
    <div class='card-supporting-text'>
      <div class="tab-content">
        <div class="tab-pane active" id="lineage-tree">
          <div class="tpa-tree" id="lineageTree"></div>
          <div id="buttons-single" class="buttons-single"></div>
        </div>
        <div class="tab-pane" id="lineage-table">
          <div id="sequence_table">
            <% colors = Hash.new %>
            <table class="table table-condensed">
              <thead>
                <tr>
                  <% for rank in @table_ranks do%>
                    <th><%= rank %></th>
                  <% end %>
                </tr>
              </thead>
              <% i = -1 %>
              <% for lineage in @table_lineages do%>
                <% i += 1 %>
                <tr>
                  <td><strong><%= lineage.delete_at(0) %></strong></td>
                  <% for rank in lineage do%>
                    <% if !rank.nil? %>
                      <% colors.store(rank.id, "c"+(i%30).to_s) if !colors.has_key?(rank.id) %>
                      <td class="<%= colors[rank.id] %>"><%= link_to rank.name, "http://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?mode=Info&id=" + rank.id.to_s, :target => "_blank", :title => "Open in NCBI" %></td>
                    <% else %>
                      <td></td>
                    <% end %>
                  <% end %>
                </tr>
              <% end %>
            </table>
          </div>
        </div>
        <div class="tab-pane" id="proteins">
          <div class="buttons-single">
            <button id="clipboard-uniprot" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-copy"></span> Copy to clipboard</button>
            <button id="open-uniprot" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-new-window"></span> Open in UniProt</button>
          </div>
          <table class="table table-condensed table-hover protein-info">
            <thead>
              <tr>
                <th class="id">Uniprot ID</th>
                <th class="name">Name</th>
                <th class="organism">Organism</th>
                <th class="ec">EC number</th>
                <th class="go">GO terms</th>
              </tr>
            </thead>
            <% for entry in @entries do %>
              <% unless entry.name.nil? %>
                <tr>
                  <td>
                    <div class="btn-group">
                      <a class="btn btn-default btn-xs dropdown-toggle externalLinks-button" data-toggle="dropdown"><%= entry.uniprot_accession_number %> <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li role="presentation" class="dropdown-header">Open on external site</li>
                        <li><%= link_to "Uniprot", "http://www.uniprot.org/uniprot/"+entry.uniprot_accession_number, :target => "_blank" %></li>
                        <li><%= link_to "PRIDE", "http://www.ebi.ac.uk/pride/searchSummary.do?queryTypeSelected=identification%20accession%20number&identificationAccessionNumber="+entry.uniprot_accession_number, :target => "_blank" %></li>
                        <li><%= link_to "PeptideAtlas", "https://db.systemsbiology.net/sbeams/cgi/PeptideAtlas/Search?apply_action=GO&exact_match=exact_match%22&search_key="+entry.uniprot_accession_number, :target => "_blank" %></li>
                      </ul>
                    </div>
                  </td>
                  <td><%= entry.name %></td>
                  <td><%= link_to entry.taxon.name, "http://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?mode=Info&id="+entry.taxon.id.to_s, :target => "_blank" %></td>
                  <td><%= raw(entry.ec_cross_references.map{|ec| "<a href='http://enzyme.expasy.org/EC/"+ec.ec_number+"' target='_blank'>"+ec.ec_number+"</a>"}.join(", ")) %></td>
                  <td><%= raw(entry.go_cross_references.map{|go| "<a href='http://amigo.geneontology.org/amigo/term/"+go.go_id+"' target='_blank'>"+go.go_id+"</a>"}.join(", ")) %></td>
                </tr>
              <% end %>
            <% end %>
          </table>
        </div>
        <div class="tab-pane" id="ec-tree">
          <div class="tpa-tree" id="ecTree"></div>
          <div id="buttons-second" class="buttons-second"></div>
        </div>
        <div class="tab-pane" id="ec-table">
          <div id="sequence_table">
          <% colors = Hash.new %>
          <table class="table table-condensed">
            <thead>
              <tr>
                <%=@test1%>
                <% pos = 0%>
                <% while pos < (@ec_column_name.length) do %>
                  <th><%= @ec_column_name[pos] %></th>
                  <% pos += 1%>
                <% end %>
              </tr>
            </thead>
            <% counter = 0 %>
            <% i = -1 %>
            <% while counter < @ec_lca_table_sorted.length do %>
              <% i += 2 %>
              <tr>
                <% if counter % 2 == 0%>
                  <td><strong><%= link_to @ec_lca_table_sorted[counter], "http://enzyme.expasy.org/EC/" + @ec_lca_table_sorted[counter] %></strong></td>
                  <% subcounter = 0 %>
                  <% while subcounter < (@ec_lca_table_sorted[counter+1].length) do %>
                    <% if @ec_lca_table_sorted[counter+1][subcounter] != "" %>
                      <% colors.store(@ec_lca_table_sorted[counter+1][subcounter], "c"+(i%30).to_s) if !colors.has_key?(@ec_lca_table_sorted[counter+1][subcounter]) %>
                      <td class="<%= colors[@ec_lca_table_sorted[counter+1][subcounter]] %>"><%= link_to @ec_functions[@ec_lca_table_sorted[counter+1][subcounter]], "http://enzyme.expasy.org/EC/" + @ec_lca_table_sorted[counter+1][subcounter] %></td>
                    <% else %>
                      <td></td>
                    <% end %>
                    <% subcounter += 1 %>
                  <% end %>
                  <td><%= @ecc[@ec_lca_table_sorted[counter]] %></td>
                <% end %>
                <% counter += 2 %>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    $(function () {
      init_sequence_show({
        peptide: "<%= @original_sequence %>",
        tree: <%= raw(@root) %>,
        uniprotEntries: <%= raw(@entries.map(&:uniprot_accession_number).to_json) %>
      });
    });
  </script>
  <script type="text/javascript">
    $(function () {
      init_ec_show({
        tree: <%= raw(@ec_root) %>
      });
    });
  </script>
<% end %>
