<% content_for :javascripts do %>
  <%= javascript_pack_tag 'd3' %>
  <%= javascript_pack_tag 'sequence_show' %>
<% end %>
<h1><%= @title %></h1>
<% if @lineages.empty? %>
  <p class="lead">No results were found for <%= @original_sequence %>.</p>
<% else %>
  <p class="lead"><span class="initialism"><%= @original_sequence %></span> was found in <b><%= @entries.size %></b> <%= 'UniProt entry'.pluralize(@entries.size) %> with a lowest common ancestor of <b><%= @lca_taxon.name %></b>.</p>

<div class="row">
<div class="col-xs-6" id="sequences-content">
   <h3>Taxonomy</h3>
  <p>
  The <strong>lowest common ancestor</strong> is 
  <%= link_to @lca_taxon.name, "https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?mode=Info&id=" + @lca_taxon.id.to_s, :target => "_blank", :title => @lca_taxon.rank %> (<%=@lca_taxon.rank%>).
  </p>
  <p>The <strong>common lineage</strong> for all these proteins is: <% if @common_lineage.length > 1 %><br><% end %>
  <%= raw @common_lineage.length==0 ? "nothing" : @common_lineage.map{|t| link_to t.name, "https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?mode=Info&id=" + t.id.to_s, :target => "_blank", :title => t.rank }.join(" > ") %>
  </p>
</div>
<div class="col-xs-6">
   <h3>Function</h3>
   <% {"GO" => "GO term", "EC" => "EC number"}.each do |field,name| %>
   <p>
    <% case @fa_summary['num'][field] 
       when 0 %>
    <b>No proteins</b> have a 
    <% when @fa_summary['num']['all'] %>
    <b>All proteins</b> have at least one
    <% else %>
    <b><%=@fa_summary['num'][field] %> proteins</b> (<%='%.1f' % (100*@fa_summary['num'][field].fdiv(@fa_summary['num']['all']))%>%) have at least one 
    <% end %>
    <b><%=name%></b> assigned to them.
  </p><% end %>
</div></div>




  <div class='card card-nav'>
    <div class='card-title card-title-colored'>
      <div id="single-peptide-tabs">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#proteins" data-toggle="tab">Protein matches</a></li>
          <li><a href="#lineage-tree" id="lineage-tree-tab" data-toggle="tab">Lineage tree</a></li>
          <li><a href="#lineage-table" id="lineage-table-tab" data-toggle="tab">Lineage table</a></li>
          <li><a href="#go" data-toggle="tab">GO terms</a></li>
          <li><a href="#ec" data-toggle="tab">EC numbers</a></li>
        </ul>
      </div>
    </div>
    <div class='card-supporting-text'>
      <div class="tab-content" id="sequences-content">
        <div class="tab-pane active" id="proteins">
          <div class="buttons-extra">
            <button id="clipboard-uniprot" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-copy"></span> Copy to clipboard</button>
            <button id="open-uniprot" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-new-window"></span> Open in UniProt</button>
          </div>
          <div class="panel-heading">
          This table shows the UniProt entries whose protein sequence contains an exact match of the tryptic peptide.
          </div> 
          <table class="table table-condensed table-hover protein-info">
            <thead>
              <tr>
                <th class="id">Uniprot ID</th>
                <th class="name">Name</th>
                <th class="organism">Organism</th>
                <th class="ec">EC numbers</th>
                <th class="go">GO terms</th>
              </tr>
            </thead>
            <% for entry in @entries do %>
              <% unless entry.name.nil? %>
                <tr>
                  <td>
                    <div class="btn-group">
                      <a class="btn btn-default btn-xs dropdown-toggle externalLinks-button" data-toggle="dropdown"><%= entry.uniprot_accession_number %> <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li role="presentation" class="dropdown-header">Open on external site</li>
                        <li><%= link_to "UniProt", "https://www.uniprot.org/uniprot/"+entry.uniprot_accession_number, :target => "_blank" %></li>
                        <li><%= link_to "PRIDE", "https://www.ebi.ac.uk/pride/searchSummary.do?queryTypeSelected=identification%20accession%20number&identificationAccessionNumber="+entry.uniprot_accession_number, :target => "_blank" %></li>
                        <li><%= link_to "PeptideAtlas", "https://db.systemsbiology.net/sbeams/cgi/PeptideAtlas/Search?apply_action=GO&exact_match=exact_match%22&search_key="+entry.uniprot_accession_number, :target => "_blank" %></li>
                      </ul>
                    </div>
                  </td>
                  <td><%= entry.name %></td>
                  <td><%= link_to entry.taxon.name, "https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?mode=Info&id="+entry.taxon.id.to_s, :target => "_blank" %></td>
                  <td><%= raw(entry.ec_cross_references.map{|ec| "<a href='https://enzyme.expasy.org/EC/"+ec.ec_number_code+"' class='ecNumberLink' target='_blank'>"+ec.ec_number_code+"</a>"}.join(", ")) %></td>
                  <td><%= raw(entry.go_cross_references.map{|go| "<a href='https://www.ebi.ac.uk/QuickGO/term/"+go.go_term_code+"' class='goTermLink' target='_blank'>"+go.go_term_code+"</a>"}.join(", ")) %></td>
                </tr>
              <% end %>
            <% end %>
          </table>
        </div>
        <div class="tab-pane" id="lineage-tree">
          <div id="buttons-single" class="buttons-extra"></div>
          <div class="panel-heading">
          This interactive tree bundles the complete taxonomic lineages of all UniProt entries whose protein sequence contains the tryptic peptide. You can click on nodes to expand them, scroll to zoom and drag to move the tree.
          </div> 
          <div id="lineageTree"></div>
        </div>
        <div class="tab-pane" id="lineage-table">
          <div class="panel-heading">
          This table shows the complete taxonomic lineages of all taxa associated with the UniProt entries whose protein sequence contains the tryptic peptide. The first column contains the taxon name extracted from the UniProt entry, followed by columns representing taxonomic ranks ordered from superkingdom on the left to forma on the right.
          </div> 
          <div id="sequence_table">
            <% colors = Hash.new %>
            <table class="table table-condensed">
              <thead>
                <tr>
                  <% for rank in @table_ranks do%>
                    <th><%= rank %></th>
                  <% end %>
                </tr>
              </thead>
              <% i = -1 %>
              <% for lineage in @table_lineages do%>
                <% i += 1 %>
                <tr>
                  <td><strong><%= lineage.delete_at(0) %></strong></td>
                  <% for rank in lineage do%>
                    <% if !rank.nil? %>
                      <% colors.store(rank.id, "c"+(i%30).to_s) if !colors.has_key?(rank.id) %>
                      <td class="<%= colors[rank.id] %>"><%= link_to rank.name, "https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?mode=Info&id=" + rank.id.to_s, :target => "_blank", :title => "Open in NCBI" %></td>
                    <% else %>
                      <td></td>
                    <% end %>
                  <% end %>
                </tr>
              <% end %>
            </table>
          </div>
        </div>
        <div class="tab-pane" id="go">
          <div class="panel-heading">
          At least one GO term was assigned to <%=@fa_summary['num']['GO'] %> of the <%=@fa_summary['num']['all']%>  matched proteins (<%='%.1f' % (100*@fa_summary['num']['GO'].fdiv(@fa_summary['num']['all']))%>%).
          <div id="go-panel">Please wait while we are building a summary</div>
        </div>
        </div>
        <div class="tab-pane" id="ec">
          <div class="panel-heading">
          At least one EC number was assigned to <%=@fa_summary['num']['EC'] %> of the <%=@fa_summary['num']['all']%> matched proteins (<%='%.1f' % (100*@fa_summary['num']['EC'].fdiv(@fa_summary['num']['all']))%>%).
          </div>
          <div id="ec-table">Please wait while we are building a summary</div>
          <div id="ecTreeView">
            <button id='save-btn-ec' disabled="disabled" class='btn btn-default btn-xs btn-animate'><span class='glyphicon glyphicon-download down'></span> Save tree as image</button>
            <div>Please wait while we are building a summary</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="tooltip" class="tip"></div>
  <script type="text/javascript">
    $(function () {
      new SPA(<%= raw render(:template => "sequences/_data.json.jbuilder") %>);
    });
  </script>
<% end %>
