<h1><%= @sequence.sequence %></h1>
<h2>Information</h2>
<% if @lineages.empty? %>
	<p>No results were found for this sequence.</p>
<% else %>
  <p>
    The lowest common ancestor of <%= @sequence.sequence %> 
    is <strong><%=@lca_taxon.name %></strong> which has the rank 
    of <strong><%=@lca_taxon.rank%></strong>.<br/>
  </p>
	<p>The common lineage of this sequence is: <%= @common_lineage=="" ? "nothing" : @common_lineage %>. <br/></p>
	<!-- <p>Below this level:<br/>
	<% i=0 %>
	<% for lineage in @lineages do%>
		<span><strong><%= lineage.name.name unless lineage.name.nil?%></strong>
			<%= ":" unless  @distinct_lineages[i]=="" %>
			<%= @distinct_lineages[i] %>
			<% i += 1 %>
		<br/></span>
	<% end %>
	</p>-->
	
	<div id="sequence_table">
		<% colors = Hash.new %>
		<table>
		<tr class="tabelheader"><td colspan="<%= @table_ranks.size %>">Overview</td></tr>
		<tr class="legende">
			<% for rank in @table_ranks do%>
				<td><%= rank %></td>
			<% end %>
		</tr>
		<% i = -1 %>
		<% for lineage in @table_lineages do%>
			<% i += 1 %>
			<tr>
				<td><strong><%= lineage.delete_at(0) %></strong></td>
				<% for rank in lineage do%>
				<% if !rank.nil? %>
					<% colors.store(rank.id, "c"+(i%19).to_s) if !colors.has_key?(rank.id) %>
					<td class="center klik <%= colors[rank.id] %>" title="<%= rank.name %>"><%= rank.id %></td>
				<% else %>
					<td></td>
				<% end %>
				<% end %>
			</tr>
		<% end %>
		</table>
	</div>
	
	<h2>Lineage</h2>
	<div id="lineageTree"></div>
	
	<h2>External links</h2>
	<ul>
		<li> <%= link_to "Blast this peptide" , "http://blast.ncbi.nlm.nih.gov/Blast.cgi?PAGE_TYPE=BlastSearch&SET_SAVED_SEARCH=on&USER_FORMAT_DEFAULTS=on&PAGE=Proteins&PROGRAM=blastp&QUERY="+@sequence.sequence+"&GAPCOSTS=11%201&EQ_MENU=Enter%20organism%20name%20or%20id--completions%20will%20be%20suggested&DATABASE=nr&BLAST_PROGRAMS=blastp&MAX_NUM_SEQ=100&SHORT_QUERY_ADJUST=on&EXPECT=10&WORD_SIZE=3&MATRIX_NAME=BLOSUM62&COMPOSITION_BASED_STATISTICS=2&SHOW_OVERVIEW=on&SHOW_LINKOUT=on&ALIGNMENT_VIEW=Pairwise&MASK_CHAR=2&MASK_COLOR=1&GET_SEQUENCE=on&NEW_VIEW=on&NUM_OVERVIEW=100&DESCRIPTIONS=100&ALIGNMENTS=100&FORMAT_OBJECT=Alignment&FORMAT_TYPE=HTML&OLD_BLAST=false", :target => "_blank" %> <%= image_tag("externesite.gif", :alt => "Blast")%></li>
		
		<li> Open in uniprot: 
			<ul>
				<% for entry in @entries do %>
				<li><%= link_to entry.name.name, "http://www.uniprot.org/uniprot/"+entry.uniprot_accession_number, :target => "_blank" %> <%= image_tag("externesite.gif", :alt => "Uniprot")%></li>
				<% end %>
			</ul>
		</li>
	</ul>

	<!-- JIT Library File --> 
	<!--[if IE]><%= javascript_include_tag "jit/Extras/excanvas.js"%><![endif]-->
	<%= javascript_include_tag "jit/jit-yc.js", "sequence_show.js" %>
	<script type="text/javascript">
		window.onload=init(<%= raw(@root)%>);
	</script>

<% end %>