<h1><%= @sequence.sequence %></h1>
<% if @lineages.empty? %>
	<p>No results were found for this sequence.</p>
<% else %>
  <p>
    The lowest common ancestor of <%= @sequence.sequence %> 
    is <strong><%=@lca_taxon.name %></strong> which has the rank 
    of <strong><%=@lca_taxon.rank%></strong>.<br/>
  </p>
	<p>The common lineage of this sequence is: <%= @common_lineage %>. <br/></p>
	<p>Below this level:<br/>
	<% i=0 %>
	<% for lineage in @lineages do%>
		<span><strong><%= lineage.name.name unless lineage.name.nil?%></strong>
			<%= ":" unless  @distinct_lineages[i]=="" %>
			<%= @distinct_lineages[i] %>
			<% i += 1 %>
		<br/></span>
	<% end %>
	</p>
	<div id="infovis" style="width: 742px; height: 500px;"></div>
	<!--[if IE]><script language="javascript" type="text/javascript" src="/javascripts/jit/Extras/excanvas.js"></script><![endif]--> 

	<!-- JIT Library File --> 
	<script type="text/javascript" src="/javascripts/jit/jit-yc.js"></script>
	<script type="text/javascript" src="/javascripts/sequence_show.js"></script>
	<script type="text/javascript">
		window.onload=init(<%= raw(@root)%>);
	</script>
	
	<%= raw(@debug) %>

<% end %>