<h1><%= @title %></h1>
<h2>Information</h2>
<% if @lineages.empty? %>
	<p>No results were found for this sequence.</p>
<% else %>
  <ul>
    <li>Lowest common ancestor: <%= link_to @lca_taxon.name, "http://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?mode=Info&id=" + @lca_taxon.id.to_s, :target => "_blank" %> (<%=@lca_taxon.rank%>)</li>
		<li>Common lineage: <%= raw @common_lineage.length==0 ? "nothing" : @common_lineage.map{|t| link_to t.name, "http://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?mode=Info&id=" + t.id.to_s, :target => "_blank" }.join(" > ") %></li>
	</ul>
	
	<h2>Lineage</h2>
	<h3>Lineage tree</h3>
	<p>This interactive tree bundles the complete taxonomic lineages of all UniProtKB records whose protein sequence contains <%= @sequence_string %>. You can click on nodes to expand them. Take into account that due to gaps in the hierarchical structure of the NCBI taxonomy, taxonomic levels are not always properly aligned in the tree view.</p>
	<div id="buttons-single"></div>
	<div id="lineageTree"></div>
	
	<h3>Lineage table</h3>
	<p>This table shows the complete taxonomic lineages of all UniProtKB records whose protein sequence contains <%= @sequence_string %>. Each row represents the complete taxonomic lineage of a single UniProtKB record. The first column contains the name extracted from the UniProtKB record, follow by columns representing valid taxonomic ranks ordered from superkingdom on the left to forma on the right. Only ranks used in the complete lineages of the records in which the peptide was found are displayed as columns in the table. To ease the interpretation of the table, rows are ordered according to the taxonomic names in the taxonomic rank columns and cells containing the same taxonomic name are marked with the same color code per column.</p>
	<div id="sequence_table">
		<% colors = Hash.new %>
		<table class="table-no-hover table-condensed">
		<thead>
		<tr>
			<% for rank in @table_ranks do%>
				<th><%= rank %></th>
			<% end %>
		</tr>
		</thead>
		<% i = -1 %>
		<% for lineage in @table_lineages do%>
			<% i += 1 %>
			<tr>
				<td><strong><%= lineage.delete_at(0) %></strong></td>
				<% for rank in lineage do%>
				<% if !rank.nil? %>
					<% colors.store(rank.id, "c"+(i%30).to_s) if !colors.has_key?(rank.id) %>
					<td class="klik <%= colors[rank.id] %>"><%= rank.name %></td>
				<% else %>
					<td></td>
				<% end %>
				<% end %>
			</tr>
		<% end %>
		</table>
	</div>
	
	<h2>External links</h2>
	<ul>
		<li> <%= link_to "Blast this peptide" , "http://blast.ncbi.nlm.nih.gov/Blast.cgi?PAGE_TYPE=BlastSearch&SET_SAVED_SEARCH=on&USER_FORMAT_DEFAULTS=on&PAGE=Proteins&PROGRAM=blastp&QUERY="+@sequence_string+"&GAPCOSTS=11%201&EQ_MENU=Enter%20organism%20name%20or%20id--completions%20will%20be%20suggested&DATABASE=nr&BLAST_PROGRAMS=blastp&MAX_NUM_SEQ=100&SHORT_QUERY_ADJUST=on&EXPECT=10&WORD_SIZE=3&MATRIX_NAME=BLOSUM62&COMPOSITION_BASED_STATISTICS=2&SHOW_OVERVIEW=on&SHOW_LINKOUT=on&ALIGNMENT_VIEW=Pairwise&MASK_CHAR=2&MASK_COLOR=1&GET_SEQUENCE=on&NEW_VIEW=on&NUM_OVERVIEW=100&DESCRIPTIONS=100&ALIGNMENTS=100&FORMAT_OBJECT=Alignment&FORMAT_TYPE=HTML&OLD_BLAST=false", :target => "_blank" %> <i class="icon-share-alt"></i></li>
		
		<li> Open in uniprot: 
			<ul>
				<% for entry in @entries do %>
				<% unless entry.name.nil? %>
				<li><%= link_to entry.name.name, "http://www.uniprot.org/uniprot/"+entry.uniprot_accession_number, :target => "_blank" %> <i class="icon-share-alt"></i></li>
				<% end %>
				<% end %>
			</ul>
		</li>
	</ul>

	<!-- JIT Library File --> 
	<!--[if IE]><%= javascript_include_tag "jit/Extras/excanvas.js"%><![endif]-->
	<script type="text/javascript">
		$(function () {init_sequence_show(<%= raw(@root)%>, <%= @lca_taxon.id %>);});
	</script>
<% end %>

<div id='save-as-modal' class='modal hide fade'>
	<div class='modal-header'>
		<button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button>
		<h3>Right click the image to save to disk</h3>
	</div>
	<div class='modal-body'></div>
	<div class="modal-footer">If you use this figure in a publication, please cite: <br/> Mesuere et al. (2012) J. Proteome Res. <a href="http://dx.doi.org/10.1021/pr300576s" target="_blank">doi:10.1021/pr300576s</a></div>
</div>
