<h1><%= @sequence.sequence %></h1>
<% if @lineages.empty? %>
	<span>No results were found for this sequence.</span>
<% else %>
  <span>
    The lowest common ancestor of <%= @sequence.sequence %> 
    is <strong><%=@lca_taxon.name %></strong> which has the rank 
    of <strong><%=@lca_taxon.rank%></strong>.<br/>
  </span>
	<span>The common lineage of this sequence is: <%= @common_lineage %>. <br/></span>
	<% i=0 %>
	<% for lineage in @lineages do%>
		<span><strong><%= lineage.name.name %></strong>:
			<%= @distinct_lineages[i] %>
			<% i += 1 %>
		<br/></span>
	<% end %>
<% end %>